<style src="./style.css" module></style>

<template>
  <form :class="['flex fl-dc fl-aic fl-sb', $style.notification]" @submit.prevent="assignTicket">
    <div>
      <a-link type="main"
              color="blue" 
              :href="'/#/oneticket?ticket='+notification.ticket_id"
              text="Этот протокол"
              target="_blank"></a-link> подходит вам по ключевым словам. Вы хотите назначить себя ответственным?
    </div>
    <div :class="['flex', 'fl-sa']" style="width: 250px;">
      <a-button modificator="ordinary" text="Да, назначить меня" color="blue" textType="none"></a-button>
      <a-button modificator="ordinary" text="Нет, спасибо" color="greyLight" textType="none" type="button" @click="remove"></a-button>
    </div>
  </form>
</template>

<script type="text/javascript">

export default {
  name: 'mKeyword',
  computed: {
    notification () {
      return this.$store.getters.getKeywordNotif
    }
  },
  methods: {
    assignTicket () {
      this.$api.assignUserChecked(this.$auth.currentUser().id, this.notification.ticket_id)
        .then(res => {
          const newHistory = this.$util.staffHistory(this.$auth.currentUser().id, this.$auth.currentUser().id, 'assign', [this.notification.ticket_id])
          this.$socket.emit('addStaffHistory', { newHistory, roomName: `company-${this.$auth.currentUser().company}` })
          this.$store.commit('deleteKeywordNotif')
          this.$notify({
            group: 'tickets',
            type: 'success',
            text: 'Вы назначены ответственным за этот протокол',
            speed: 300
          })
        }).catch(err => {
          if (err.response.data.message === 'Invalid token') {
            this.$auth.logout().then(res => { this.$router.go('login') })
          } else {
            this.$notify({
              group: 'tickets',
              type: 'error',
              text: err.response.data.message,
              speed: 300
            })
          }
        })
    },
    remove () {
      this.$api.deleteNotification(this.notification.id)
        .then(res => {
          this.$store.commit('deleteKeywordNotif')
        }).catch(err => {
          if (err.response.data.message === 'Invalid token') {
            this.$auth.logout().then(res => { this.$router.go('login') })
          } else {
            this.$notify({
              group: 'tickets',
              type: 'error',
              text: err.response.data.message,
              speed: 300
            })
          }
        })
    }
  }
}
</script>
