.notification {
  width: 350px;
  padding: 15px;
  height: 85px;
  border-radius: 3px;
  box-shadow: 0px 4px 5px rgba(0,0,0,0.06);
  background-color: #ffffff;
  position: absolute;
  right: calc(50% - 175px);
  top: 25px;
  font-size: 12px;
  font-family: inherit;
  font-weight: 300;
  color: var(--color-grey-first);
  z-index: 1;
}