<style src="./stylesheets/reset.css" module></style>
<style src="./stylesheets/icons.css"></style>
<style src="./stylesheets/flex.css"></style>
<style src="./stylesheets/spacing.css"></style>

<template>
  <div>
    <Main-page/>
    <!-- <router-view></router-view> -->
  </div>
</template>

<script type="text/javascript">
import MainPage from 'Pages/main'
export default {
  name: 'App',
  components: {
    MainPage
  }
}
</script>
