<style src="./style.css" module></style>
<template>
  <img :src="getSrc" alt="Ваш аватар" :class="[$style.image, getSize]">
</template>
<script>
export default {
  name: 'aAvatar',
  props: {
    src: {
      type: String,
      default: '/images/photo-placeholder.png'
    },
    size: {
      type: String,
      default: 'small'
    }
  },
  computed: {
    getSize () {
      const styleMap = {
        'small': this.$style.imageSmall,
        'medium': this.$style.imageMedium,
        'big': this.$style.imageBig
      }
      return styleMap[this.size]
    },
    getSrc () {
      return this.src || '/images/photo-placeholder.png'
    }
  }
}
</script>