<style src="./style.css" module></style>
  <template>
    <a-grid :class="[$style.ticket]">
      <a-grid-item grid="grid-2-12" class="flex fl-aic">
        <a-avatar :src="ticket.user.avatar"></a-avatar>
      </a-grid-item>
      <a-grid-item grid="grid-8-12">
        <router-link :to="{ path: 'oneticket', query: { ticket: ticket.id }}" class="text-dec">
          <div class="flex fl-dc fl-sb" style="height: 100%;">
            <p><span :class="$style.ticketBlack">{{ticket.user.username}}</span> | <span>{{ticket.user.name}}</span></p>
            <p :class="$style.ticketDeadline"><i class="icon-alarm"></i>
              <a-date format="D MMM" :date="ticket.deadline" modificator="custom"></a-date></p>
          </div>
        </router-link>
      </a-grid-item>
      <a-grid-item grid="grid-2-12" class="flex fl-aic fl-fe">
        <div :class="[$style.ticketNumber]">
          #{{ticket.ticket_number}}
        </div>
      </a-grid-item>
    </a-grid>
  </template>

<script type="text/javascript">
export default {
  name: 'mDeadlineLate',
  props: {
    ticket: {
      type: Object
    }
  }
}
</script>
