<style src="./style.css" module></style>
<template>
  <div :class="[$style.list, $style.listClients]">
    <a-grid :class="[$style.listHeader, 'flex fl-aic']" v-if="isClient">
      <a-grid-item grid="grid-5" v-if="modificator !== 'staff'">
        <a-checkbox :checked="checkedUsers.indexOf('all') > -1" @change="changeCheckedUsers()"></a-checkbox>
      </a-grid-item>
      <a-grid-item grid="grid-2-12" class="flex fl-c fl-aic">
        <a-grid>
          <a-grid-item grid="grid-3-12" class="flex fl-aic">
            <a-button name="trash" 
                      modificator="ordinary" 
                      color="blue" 
                      :disabled="!(accessList === 'all' || accessList.findIndex(x => x.code === routerParam && x.action === 'delete') > -1)"
                      v-show="checkedUsers.length > 0" 
                      @click="deleteUser"></a-button>
          </a-grid-item>
          <a-grid-item grid="grid-2-12" class="flex fl-aic">
            <p>ID</p>
          </a-grid-item>
        </a-grid>
      </a-grid-item>
      <a-grid-item grid="grid-4-12" class="flex fl-aic" v-if="modificator !== 'staff'">
        <p>Компания</p>
      </a-grid-item>
      <a-grid-item :grid="clients[0].level === levelOfDir ? 'grid-2-12' : 'grid-3-12'"  
                   class="flex fl-aic" v-if="modificator === 'staff'">
        <p>Имя</p>
      </a-grid-item>
      <a-grid-item :grid="modificator !== 'staff' ? 'grid-4-12' : clients[0].level === levelOfDir ? 'grid-2-12' : 'grid-3-12'" 
                   class="flex fl-aic">
        <p>Почта</p>
      </a-grid-item>
      <a-grid-item grid="grid-3-12" 
                   class="flex fl-aic" 
                   v-if="modificator === 'staff' && clients[0] && clients[0].level >= levelOfDir">
        <p>Департамент</p>
      </a-grid-item>
      <a-grid-item :grid="clients[0].level === levelOfDir ? 'grid-2-12' : 'grid-3-12'" 
                   class="flex fl-aic" v-if="modificator === 'staff' && clients[0] && clients[0].level <= levelOfDir">
        <p>Руководитель</p>
      </a-grid-item>
      <a-grid-item grid="grid-1-12" class="flex fl-c fl-aic">
        <p>Действия</p>
      </a-grid-item>
    </a-grid>
    <div v-else :class="['flex', 'fl-c', 'fl-aic']" style="height:100%">
      <p>Здесь пусто</p>
    </div>
    <div v-if="isClient">
      <m-client :modificator="modificator" 
                v-for="client in clients" :key="client.username" :client="client" :levelOfDir="levelOfDir"></m-client>
    </div>
  </div>
</template>

<script>
import mClient from 'Molecules/client'
import eventBus from 'EventBus'

export default {
  name: 'oClientList',
  props: {
    clients: Array,
    modificator: String,
    levelOfDir: Number
  },
  data () {
    return {
      routerParam: this.$route.params.type
    }
  },
  computed: {
    isClient () {
      return this.clients.length !== 0
    },
    checkedUsers () {
      return this.$store.getters.getChecked
    },
    accessList () {
      return this.$store.getters.getAccessList
    }
  },
  methods: {
    changeCheckedUsers () {
      // if (this.modificator !== 'staff') {
      eventBus.$emit('changeCheckedAllClients')
      // } else if (this.routerParam) eventBus.$emit('changeCheckedAllStaff')
    },
    deleteUser () {
      eventBus.$emit('deleteUser', { id: 'checked' })
    },
    changeParam () {
      this.routerParam = this.$route.params.type
    }
  },
  watch: {
    '$route': 'changeParam'
  },
  components: {
    mClient
  }
}
</script>
