<style src="./style.css" module></style>

<template>
  <div :class="[$style.position, 'mb2']">
    <m-input-group label="Наименование услуги / товара" placeholder="Услуга" name="service"></m-input-group>
    <m-input-group label="Количество" name="number" type="number"></m-input-group>
    <m-input-group label="Единица" placeholder="Единица" name="unit"></m-input-group>
    <m-input-group label="Сумма" name="amount" type="number"></m-input-group>
    <m-input-group label="Валюта" placeholder="Валюта" name="currency"></m-input-group>
  </div>
</template>

<script type="text/javascript">
import mInputGroup from 'Molecules/inputGroup'
import eventBus from 'EventBus'

export default {
  name: 'oNewPosition',
  data () {
    return {
      ticketData: {
        title: '',
        text: '',
        user: 'user1'
      }
    }
  },
  // beforeMount () {
  //   eventBus.$on('inputChange', data => {
  //     this.ticketData[data.name] = data.value
  //   })
  //   eventBus.$on('selectChange', data => {
  //     this.ticketData[data.name] = data.value
  //   })
  // },
  // methods: {
  //   onClick () {
  //     this.$api.addTicket(this.ticketData)
  //       .then(res => {
  //         this.$store.dispatch('addNewTicket', res.data.ticket)
  //         this.$router.push('/')
  //       })
  //   }
  // },
  components: {
    mInputGroup
  }
}
</script>
