<style src="./style.css" module></style>

<template>
  <form :class="[$style.body, 'flex']" @submit.prevent="onClick" name="form" enctype="multipart/form-data">
    <div :class="$style.bodyTicket">
      <h3 class="mb2">Данные тикета</h3>
      <a-select name="title" 
                type="ticket" 
                :text="ticketData.title" 
                textType="none" 
                :class="[$style.bodyTicketSelect, 'mb2']"
                color="greyLight"
                :showbg="true"></a-select>
      <div :class="$style.bodyTicketList">
        <o-new-position v-for="(n, index) in range" :key="index" v-if="ticketData.title !== 'Платежи'"></o-new-position>
        <div class="mb2" style="position: relative;" v-if="ticketData.title !== 'Платежи'">
          <a-button color="blue" 
                    text="Добавить позицию" 
                    modificator="ordinary" 
                    type="button"
                    @click="addPosition"
                    textType="none"></a-button>
          <span @click="showDate = !showDate" :class="[$style.bodyTicketListDate, 'ml5']">Дата документа: {{dateString}}</span>
          <m-date-picker :deadline="ticketData.date.toString()" v-if="showDate" v-on-clickaway="myfunc" :showtime="false"></m-date-picker>
        </div>
        <div v-if="ticketData.title === 'Платежи'" :class="$style.bodyTicket">
          <m-input-group label="Кому" placeholder="Введите название компании" name="companyPay"></m-input-group>
          <m-input-group label="Сумма" name="moneyPay" type="number"></m-input-group>
          <m-input-group label="Валюта" placeholder="Валюта" name="currencyPay"></m-input-group>
        </div>
        <span>Дополнительные условия:</span>
        <a-textarea :name="ticketData.addInfo" 
                    placeholder="Напишите дополнительные условия" 
                    :class="['mt2 mb2', $style.bodyTicketListTextarea]"></a-textarea>
      </div> 
    </div>
    <div :class="$style.bodyAgent">
      <div v-if="ticketData.title !== 'Платежи'">
        <h3 class="mb2">Данные контрагента</h3>
        <a-select name="agent" 
                  type="agent" 
                  :text="ticketData.agent" 
                  textType="none" 
                  :class="[$style.bodyAgentSelect, 'mb2']"
                  color="greyLight"
                  :showbg="true"></a-select> 
      </div>
      <div :class="$style.bodyAgentBlock" v-if="ticketData.title !== 'Платежи'">
        <m-input-group label="Наименование компании" placeholder="Компания" name="companyName" :value="counterparty.name"></m-input-group>
        <m-input-group label="Юридический адрес" placeholder="Адрес" name="address" :value="counterparty.address"></m-input-group>
        <m-input-group label="БИН" placeholder="БИН" name="bin" :value="counterparty.bin"></m-input-group>
        <m-input-group label="Наименование банка" placeholder="Банк" name="bankName" :value="counterparty.bank_name"></m-input-group>
        <m-input-group label="Номер расчетного счета" placeholder="Счет" name="account" :value="counterparty.iban"></m-input-group>
      </div>
      <div :class="$style.bodyAgentBtn">
        <a-button color="blue" 
                  text="Отправить" 
                  modificator="main"
                  textType="none"></a-button>
      </div>
    </div>
    <notifications group="ticket" class="mt1" position="top center"/>
  </form>
</template>

<script type="text/javascript">
import mInputGroup from 'Molecules/inputGroup'
import oNewPosition from 'Organisms/newPosition'
import mDatePicker from 'Molecules/datepicker'
import moment from 'moment'
import eventBus from 'EventBus'
import { directive as onClickaway } from 'vue-clickaway'

export default {
  name: 'oAddTicket',
  data () {
    return {
      ticketData: {
        title: 'Счет фактура накладная',
        date: new Date(),
        text: '',
        files: [],
        agent: 'Выберите контрагента',
        agentId: 'new',
        addInfo: ''
      },
      counterparty: {},
      showDate: false,
      range: 1
    }
  },
  beforeMount () {
    eventBus.$on('inputChange', data => {
      this.ticketData[data.name] = data.value
    })
    eventBus.$on('selectChange', data => {
      this.ticketData[data.name] = data.data.name
      if (data.type === 'agent') {
        this.ticketData.agentId = data.data.id
        this.counterparty = data.data
      }
    })
    eventBus.$on('fileUploadChange', data => {
      Array.from(data.data).forEach((item, index) => {
        this.ticketData.files.push(item)
      })
    })
    eventBus.$on('removeFile', index => {
      this.ticketData.files.splice(index, 1)
    })
    eventBus.$on('textareaChange', data => {
      this.ticketData[data.name] = data.value
    })
    eventBus.$on('snoozeTicket', data => {
      console.log(data, 'addTicket')
      this.showDate = !this.showDate
      this.ticketData.date = new Date(data)
    })
  },
  computed: {
    dateString () {
      return moment(this.ticketData.date).locale('ru').format('lll')
    }
  },
  methods: {
    onClick () {
      if (this.ticketData.title === 'Платежи') {
        this.addWithoutAgent()
      } else {
        this.addWithAgent()
      }
    },
    addWithAgent () {
      this.$api.addCounterparty(this.ticketData)
        .then(response => {
          if (response.data) {
            this.$store.dispatch('addCounterparty', response.data)
          }
          const agentId = response.data ? response.data.id : null
          const numberArr = document.getElementsByName('number')
          const unitArr = document.getElementsByName('unit')
          const amountArr = document.getElementsByName('amount')
          const currencyArr = document.getElementsByName('currency')
          document.getElementsByName('service').forEach((item, index) => {
            this.ticketData.text = this.ticketData.text.concat(`Наименование услуги / товара: ${item.value !== '' ? item.value : 'Не указано'}\nКоличество: ${numberArr[index].value !== '' ? numberArr[index].value : 'Не указано'}\nЕдиница: ${unitArr[index].value !== '' ? unitArr[index].value : 'Не указано'}\nСумма: ${amountArr[index].value !== '' ? amountArr[index].value : 'Не указано'}\nВалюта: ${currencyArr[index].value !== '' ? currencyArr[index].value : 'Не указано'}\n\n`)
          })
          this.addTicket(agentId)
        })
    },
    addWithoutAgent () {
      this.ticketData.text = this.ticketData.text.concat(`Кому: ${this.ticketData.companyPay}\nСумма: ${this.ticketData.moneyPay}\nВалюта: ${this.ticketData.currencyPay}\n\n`)
      this.addTicket(null)
    },
    addTicket (agentId) {
      this.ticketData.text = this.ticketData.addInfo && this.ticketData.addInfo !== '' ? this.ticketData.text.concat(`Дополнительные условия: ${this.ticketData.addInfo}`) : this.ticketData.text
      var data = new FormData()
      data.append('title', this.ticketData.title)
      data.append('text', this.ticketData.text)
      data.append('date', this.ticketData.date)
      data.append('agentId', agentId)
      for (var x = 0; x < this.ticketData.files.length; x++) {
        data.append('fileToUpload[]', this.ticketData.files[x])
      }
      this.$api.addTicket(data)
        .then(res => {
          var h = {
            user: [this.$auth.currentUser().id],
            type: 'newticket',
            ticket: [res.data.id],
            text: ['добавил/а новый тикет']
          }
          this.$socket.emit('addHistoryStaff', h)
          this.$modal.hide('add-ticket')
          this.$notify({
            group: 'tickets',
            type: 'success',
            text: 'Тикет успешно создан',
            speed: 300
          })
          this.$store.dispatch('addNewTicket', res.data)
          this.$router.push('/')
        })
    },
    myfunc () {
      this.showDate = false
    },
    addPosition () {
      this.range += 1
    }
  },
  components: {
    mInputGroup,
    oNewPosition,
    mDatePicker
  },
  directives: {
    onClickaway
  }
}
</script>
