.body {
  background: #fff;
  padding: 20px;
  height: 100%;
  min-width: 100%;
  background: #fff;
  color: var(--color-text-secondary);

  &--ticket {
    width: 50%;
    overflow-x: scroll;
    &--select {
      max-width: 240px;
      /*max-width: 215px;*/

      & button {
        height: 24px;
      }
    }

    &--list {
      &--date {
        font-weight: 300;
        cursor: pointer;
      }

      &--textarea {
        max-width: 80%;
      }
    }
  }

  &--agent {
    width: 50%;
    height: 100%;
    position: relative;

    &--btn {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    &--select {
      max-width: 157px;

      & button {
        height: 24px;
      }
    }

    &--block {
      max-width: 50%;
    }
  }
}