<style src="./style.css" module></style>
  <template>
    <a-grid :class="[$style.ticket]">
      <a-grid-item grid="grid-5" class="flex fl-aic" v-if="modificator !== 'staff'">
        <a-checkbox :checked="checkedUsers.indexOf(client.id) > -1" @change="checkedOneUser(client.id)"></a-checkbox>
      </a-grid-item>
      <a-grid-item grid="grid-2-12" :class="['flex', 'fl-c']">
        <a-grid>
          <a-grid-item grid="grid-3-12">
            <a-avatar :src="client.avatar"></a-avatar>
          </a-grid-item>
          <a-grid-item grid="grid-2-12" class="flex fl-aic">
              <p :class="[$style.ticketUsername]">{{client.username}}</p>
          </a-grid-item>
        </a-grid>
      </a-grid-item>
      <a-grid-item :grid="modificator !== 'staff' ? 'grid-4-12' : client.level === levelOfDir ? 'grid-2-12' : 'grid-3-12'" class="flex fl-aic">
        <p>{{client.name}}</p>
      </a-grid-item>
      <a-grid-item :grid="modificator !== 'staff' ? 'grid-4-12' : client.level === levelOfDir ? 'grid-2-12' : 'grid-3-12'" class="flex fl-aic">
        <p>{{client.email}}</p>
      </a-grid-item>
      <a-grid-item grid="grid-3-12"  v-if="client.level >= levelOfDir" class="flex fl-aic">
        <p>{{client.department ? client.department : ''}}</p>
      </a-grid-item>
      <a-grid-item :grid="client.level === levelOfDir ? 'grid-2-12' : 'grid-3-12'" v-if="client.level <= levelOfDir" class="flex fl-aic">
        <p>{{client.boss ? client.boss : ''}}</p>
      </a-grid-item>
      <a-grid-item grid="grid-1-12" class="flex fl-c fl-aic">
        <a-button modificator="ordinary" 
                  color="noneGrey" 
                  v-show="modificator === 'staff'"
                  :disabled="!(accessList === 'all' || accessList.findIndex(x => x.code === routerParam && x.action === 'edit') > -1)"
                  @click="goToEdit"
                  name="pen"></a-button>
        <a-button modificator="ordinary" 
                  color="noneGrey" 
                  name="trash" 
                  type="button" 
                  :disabled="!(accessList === 'all' || accessList.findIndex(x => x.code === routerParam && x.action === 'delete') > -1)"
                  @click="deleteUser(client.id)"></a-button>
      </a-grid-item>
    </a-grid>
  </template>

<script type="text/javascript">
import eventBus from 'EventBus'

export default {
  name: 'mClient',
  props: {
    modificator: String,
    client: Object,
    levelOfDir: Number
  },
  computed: {
    checkedUsers () {
      return this.$store.getters.getChecked
    },
    routerParam () {
      return this.$route.params.type
    },
    accessList () {
      return this.$store.getters.getAccessList
    }
  },
  methods: {
    checkedOneUser (id) {
      this.$store.dispatch('changeChecked', {
        type: 'one',
        value: id
      })
    },
    deleteUser (id) {
      eventBus.$emit('deleteUser', { id })
    },
    goToEdit () {
      this.$router.push(this.routerParam + '/profile-' + this.client.id)
    }
  }
}
</script>
