.link {
  font-family: inherit;
  font-size: inherit;

  &--main {
    text-decoration: none;
  }

  &--pink {
    color: var(--color-pink);
  }
  &--blue {
    color: var(--color-blue);
  }
  &--grey {
    color: var(--color-grey-sixth);
  }
}
