<style src="./style.css" module></style>
  <template>

    <div :class="[$style.history, 'flex']">
      <div :class="$style.historyLeft">
        <a-avatar :src="history.userFrom.avatar"></a-avatar>
      </div>
      <!-- <div :class="$style.historyRight">
        <span>{{history.userFrom.username + ' |'}}</span>
        <a-link :text="history.userFrom.name" color="blue" type="main"></a-link>{{' ' + history.text[0]}}
        <a-link :text="'#' + history.ticket.ticket_number" color="blue" type="main"></a-link>{{' ' + history.text[1]}}
        <span>{{history.user_to ? history.ut_username + ' |' : 'Всех'}}</span> 
        <a-link :text="history.ut_name" color="blue" type="main" v-if="history.user_to"></a-link>
      </div> -->
      <div :class="$style.historyRight">
        <span>{{history.userFrom.username + ' |'}}</span>
        <a-link :text="history.userFrom.name" color="blue" type="main"></a-link>{{' ' + history.text[0]}}
        <a-link :text="'#' + history.ticket.ticket_number" color="blue" type="main" v-if="history.ticket"></a-link>
        {{history.text[1] ? ' ' + history.text[1] : ''}}
        <span v-if="history.userTo">{{history.userTo.username + ' |'}}</span>
        <a-link :text="history.userTo.name" color="blue" type="main" v-if="history.userTo"></a-link>
      </div>
      <!-- <div :class="$style.historyRight" v-if="history.type === 'user'">
        <span>{{history.uf_username + ' |'}}</span>
        <a-link :text="history.uf_name" color="blue" type="main"></a-link>{{' ' + history.text[0]}}
        <span>{{history.uf_username + ' |'}}</span> 
        <a-link :text="history.uf_name" color="blue" type="main"></a-link>
      </div> -->
    </div>
  </template>

<script type="text/javascript">
export default {
  name: 'mActionHistory',
  props: {
    history: {
      type: Object
    }
  }
}
</script>