<style src="./style.css" module></style>
  <template>
    <a-grid :class="[$style.ticket]">
      <a-grid-item grid="grid-1-12" :class="['flex fl-aic fl-cs']">
        <a-grid>
          <a-grid-item grid="grid-6-12" :class="['flex fl-aic fl-c']">
            <a-checkbox :checked="checked.indexOf(ticket.id) > -1" @change="changeOne(ticket.id)"></a-checkbox>
          </a-grid-item>
        </a-grid> 
      </a-grid-item>
      <a-grid-item grid="grid-9-12" :class="[$style.ticketItemData, 'flex fl-sa fl-dc']">
        <router-link :to="{ path: 'oneticket', query: { ticket: ticket.id }}" class="text-dec">
          <p><span>{{ticket.title}}</span></p>
          <p><span>{{ticket.text}}</span></p>
        </router-link>
      </a-grid-item>
      <a-grid-item grid="grid-1-12" :class="['flex fl-aic fl-fe']">
        <a-date modificator="secondary" format="D MMM YYYY" :date="ticket.created_at"></a-date>
      </a-grid-item>
      <a-grid-item grid="grid-1-12" :class="['flex fl-aic fl-fe']">
        <a-button name="deliver" 
                  modificator="ordinary" 
                  color="blue" 
                  title="Отправить Зерде"
                  @click="send(ticket.id)"
                  style="margin-right: 10px;"
                  v-if="ticket.type === 'pending'"></a-button>
        <div :class="[$style.ticketItemNumber]">
          #{{ticket.ticket_number}}
        </div>
      </a-grid-item>
    </a-grid>
  </template>
<script type="text/javascript">
export default {
  name: 'mTicketClient',
  props: {
    ticket: {
      type: Object
    }
  },
  computed: {
    checked () {
      return this.$store.getters.getChecked
    }
  },
  methods: {
    changeOne (id) {
      this.$store.dispatch('changeChecked', {
        type: 'one',
        value: id
      })
    },
    changeFavOne (id) {
      this.$store.commit('changeFavOne', {
        id: id,
        type: 'one'
      })
    },
    send (id) {
      this.$apiTicket.changeTypeChecked('income', [id])
        .then(res => {
          this.ticket.type = 'income'
          this.$notify({
            group: 'tickets',
            type: 'success',
            text: 'Протокол был отправлен Зерде',
            speed: 300
          })
        }).catch(err => {
          if (err.response.data.message === 'Invalid token') {
            this.$auth.logout().then(res => { this.$router.go('login') })
          } else {
            this.$notify({
              group: 'tickets',
              type: 'error',
              text: err.response.data.message,
              speed: 300
            })
          }
        })
    }
  }
}
</script>