<style src="./style.css" module></style>
<template>
  <div :class="$style.list">
    <!-- <div :class="$style.listHeader"></div> -->
    <div :class="[$style.listBody, 'flex fl-se fl-aifs']">
      <div :class="[$style.listBodyEach, 'flex fl-dc']">
        <h3>Входящие</h3>
        <h3 v-if="list1.length === 0" style="text-align: center">Нет протоколов</h3>
        <draggable v-model="list1" :options="{group:'ticket'}" :class="$style.listBodyEachDrag" @end="onEnd" id="income">
          <m-card v-for="element in list1" :key="element.id" :id="element.id" :card="element"></m-card>
        </draggable>
        <div :class="$style.listBodyEachFooter"></div>
      </div>
      <div :class="$style.listBodyEach">
        <h3>На исполнении</h3>
        <h3 v-if="list2.length === 0" style="text-align: center">Нет протоколов</h3>
        <draggable v-model="list2" :options="{group:'ticket'}" :class="$style.listBodyEachDrag" @end="onEnd" id="ongoing">
          <m-card v-for="element in list2" :key="element.id" :id="element.id" :card="element"></m-card>
        </draggable>
        <div :class="$style.listBodyEachFooter"></div>
      </div>
      <div :class="$style.listBodyEach">
        <h3>На согласовании</h3>
        <h3 v-if="list3.length === 0" style="text-align: center">Нет протоколов</h3>
        <draggable v-model="list3" :options="{group:'ticket'}" :class="$style.listBodyEachDrag" @end="onEnd" id="onagreement">
          <m-card v-for="element in list3" :key="element.id" :id="element.id" :card="element"></m-card>
        </draggable>
        <div :class="$style.listBodyEachFooter"></div>
      </div>
      <div :class="$style.listBodyEach">
        <h3>Завершенные</h3>
        <h3 v-if="list4.length === 0" style="text-align: center">Нет протоколов</h3>
        <draggable v-model="list4" :options="{group:'ticket'}" :class="$style.listBodyEachDrag" @end="onEnd" id="done">
          <m-card v-for="element in list4" :key="element.id" :id="element.id" :card="element"></m-card>
        </draggable>
        <div :class="$style.listBodyEachFooter"></div>
      </div>
    </div>
    <m-edit-card v-if="showEditPanel" :position="position" :card="currentCard"></m-edit-card>
  </div>
</template>

<script>
import draggable from 'vuedraggable'
import mCard from 'Molecules/card'
import eventBus from 'EventBus'
import mEditCard from 'Molecules/editCard'

export default {
  name: 'oDragDrop',
  props: {
    tickets: Array
  },
  data () {
    return {
      list1: [],
      list2: [],
      list3: [],
      list4: [],
      showEditPanel: false,
      position: {},
      currentCard: {}
    }
  },
  beforeMount () {
    this.splitTickets()
  },
  methods: {
    onEnd (e) {
      this.chooseType(e.to.id, e.item.id)
    },
    splitTickets () {
      this.list1 = this.tickets.filter(item => item.type === 'income').sort((a, b) => new Date(a.deadline) - new Date(b.deadline))
      this.list2 = this.tickets.filter(item => item.type === 'ongoing').sort((a, b) => new Date(a.deadline) - new Date(b.deadline))
      this.list3 = this.tickets.filter(item => item.type === 'onagreement').sort((a, b) => new Date(a.deadline) - new Date(b.deadline))
      this.list4 = this.tickets.filter(item => item.type === 'done').sort((a, b) => new Date(a.deadline) - new Date(b.deadline))
    },
    chooseType (type, card) {
      this.$apiTicket.changeTypeChecked(type, [card])
        .then(res => {
          var t = type === 'income' ? 'во входящие' : type === 'ongoing' ? 'на исполнение'
            : type === 'onagreement' ? 'на согласование' : 'в завершенные'
          this.tickets.forEach(item => {
            if (item.id === card) {
              if (item.user && item.user.id !== this.$auth.currentUser().id && item.type !== type) {
                const newNotif = this.$util.notification(this.$auth.currentUser().id, item.user.id, 'move', item.id)
                this.$socket.emit('addNotification', newNotif)
                const newHistory = this.$util.staffHistory(this.$auth.currentUser().id, null, 'move', [item.id], t)
                this.$socket.emit('addStaffHistory', { newHistory, roomName: `company-${this.$auth.currentUser().company}` })
              }
              eventBus.$emit('moveTicket', { type, card: item })
            }
          })
          this.handleErr('Протокол был перемещен ' + t, 'success')
          this.showEditPanel = false
        }).catch(err => { this.handleErr(err.response.data.message, 'error') })
    },
    handleErr (msg, type) {
      if (msg === 'Invalid token') {
        this.$auth.logout().then(res => { this.$router.go('login') })
      } else {
        this.$notify({
          group: 'tickets',
          type: type,
          text: msg,
          speed: 300
        })
      }
    }
  },
  mounted () {
    eventBus.$on('openEditPanel', data => {
      this.position = data.position
      this.currentCard = data.card
      this.showEditPanel = true
    })
    eventBus.$on('closeEditPanel', () => {
      this.position = {}
      this.currentCard = {}
      this.showEditPanel = false
    })
    eventBus.$on('changeTypeOfOne', data => {
      this.chooseType(data.type, data.card)
    })
  },
  watch: {
    tickets: function () {
      this.splitTickets()
    }
  },
  components: {
    draggable,
    mCard,
    mEditCard
  }
}
</script>