.list {
  border: 1px solid var(--color-grey);
  border-width: 1px 0 1px 1px;
  background: #fff;


  /*&--header {
    min-height: 55px;
    border-bottom: 1px solid #f2f2f2;
  }*/

  &--body {
    padding: 20px 0;
    /*height: calc(100% - 55px);*/
    height: 100%;
    
    &--each {
      height: 100%;
      width: 250px;

      & h3 {
        padding: 10px;
        color: var(--color-grey-first);
        font-size: 14px;
        background-color: var(--color-border-secondary);
      }

      & h3:first-child {
        border-radius: 3px 3px 0 0;
      }

      &--drag {
        min-height: 10px;
        max-height: calc(100% - 60px);
        overflow-y: scroll;
        background-color: var(--color-border-secondary);
        padding: 0 5px;
      }

      &--footer {
        background-color: var(--color-border-secondary);
        height: 20px;
        border-radius: 0 0 3px 3px;
      }
    }
  }
}