<template>
  <div :class="$style.ticketsBody">
    <div :class="$style.ticketsList">
      <o-departments :deps="departments"></o-departments>
    </div>
    <a-button modificator="ordinary" text="добавить департамент" color="blue" @click="openModal('add')" :class="$style.fab"></a-button>
    <modal name="add-dep" width="400" height="auto">
      <div :class="[$style.modal, 'flex', 'fl-dc']">
        <div :class="['flex', 'fl-sb', $style.modalHeader]">
          <p>{{ modalType === 'add' ? 'Добавить новый департамент' : 'Редактировать департамент' }}</p>
          <a-button modificator="ordinary" name="xCircle" @click="closeModal" color="none"></a-button>
        </div>
        <form :class="['flex', 'fl-dc', $style.modalBody]" @submit.prevent="onSubmit">
          <m-input-group name="name" placeholder="Название департамента*" label="Название" :value="formData.name"></m-input-group>
          <m-input-group name="keywords" 
                             placeholder="Введите ключевые слова через запятые"
                             label="Ключевые слова" 
                             :value="formData.keywords"></m-input-group>
          <m-input-group name="director" 
                         label="Изменить директора" 
                         :input="true"
                         :value="formData.director ? formData.director.name : ''"
                         v-if="modalType === 'edit' && formData.empnumber && formData.empnumber > 0"></m-input-group>
          <div :class="$style.select" v-if="empList.length > 0">
            <ul :class="[$style.selectList]">
              <li :class="$style.selectListElem"
                v-for="(emp, index) in empList"
                :key="index"
                @click="chooseEmp(emp)">{{ emp.name }}</li>
            </ul>
          </div>
          <div :class="['flex', 'fl-fe']">
            <a-button modificator="ordinary" :text="modalType === 'add' ? 'Добавить' : 'Изменить'" color="blue"></a-button>
          </div>
        </form>
      </div>
      <m-loader :show="showLoader"></m-loader>
    </modal>
    <modal name="remove-dep" width="400" height="230">
      <div :class="[$style.modal, 'flex', 'fl-dc']">
        <div :class="['flex', 'fl-sb', $style.modalHeader]">
          <p>Удаление департамента</p>
          <a-button modificator="ordinary" name="xCircle" @click="closeModalRemove" color="none"></a-button>
        </div>
        <form :class="['flex fl-dc fl-aic fl-sb', $style.modalBody]" style="padding: 20px 30px 30px;" @submit.prevent="deleteDep">
          <div :class="['flex', 'fl-c']">
            На какой департамент перевести сотрудников?
            <a-select :text="newDep.name"
                  style="min-width: 200px; margin-top: 10px;"
                  color="blue" 
                  :showbg="true"
                  textType="none"
                  :array="departments"></a-select>
            <p style="text-align: center; margin-top: 20px; color: #a5a5a5;">При удалении департамента также будут удалены все ключевые слова связанные с этим департаментом.</p>
          </div>
          <div :class="['flex', 'fl-sa']" style="width: 200px">
            <a-button modificator="ordinary" text="Удалить" color="blue" textType="none" :disabled="!newDep.id"></a-button>
            <a-button modificator="ordinary" text="Отменить" color="grey" textType="none" type="button" @click="closeModalRemove"></a-button>
          </div>
        </form>
      </div>
    </modal>
    <modal name="remove-all" width="400" height="230">
      <div :class="[$style.modal, 'flex', 'fl-dc']">
        <div :class="['flex', 'fl-sb', $style.modalHeader]">
          <p>Удаление департамента</p>
          <a-button modificator="ordinary" name="xCircle" @click="closeModalAll" color="none"></a-button>
        </div>
        <form :class="['flex fl-dc fl-aic fl-sb', $style.modalBody]" style="padding: 20px 30px 30px;" @submit.prevent="deleteDep">
          <div :class="['flex', 'fl-c']">
            Вы уверены, что хотите удалить все департаменты?
            <p style="text-align: center; margin-top: 20px; color: #a5a5a5;">Должность всех директоров будут изменены на специалиста.
            Также будут удалены все ключевые слова связанные с департаментами.</p>
          </div>
          <div :class="['flex', 'fl-sa']" style="width: 200px">
            <a-button modificator="ordinary" text="Удалить" color="blue" textType="none"></a-button>
            <a-button modificator="ordinary" text="Отменить" color="grey" textType="none" type="button" @click="closeModalAll"></a-button>
          </div>
        </form>
      </div>
    </modal>
  </div>
</template>

<script>
import mInputGroup from 'Molecules/inputGroup'
import mLoader from 'Molecules/loader'
import oDepartments from 'Organisms/departments'
import eventBus from 'EventBus'
export default {
  name: 'pDepartments',
  components: {
    mInputGroup,
    mLoader,
    oDepartments
  },
  data () {
    return {
      formData: {},
      showLoader: false,
      departments: [],
      modalType: 'add',
      empList: [],
      newDep: {
        name: 'Выберите департамент'
      },
      depToDelete: []
    }
  },
  computed: {
    checked () {
      return this.$store.getters.getChecked
    }
  },
  beforeMount () {
    this.getDepartments()
  },
  mounted () {
    eventBus.$on('inputChange', data => {
      this.formData[data.name] = data.value
    })
    eventBus.$on('editDep', data => {
      this.departments.forEach(item => {
        if (item.id === data.id) {
          this.formData = item
        }
      })
      this.openModal('edit')
    })
    eventBus.$on('inputOnChange', data => {
      this.getBossList(data.value)
    })
    eventBus.$on('removeDep', data => {
      this.depToDelete = data.id
      if (this.checked[0] === 'all') this.$modal.show('remove-all')
      else this.$modal.show('remove-dep')
    })
    eventBus.$on('selectChange', data => {
      this.newDep = data.data
    })
  },
  methods: {
    openModal (type) {
      this.modalType = type
      this.formData = type === 'add' ? {} : this.formData
      this.$modal.show('add-dep')
    },
    closeModal () {
      this.$modal.hide('add-dep')
    },
    closeModalRemove () {
      this.$modal.hide('remove-dep')
      this.newDep = {
        name: 'Выберите департамент'
      }
    },
    closeModalAll () {
      this.$modal.hide('remove-all')
    },
    onSubmit () {
      if (this.modalType === 'add') this.add()
      else this.edit()
    },
    add () {
      this.showLoader = true
      this.$api.addDepartment(this.formData)
        .then(res => {
          this.formData = {}
          this.departments.push(res.data.newDep)
          this.closeModal()
          this.showErrBlock(res.data.message, 'success')
        }).catch(err => {
          this.showErrBlock(err.response.data.message, 'error')
        })
    },
    edit () {
      this.showLoader = true
      this.$api.editDepartment(this.formData)
        .then(res => {
          this.showLoader = false
          this.closeModal()
          this.showErrBlock(res.data.message, 'success')
        }).catch(err => {
          this.showErrBlock(err.response.data.message, 'error')
        })
    },
    deleteDep () {
      this.showLoader = true
      var tempArr = this.depToDelete === 'checked' ? this.checked : [this.depToDelete]
      this.$api.deleteDepartment(tempArr, this.newDep.id)
        .then(res => {
          this.showLoader = false
          this.departments = tempArr[0] === 'all' ? [] : this.departments.filter(item => {
            return tempArr.indexOf(item.id) === -1
          })
          this.$store.commit('emptyChecked')
          this.closeModalRemove()
          this.closeModalAll()
          this.showErrBlock(res.data.message, 'success')
        })
        .catch(err => {
          this.showErrBlock(err.response.data.message, 'error')
        })
    },
    getDepartments () {
      this.showLoader = true
      this.$api.getDepartments()
        .then(res => {
          this.showLoader = false
          this.departments = res.data
        }).catch(err => {
          this.showErrBlock(err.response.data.message, 'error')
        })
    },
    getBossList (value) {
      if (value) {
        this.$apiUser.getEmpList(this.formData.id, value)
          .then(res => {
            this.empList = res.data
          })
      } else this.empList = []
    },
    chooseEmp (emp) {
      this.formData.director = emp
      this.empList = []
    },
    showErrBlock (msg, type) {
      this.showLoader = false
      if (msg === 'Invalid token') {
        this.$auth.logout().then(res => { this.$router.go('login') })
      } else {
        this.$notify({
          group: 'tickets',
          type: type,
          text: msg,
          speed: 300
        })
      }
    }
  }
}
</script>

<style src="../style.css" module></style>
