<style src="./style.css" module></style>
<template>
  <div :class="[$style.card, 'flex']">
    <div :class="[$style.cardLeft, 'flex fl-dc fl-sb']">
      <div>
          <p>{{card.client.username}} <span>| {{card.client.name}}</span></p>
          <p>{{card.title}}</p>
      </div>
      <div><span :class="[{'bg-red': deadline < 0}, {'bg-dark-yellow': deadline < 1800000 && deadline > 0},
                                {'bg-green': deadline > 1800000}]">
            <i class="icon-alarm"></i><a-date format="D MMM" modificator="light" :date="card.deadline"></a-date></span></div>
    </div>
    <div :class="[$style.cardRight, 'flex fl-dc fl-sb']">
      <div><span @click="edit"><i class="icon-pencil"></i></span></div>
      <div><a-avatar :src="card.client.avatar" size="small"></a-avatar></div>
    </div>
  </div>
</template>

<script>
import eventBus from 'EventBus'

export default {
  name: 'mCard',
  props: {
    card: Object
  },
  computed: {
    deadline () {
      return new Date(this.card.deadline).getTime() - new Date().getTime()
    }
  },
  methods: {
    edit () {
      const el = document.getElementById(this.card.id)
      const ww = el.getBoundingClientRect()
      eventBus.$emit('openEditPanel', { position: { top: ww.top, left: ww.left }, card: this.card })
    }
  }
}
</script>