.card {
  min-height: 65px;
  border-radius: 3px;
  background-color: #fff;
  margin-bottom: 5px;
  cursor: pointer;
  padding: 5px;

  &--left {
    width: 80%;
    padding: 5px;

    & span {
      color: #B2B2B2;
    }

    & div:first-child p:nth-child(2) {
      color: var(--color-grey-first);
    }

    & div:nth-child(2) span {
      display: inline-block;
      color: #fff;
      font-size: 10px;
      padding: 2px 3px;
      /*background-color: #F69E9D;*/
      border-radius: 3px;
      font-weight: 300;
      width: auto;
    }
  }

  &--right {
    width: 20%;
    font-size: 11px;

    & div {
      text-align: right;
    }

    & div:first-child span {
      color: #B0B0B0;
      display: inline-block;
      padding: 3px;
      border-radius: 3px;
      cursor: pointer;
    }

    & div:first-child span:hover {
      background-color: #DADADA;
    }

    & div:nth-child(2) {
      height: 30px;
    }
  }
  
  &:hover {
    background-color: #f2f2f2;
  }
}

        