<style src="./style.css" module></style>

<template>
  <div>
    <div>
      <a-grid :class="[$style.main]">
        <a-grid-item grid="grid-2-12" :class="[$style.mainItem]">
          <a-avatar size="medium" :src="user.avatar"></a-avatar> 
        </a-grid-item>
        <a-grid-item grid="grid-8-12" :class="[$style.mainItemData, 'flex fl-dc fl-c']">
          <p><span>{{user.name}}</span></p>
          <p><span>{{user.email}}</span></p>
        </a-grid-item>
      </a-grid>
    </div>
    <!-- <div :class="[$style.mainBottom]">
      Head of Customer Succs, Groove <br>Denver, CO <br> <a-link href="#" text="www.mirusdesk.kz" type="secondary"></a-link>
    </div> -->
  </div>
</template>

<script>
export default {
  name: 'mUserInfo',
  props: {
    user: {
      type: Object,
      default: () => {
        return {
          id: '',
          name: '',
          email: ''
        }
      }
    }
  }
}
</script>