.main {
  font-size: 13px;
  font-family: inherit;
  color: var(--color-text-main);
  
  &--item {
    margin-right: 10px;

    &--data {
      color: var(--color-grey-sixth);
      font-size: 13px;

      & p:first-child {

        & span:first-child {
          color: var(--color-text-pochti-main);
         }
      }
    }
  }

  &--bottom {
    font-size: 13px;
    margin-top: 10px;
    color: var(--color-grey-sixth);
  }
}