.header {
  display: block;
  border-bottom: 1px dashed var(--color-bg-green);
  height: 100px;

  &_section {
    position: relative;
    display: block;
    max-width: 1024px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

	&--logo {
    display: inline-block;
    width: auto;
		padding: 36px 0;

    & img {
      display: block;
      width: 100%;
      height: auto;
    }
	}

	&--tags {
    position: absolute;
    display: block;
    bottom: -28px;
    left: -7px;
	}
}
