<template>
  <div style="width: 100%; background: #f1f1f1;">
    <div :class="[$style.ticketsHeader, 'flex fl-sb']">
      <span>Добавить новый протокол</span>
    </div>
    <div :class="$style.ticketsList">
      <o-new-ticket></o-new-ticket>
    </div>
  </div>
</template>

<script>
import oNewTicket from 'Organisms/newTicket'

export default {
  name: 'pNewTicket',
  components: {
    oNewTicket
  }
}
</script>

<style src="./style.css" module></style>
