.tickets {

/*  &--body {
    position: relative;
    height: calc(100% - 122px);*/

   /* &--personal {
      height: calc(100% - 89px);
    }*/
  /*}*/
  &--list {
    display: inline-flex;
    width: 100%;
    height: calc(100% - 49px);
    background: var(--color-grey-light);
    padding: 0 25px 25px;

    /*&--body {
      max-width: 100%;
      min-width: 100%;
      background: #fff;
      color: var(--color-text-secondary);
      height: calc(100% - 89px);
    }*/
  }

  &--header {
    width: 100%;
    background: var(--color-grey-light);
    padding: 40px 45px 0;
    color: var(--color-text-secondary);
    font-weight: 300;

    & span {
      font-size: 2.3rem;
    }

   /* &--nav {
      width: 100%;
      padding: 10px 0;
      margin-top: 3px;
    }*/
  }
}
