<style src="./style.css" module></style>
<template>
  <div :class="[$style.list, $style.listClients]">
    <a-grid :class="[$style.listHeader, 'flex fl-aic']" v-if="isDep">
      <a-grid-item grid="grid-5">
        <a-checkbox :checked="checked.indexOf('all') > -1" @change="changeChecked()"></a-checkbox>
      </a-grid-item>
      <a-grid-item grid="grid-5" class="flex fl-aic">
        <a-button name="trash" modificator="ordinary" color="blue" v-show="checked.length > 0" @click="deleteDeps"></a-button>
      </a-grid-item>
      <a-grid-item grid="grid-3-12" class="flex fl-aic">
        <p>Департаменты</p>
      </a-grid-item>
      <a-grid-item grid="grid-3-12" class="flex fl-aic">
        <p>Ключевые слова</p>
      </a-grid-item>
      <a-grid-item grid="grid-3-12" class="flex fl-aic">
        <p>Директор</p>
      </a-grid-item>
      <a-grid-item grid="grid-1-12" class="flex fl-aic fl-c">
        <p>Кол-во сотр.</p>
      </a-grid-item>
    </a-grid>
    <div v-else :class="['flex', 'fl-c', 'fl-aic']" style="height:100%">
      <p>Здесь пусто</p>
    </div>
    <div v-if="isDep">
      <m-department v-for="(dep, index) in deps" :key="dep.id" :department="dep" :index="index"></m-department>
    </div>
  </div>
</template>

<script>
import mDepartment from 'Molecules/department'
import eventBus from 'EventBus'

export default {
  name: 'oDepList',
  props: {
    deps: Array
  },
  computed: {
    isDep () {
      return this.deps.length !== 0
    },
    checked () {
      return this.$store.getters.getChecked
    }
  },
  methods: {
    changeChecked () {
      this.$store.dispatch('changeChecked', {
        type: 'all',
        value: this.deps
      })
    },
    deleteDeps () {
      eventBus.$emit('removeDep', { id: 'checked' })
    }
  },
  components: {
    mDepartment
  }
}
</script>