<style src="./style.css" module></style>
<template>
  <div :class="$style.ticket">
    <a-grid :class="[$style.ticketHeader, 'flex fl-aic']">
      <a-grid-item grid="grid-7-12" :class="[$style.ticketHeaderLeft, 'flex fl-aic']">
        <!-- <router-link :to="{ path: '/'}" class="text-dec"> -->
          <a-button name="arrowLeft"
                    color="greyLight"
                    modificator="ordinary"
                    type="button"
                    @click="back"
                    :class="[$style.ticketHeaderLeftArrow, $style.ticketHeaderLeftShift]"></a-button>
        <!-- </router-link> -->
        <a-select :text="ticket.type === 'income' ? 'Входящие' : ticket.type === 'done' ? 'Завершенные' : ticket.type === 'ongoing' ? 'На исполнении' : 'На согласовании'"
                  color="blue" 
                  :class="[$style.ticketHeaderLeftShift, $style.ticketHeaderLeftArrow]" 
                  type="assign"
                  :array="arrType"
                  :showbg="true"></a-select>
        <a-select name="assign"
                  
                  :array="users"
                  :text="ticket.user && ticket.user !== null ? ticket.user.username : 'Выберите'" 
                  :class="$style.ticketHeaderLeftShift" 
                  type="user"></a-select>
        <a-button name="alarm" :text="'Дедлайн: ' + deadline" type="button" modificator="ordinary" @click="showDate = !showDate"></a-button>
        <m-date-picker :deadline="ticket.deadline.toString()" v-if="showDate" v-on-clickaway="myfunc" style="top:40px;" :showtime="true"></m-date-picker>
      </a-grid-item>
      <a-grid-item grid="grid-5-12" :class="[$style.ticketHeaderRight, 'flex fl-fe fl-aic']">
        <a-checkbox modificator="star"
                    :class="$style.ticketHeaderRightShift"
                    :checked="ticket.favorite"
                    @change="changeFavOne(ticket.id, ticket.favorite)"></a-checkbox>
        <span :class="[$style.ticketHeaderRightNumber, $style.ticketHeaderRightShift]">#{{ticket.ticket_number}}</span>
        <a-button name="undo"
                  modificator="ordinary"
                  color="blue"
                  :class="[$style.ticketHeaderRightShift, $style.ticketHeaderLeftArrow]"
                  v-scroll-to="{ element: '#answerText', easing: 'linear', onDone: onDone }"></a-button>
        <a-button name="trash"
                  modificator="ordinary"
                  color="blue"
                  v-if="ticket.status === 'active'"
                  :class="[$style.ticketHeaderRightShift, $style.ticketHeaderLeftArrow]"
                  @click="deleteOneTicket(ticket.id)"></a-button>
        <a-button name="restore"
                  modificator="ordinary"
                  color="blue"
                  v-else
                  :class="[$style.ticketHeaderRightShift, $style.ticketHeaderLeftArrow]"
                  @click="restore(ticket.id)"></a-button>
      </a-grid-item>
    </a-grid>
    <a-grid :class="$style.ticketBody" id="scroll">
      <m-each-ticket v-for="(t, index) in ticketTemp" :key="index" :ticket="t" v-if="!(t.isClient && t.type === 'note')"></m-each-ticket>
    </a-grid>
    <a-grid :class="$style.ticketFooter">
      <div>
        <a-button text="Ответить"
                  modificator="ordinary"
                  name="undo"
                  textType="none"
                  @click="changeTextType('answer')"
                  :class="[$style.ticketFooterNav, { 'activeBtn': checkTextType('answer') } ]"></a-button>
        <a-button text="Добавить заметку"
                  modificator="ordinary"
                  textType="none"
                  @click="changeTextType('note')"
                  :class="[$style.ticketFooterNav, { 'activeBtn': checkTextType('note') }]"></a-button>
      </div>
      <a-textarea name="text" id="answerText" :focus="focus" @blur="onBlur" :value="newAnswer.text" v-if="checkTextType('answer')"></a-textarea>
      <a-textarea name="note" id="answerText" v-if="checkTextType('note')" :value="newAnswer.note" :refUsers="tempRefUsers"></a-textarea>
      <div class="flex fl-fe" :class="$style.ticketFooterItem">
        <a-select name="user"
                  :array="users"
                  :text="newAnswer.user.username"
                  type="user"
                  color="greyLight"
                  :showbg="true"
                  v-if="checkTextType('answer')"
                  arrow="up"></a-select>
        <a-button :text="newAnswer.type.name"
                  modificator="ordinary"
                  color="blue"
                  v-if="checkTextType('answer')"
                  :class="$style.ticketFooterItemButton"
                  @click="onClick()"></a-button>
        <a-select arrow="up" 
                  type="send" 
                  v-if="checkTextType('answer')" 
                  color="blue" 
                  :array="arrType"
                  :showbg="true"></a-select>

        <a-button text="Отправить"
                  modificator="ordinary"
                  color="blue"
                  textType="none"
                  v-if="checkTextType('note')"
                  @click="onClick()"></a-button>
      </div>
    </a-grid>
  </div>
</template>

<script type="text/javascript">
import mEachTicket from 'Molecules/eachTicket'
import mDatePicker from 'Molecules/datepicker'
import eventBus from 'EventBus'
import moment from 'moment'
import { directive as onClickaway } from 'vue-clickaway'

export default {
  name: 'oTicketWindow',
  props: {
    ticket: {
      type: Object,
      default: () => {
        return {
          id: '',
          texts: [],
          type: '',
          client: {},
          user: {}
        }
      }
    }
  },
  data () {
    return {
      newAnswer: {
        user: {
          id: 'user1',
          username: 'Выберите'
        },
        type: {
          name: ''
        },
        refUser: [],
        files: [],
        text: '',
        note: ''
      },
      tempRefUsers: [],
      ticketTemp: [],
      focus: false,
      currentTextType: 'answer',
      deadline: Date.now(),
      showDate: false,
      users: []
    }
  },
  computed: {
    arrType () {
      return this.$store.getters.getArrType
    },
    currentUser () {
      return this.$auth.currentUser()
    }
  },
  beforeMount () {
    this.ticketTemp = this.computeTicketTemp(this.ticket)
    this.newAnswer = this.computeNewAnswer(this.ticket)
    this.deadline = moment(this.ticket.deadline).locale('ru').format('lll')
    this.checkRead(this.ticket)
    this.getUsersList()
  },
  methods: {
    onClick () {
      var data = new FormData()
      data.append('answerType', this.currentTextType)
      data.append('text', this.newAnswer.text)
      data.append('oldType', this.ticket.type)
      data.append('type', this.newAnswer.type.id)
      data.append('note', this.newAnswer.note)
      data.append('user', JSON.stringify(this.newAnswer.user))
      for (var x = 0; x < this.newAnswer.files.length; x++) {
        data.append('fileToUpload[]', this.newAnswer.files[x])
      }
      if (this.newAnswer.refUser && this.newAnswer.refUser.length > 0 && this.currentTextType === 'note') {
        for (x = 0; x < this.newAnswer.refUser.length; x++) {
          data.append('refUsers[]', this.newAnswer.refUser[x])
        }
      }
      this.$apiTicket.addAnswer(data, this.ticket.id)
        .then(res => {
          if (this.newAnswer.refUser && this.newAnswer.refUser.length > 0) {
            this.newAnswer.refUser.forEach(item => {
              const newNotif = this.$util.notification(this.currentUser.id, item, 'note', this.ticket.id)
              this.$socket.emit('addNotification', newNotif)
            })
          }
          if (this.ticket.user && this.ticket.user.id !== this.currentUser.id) {
            const newNotif = this.$util.notification(this.currentUser.id, this.ticket.user.id, 'answer', this.ticket.id)
            this.$socket.emit('addNotification', newNotif)
          }
          if (this.ticket.type !== this.newAnswer.type.id && this.ticket.user && this.ticket.user.id !== this.currentUser.id) {
            const newNotif = this.$util.notification(this.currentUser.id, this.ticket.user.id, 'move', this.ticket.id)
            this.$socket.emit('addNotification', newNotif)
          }
          if (this.ticket.type !== this.newAnswer.type.id) {
            var t = this.newAnswer.type.id === 'income' ? 'во входящие' : this.newAnswer.type.id === 'ongoing' ? 'на исполнение'
              : this.newAnswer.type.id === 'onagreement' ? 'на согласование' : 'в завершенные'
            const newHistory = this.$util.staffHistory(this.currentUser.id, null, 'move', [this.ticket.id], t)
            this.$socket.emit('addStaffHistory', { newHistory, roomName: `company-${this.currentUser.company}` })
          }
          if (this.currentTextType !== 'note' && this.ticket.client && this.ticket.client.id !== this.currentUser.id) {
            const newNotif = this.$util.notification(this.currentUser.id, this.ticket.client.id, 'answer', this.ticket.id)
            this.$socket.emit('addNotification', newNotif)
          }
          this.ticket.type = this.newAnswer.type.id
          this.ticketTemp = this.computeTicketTemp(res.data)
          this.newAnswer = this.computeNewAnswer(res.data)
          this.tempRefUsers = []
          eventBus.$emit('clearField')
          const newHistory = this.$util.staffHistory(this.currentUser.id, null, this.currentTextType, [this.$route.query.ticket])
          this.$socket.emit('addStaffHistory', { newHistory, roomName: `company-${this.$auth.currentUser().company}` })
          this.successNotif('Ваше сообщение успешно отправлено')
        }).catch(err => {
          this.handleErr(err)
        })
    },
    computeTicketTemp (ticket) {
      var ttt = []
      if (ticket.texts) {
        ticket.texts.forEach((item, index) => {
          var temp = {
            title: ticket.title,
            text: item.text,
            date: item.created_at,
            username: item.type === 'ticket' ? ticket.client.name : item.userName,
            avatar: item.type === 'ticket' ? ticket.client.avatar : item.userAvatar,
            type: item.type,
            client: item.type === 'answer' ? ticket.client.name : '',
            files: item.files,
            refUsers: item.ref_users,
            doc: item.doc
          }
          ttt.push(temp)
        })
      }
      return ttt
    },
    computeNewAnswer (ticket) {
      return {
        user: !ticket.user || ticket.user === null || ticket.user.id === 'user1' ? {
          id: 'user1',
          username: 'Выберите'
        } : ticket.user,
        type: {
          type: ticket.type,
          name: ticket.type === 'income' ? 'Входящие' : ticket.type === 'done' ? 'Завершенные' : ticket.type === 'ongoing' ? 'На исполнении' : 'На согласовании'
        },
        refUser: [],
        files: [],
        text: '',
        note: ''
      }
    },
    onDone () {
      this.focus = true
    },
    onBlur () {
      this.focus = false
    },
    changeFavOne (id, value) {
      const ids = [{ id }]
      this.$api.changeFavAll(ids, value)
        .then(res => {
          var temp = !value ? 'добавил/а в избранное тикет' : 'удалил/а из избранных тикет'
          const newHistory = this.$util.staffHistory(this.currentUser.id, null, 'favorite', [id], temp)
          this.$socket.emit('addStaffHistory', { newHistory, roomName: `company-${this.currentUser.company}` })
        })
    },
    deleteOneTicket (id) {
      const tds = [id]
      this.$apiTicket.deleteTickets(tds)
        .then(res => {
          if (this.ticket.user && this.ticket.user.id !== this.currentUser.id) {
            const newNotif = this.$util.notification(this.currentUser.id, this.ticket.user.id, 'archive', this.ticket.id)
            this.$socket.emit('addNotification', newNotif)
          }
          if (this.ticket.client && this.ticket.client.id !== this.currentUser.id) {
            const newNotif = this.$util.notification(this.currentUser.id, this.ticket.client.id, 'archive', this.ticket.id)
            this.$socket.emit('addNotification', newNotif)
          }
          this.$router.push('/tickets')
          const newHistory = this.$util.staffHistory(this.currentUser.id, null, 'archive', [id])
          this.$socket.emit('addStaffHistory', { newHistory, roomName: `company-${this.currentUser.company}` })
          eventBus.$emit('oneTicketDeleted', { msg: 'Протокол был перемещен в архив' })
        }).catch(err => { this.handleErr(err) })
    },
    restore (id) {
      const tds = [id]
      this.$apiTicket.restore(tds)
        .then(res => {
          if (this.ticket.user && this.ticket.user.id !== this.currentUser.id) {
            const newNotif = this.$util.notification(this.currentUser.id, this.ticket.user.id, 'restore', this.ticket.id)
            this.$socket.emit('addNotification', newNotif)
          }
          if (this.ticket.client && this.ticket.client.id !== this.currentUser.id) {
            const newNotif = this.$util.notification(this.currentUser.id, this.ticket.client.id, 'restore', this.ticket.id)
            this.$socket.emit('addNotification', newNotif)
          }
          this.$router.push('/tickets')
          const newHistory = this.$util.staffHistory(this.currentUser.id, null, 'restore', [id])
          this.$socket.emit('addStaffHistory', { newHistory, roomName: `company-${this.currentUser.company}` })
          eventBus.$emit('oneTicketDeleted', { msg: 'Протокол был восстановлен' })
        }).catch(err => { this.handleErr(err) })
    },
    checkTextType (type) {
      return type === this.currentTextType
    },
    changeTextType (type) {
      this.currentTextType = type
    },
    checkRead (ticket) {
      if (ticket.id && !ticket.read && ticket.id !== '') {
        this.$apiTicket.changeRead(ticket.id).catch(err => { this.handleErr(err) })
      }
    },
    myfunc () {
      this.showDate = false
    },
    back () {
      eventBus.$off()
      this.$router.go(-1)
    },
    handleErr (err) {
      if (err.response.data.message === 'Invalid token') {
        this.$auth.logout().then(res => { this.$router.go('login') })
      } else {
        this.$notify({
          group: 'tickets',
          type: 'error',
          text: err.response.data.message,
          speed: 300
        })
      }
    },
    successNotif (msg) {
      this.$notify({
        group: 'tickets',
        type: 'success',
        text: msg,
        speed: 300
      })
    },
    getUsersList () {
      this.$api.getUsersListTicket()
        .then(res => {
          this.users.push({ id: this.currentUser.id, name: 'Это вы', username: this.currentUser.username })
          res.data.forEach((item, index) => {
            if ((res.data[index - 1] && res.data[index - 1].roleName !== item.roleName) || (index === 0)) {
              this.users.push({ name: item.roleName, id: 'roleName' })
            }
            this.users.push(item)
          })
        }).catch(err => { this.handleErr(err) })
    }
  },
  mounted () {
    const scrl = document.querySelector('#scroll')
    setTimeout(() => {
      scrl.scrollTop = scrl.scrollHeight
    }, 100)

    eventBus.$on('removeFile', index => {
      this.newAnswer.files.splice(index, 1)
    })
    eventBus.$on('textareaChange', data => {
      this.newAnswer[data.name] = data.value
    })
    eventBus.$on('snoozeTicket', data => {
      console.log(data, 'ticketWindow')
      this.showLoader = true
      this.$apiTicket.changeDeadline(this.$route.query.ticket, data)
        .then(res => {
          this.showLoader = false
          if (this.ticket.user && this.ticket.user.id !== this.currentUser.id) {
            const newNotif = this.$util.notification(this.currentUser.id, this.ticket.user.id, 'deadline', this.ticket.id)
            this.$socket.emit('addNotification', newNotif)
          }
          this.ticket.deadline = data
          this.deadline = moment(data).locale('ru').format('lll')
          this.showDate = !this.showDate
          const newHistory = this.$util.staffHistory(this.currentUser.id, null, 'deadline', [this.$route.query.ticket])
          this.$socket.emit('addStaffHistory', { newHistory, roomName: `company-${this.currentUser.company}` })
          this.successNotif('Дедлайн успешно изменен')
        })
        .catch(err => {
          this.showLoader = false
          this.showDate = !this.showDate
          this.handleErr(err)
        })
    })
    eventBus.$on('fileUploadChange', data => {
      Array.from(data.data).forEach((item, index) => {
        this.newAnswer.files.push(item)
      })
    })
    eventBus.$on('chooseUserForNote', data => {
      if (this.newAnswer.refUser && this.newAnswer.refUser.length > 0) {
        if (this.newAnswer.refUser.indexOf(data.user.id) === -1) {
          this.newAnswer.refUser.push(data.user.id)
          this.tempRefUsers.push('@' + data.user.username)
        }
      } else {
        this.newAnswer.refUser = [data.user.id]
        this.tempRefUsers = ['@' + data.user.username]
      }
    })
    eventBus.$on('deleteUserFromRef', data => {
      this.newAnswer.refUser.splice(data.index, 1)
      this.tempRefUsers.splice(data.index, 1)
    })
    eventBus.$on('selectChange', data => {
      if (data.type === 'user') {
        this.$api.assignUserChecked(data.data.id, this.ticket.id)
          .then(res => {
            if (this.currentUser.id !== data.data.id) {
              const newNotif = this.$util.notification(this.currentUser.id, data.data.id, 'assign', this.ticket.id)
              this.$socket.emit('addNotification', newNotif)
            }
            if (this.ticket.user && this.ticket.user.id !== this.currentUser.id && this.ticket.user.id !== data.data.id) {
              const newNotif = this.$util.notification(this.currentUser.id, this.ticket.user.id, 'assignOther', this.ticket.id)
              this.$socket.emit('addNotification', newNotif)
            }
            if (this.ticket.user && this.ticket.user.id !== data.data.id && data.data.id !== this.$store.getters.getChairman && this.currentUser.id !== this.$store.getters.getChairman) {
              const newNotif = this.$util.notification(this.currentUser.id, this.$store.getters.getChairman, 'assignOther', this.ticket.id)
              this.$socket.emit('addNotification', newNotif)
            }
            const newHistory = this.$util.staffHistory(this.currentUser.id, data.data.id, 'assign', [this.ticket.id])
            this.$socket.emit('addStaffHistory', { newHistory, roomName: `company-${this.currentUser.company}` })
            this.newAnswer.user = data.data
            this.ticket.user = data.data
            this.successNotif('Назначен новый ответственный за протокол')
          }).catch(err => { this.handleErr(err) })
      } else if (data.type === 'assign') {
        this.showLoader = true
        var ids = [this.$route.query.ticket]
        this.$apiTicket.changeTypeChecked(data.data.id, ids)
          .then(res => {
            if (this.ticket.type !== data.data.id && this.ticket.user && this.ticket.user.id !== this.currentUser.id) {
              const newNotif = this.$util.notification(this.currentUser.id, this.ticket.user.id, 'move', this.ticket.id)
              this.$socket.emit('addNotification', newNotif)
            }
            this.showLoader = false
            var t = data.data.id === 'income' ? 'во входящие' : data.data.id === 'ongoing' ? 'на исполнение'
              : data.data.id === 'onagreement' ? 'на согласование' : 'в завершенные'
            const newHistory = this.$util.staffHistory(this.currentUser.id, null, 'move', [this.ticket.id], t)
            this.$socket.emit('addStaffHistory', { newHistory, roomName: `company-${this.currentUser.company}` })
            this.successNotif('Протокол был перемещен')
            this.ticket.type = data.data.id
            this.newAnswer.type = {
              name: data.data.name,
              id: data.data.id
            }
          }).catch(err => { this.handleErr(err) })
      } else if (data.type === 'send') {
        this.newAnswer.type = data.data
      }
    })
  },
  watch: {
    ticket: function () {
      this.ticketTemp = this.computeTicketTemp(this.ticket)
      this.newAnswer = this.computeNewAnswer(this.ticket)
      this.deadline = moment(this.ticket.deadline).locale('ru').format('lll')
      this.checkRead(this.ticket)
    }
  },
  components: {
    mEachTicket,
    mDatePicker
  },
  directives: {
    onClickaway
  }
}
</script>
