.ticket {
  border: 1px solid var(--color-grey);
  background: #fff;
  border-width: 1px 0 1px 1px;
  position: relative;

  &--header {
    padding: 11.5px;
    /*max-height: 47px;*/
    border-bottom: 1px solid #f2f2f2;

    &--left {
      font-size: 11px;
      display: inline-flex;

      &--arrow {
        height: 22px;
        /*height: 100%;*/
      }

      &--shift {
        margin-right: 10px;
      }
    }

    &--right {

      &--number {
        color: #e2e2e2;
        font-size: 15px;
      }

      &--shift {
        margin-left: 5px;
      }
    }
  }

  &--body {
    padding: 0 15px 20px;
    overflow: scroll;
    max-height: calc(100% - 251px);
  }

  &--footer {
    padding: 25px 30px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #f2f2f2;

    &--item {
      width: 100%;
      padding-top: 10px;
      font-size: 11px;

      &--button {
        margin: 0px 0px 0 20px;
        height: 22px;
      }
    }

    &--nav {
      color: #CECECE!important;
    }
  }
}

:global .activeBtn {
  color: #525252!important;
}
