<style src="./style.css" module></style>

<template>
  <div :class="$style.select" v-on-clickaway="makeDefault">
    <div @click="changeArrow()" class="flex fl-sb">
      <a-button modificator="ordinary" 
                type="button" 
                :name="name" 
                :text="text" 
                :color="color" 
                :class="[text !== '' ? $style.fixedWidth : '']"
                v-if="type !== 'send'"
                :textType="textType"></a-button>
      <span :class="[$style.selectArrow, getColor,
         myArrow === 'up' ? 'icon-triangle-up' : 'icon-triangle-down']"></span>
    </div>
    <transition name="slideDown">
      <div>
        <ul v-if="myActive" :class="[$style.selectList, getAlign, getType]">
          <li :class="[$style.selectListElem, project.id === 'roleName' ? 'select-bg' : '']"
            v-for="(project, index) in array"
            :key="index"
            @click="(project.id !== 'roleName') && handleChange(project)">
          <span :class="type === 'user' && project.id !== 'roleName' ? 'ml1' : ''">{{project.name}}</span>
            {{ type === 'user' && project.id !== 'roleName' ? " | " + project.username : "" }}</li>
        </ul>
      </div>
    </transition>
  </div>
</template>


<script type="text/javascript">
import eventBus from 'EventBus'
import { directive as onClickaway } from 'vue-clickaway'

export default {
  name: 'aSelect',
  data () {
    return {
      myActive: false,
      myArrow: 'down'
    }
  },
  computed: {
    getColor () {
      const colorMap = {
        'pink': this.showbg ? this.$style.selectArrowPinkShow : this.$style.selectArrowPink,
        'blue': this.showbg ? this.$style.selectArrowBlueShow : this.$style.selectArrowBlue,
        'grey': this.showbg ? this.$style.selectArrowGreyShow : this.$style.selectArrowGrey,
        'greyLight': this.showbg ? this.$style.selectArrowGreyLightShow : this.$style.selectArrowGreyLight
      }
      return colorMap[this.color]
    },
    getAlign () {
      const alignMap = {
        'left': this.$style.selectListLeft,
        'center': this.$style.selectListCenter,
        'right': this.$style.selectListRight
      }
      return alignMap[this.align]
    },
    getType () {
      const typeMap = {
        'up': this.$style.selectListUp,
        'down': this.$style.selectListDown
      }
      return typeMap[this.arrow]
    }
  },
  props: {
    name: {
      type: String,
      default: ''
    },
    color: {
      type: String,
      default: ''
    },
    arrow: {
      type: String,
      default: 'down'
    },
    text: {
      type: String,
      default: ''
    },
    align: {
      type: String,
      default: 'left'
    },
    type: {
      type: String,
      default: ''
    },
    showbg: {
      type: Boolean,
      default: false
    },
    textType: {
      type: String,
      default: 'lowercase'
    },
    array: Array
  },
  beforeMount () {
    this.myArrow = this.arrow
  },
  methods: {
    handleChange (project) {
      this.changeArrow()
      eventBus.$emit('selectChange', { type: this.type, name: this.name, data: project })
    },
    changeArrow () {
      this.myArrow = this.myArrow === 'down' ? 'up' : 'down'
      this.myActive = !this.myActive
    },
    makeDefault () {
      this.myActive = false
      this.myArrow = this.arrow
    }
  },
  directives: {
    onClickaway
  }
}
</script>
