.select {
  /*display: block;*/
  outline: none;
  /*overflow-y: scroll;*/
  position: relative;
  cursor: pointer;
  box-sizing: border-box;

  &--arrow {
    position: relative;
    border-radius: 2px;
    margin-left: 2px;
    height: 100%;
    text-align: center;
    /*line-height: 1.5em;*/
    padding: 5px;

      &--pink {
        color: var(--color-pink);

        &--show {
          color: #fff;
          background-color: var(--color-pink);
        }
      }

      &--blue {
        color: var(--color-blue);

        &--show {
          color: #fff;
          background-color: var(--color-blue);
        }
      }

      &--grey {
        color: var(--color-grey-second);

        &--show {
          color: #fff;
          background-color: var(--color-grey-second);
        }
      }

      &--greyLight {
        color: #c7c7c7;

        &--show {
          color: #fff;
          background-color: #c7c7c7;
        }
      }
  }

  &--list {
    position: absolute;
    display: block;
    overflow-y: scroll;
    min-width: 200px;
    max-height: 100px;

    background-color: #fff;
    border-top: none;
    color: #7e7e7e;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid var(--color-border-secondary);

    box-shadow: var(--shadow-level-main);
    z-index: 1;
    text-align: left;

    &--elem {
      padding-left: 10px;
      line-height: 2em;

      &:hover {
        background-color: var(--color-grey-light);
      }
    }

    &--left {
      left: 0;
    }

    &--center {
      left: 40%;
    }

    &--right {
      right: 0;
    }

    &--up {
      bottom: 40px;
    }

    &--down {
      top: 40px;
    }
  }
}

.fixedWidth {
  min-width: 100px;
  width: calc(100% - 23px);
  text-align: left;
}

:global .select-bg {
  background-color: var(--color-grey-light);
  font-weight: 700;
}
