<style src="./style.css" module></style>

<template>
  <div class="flex fl-dc fl-fs">
    <div :class="$style.menuItem" v-if="currentUser.roleName !== 'client'">
      <router-link :to="{ path: '/'}" class="text-dec">
        <a-menu-button name="dashboard" :active="pages.dashboard" @click="onClick('dashboard')"></a-menu-button>
      </router-link>
      <div :class="$style.tooltip">Главная страница</div>
    </div>
    <div :class="$style.menuItem">
      <router-link :to="{ path: '/tickets'}" class="text-dec">
        <a-menu-button name="tickets" :active="pages.tickets" @click="onClick('tickets')"></a-menu-button>
      </router-link>
      <div :class="$style.tooltip">Все протоколы</div>
    </div>
    <!-- <div :class="$style.menuItem">
      <router-link :to="{ path: '/'}" class="text-dec">
        <a-menu-button name="pending" :active="pages.pending" @click="onClick('pending')"></a-menu-button>
      </router-link>
      <div :class="$style.tooltip">Заявки в ожидании</div>
    </div>
    <div :class="$style.menuItem">
      <router-link :to="{ path: '/'}" class="text-dec">
        <a-menu-button name="closed" :active="pages.closed" @click="onClick('closed')"></a-menu-button>
      </router-link>
      <div :class="$style.tooltip">Закрытые заявки</div>
    </div> -->
    <div :class="$style.menuItem">
      <router-link :to="{ path: '/favorite'}" class="text-dec">
        <a-menu-button name="favorite" :active="pages.favorite" @click="onClick('favorite')" v-if="currentUser.roleName !== 'client'"></a-menu-button>
      </router-link>
      <div :class="$style.tooltip">Избранные протоколы</div>
    </div>
    <div :class="$style.menuItem">
      <router-link :to="{ path: '/archived'}" class="text-dec">
        <a-menu-button name="archived" :active="pages.archived" @click="onClick('archived')"></a-menu-button>
      </router-link>
      <div :class="$style.tooltip">Удаленные протоколы</div>
    </div>
    <!-- <div :class="$style.menuItem">
      <a-menu-button name="sms" :active="pages.sms" @click="openModal()" v-if="type === 'client'"></a-menu-button>
      <div :class="$style.tooltip">Отправить вопрос</div>
    </div> -->
    <div :class="$style.menuItem">
      <router-link :to="{ path: '/addticket'}" class="text-dec">
        <a-menu-button name="addticket" :active="pages.addticket" @click="onClick('addticket')"></a-menu-button>
      </router-link>
      <div :class="$style.tooltip">Добавить протокол по шаблону</div>
    </div>
    <div :class="[$style.menuItem, 'space']">
      <router-link :to="{ path: '/settings/personal' }" class="text-dec">
        <a-menu-button name="settings" :active="pages.settings" @click="onClick('settings')"></a-menu-button>
      </router-link>
      <div :class="$style.tooltip">Настройки</div>
    </div>
    <div :class="[$style.menuItem]">
      <a-menu-button name="exit" :active="pages.exit" @click="onClick('open'); logout()"></a-menu-button>
      <div :class="$style.tooltip">Выйти</div>
    </div>
  </div>
</template>

<script type="text/javascript">
import { mapGetters } from 'vuex'
import eventBus from 'EventBus'

export default {
  name: 'mMenu',
  data () {
    return {
      pages: {
        tickets: false,
        addticket: false,
        settings: false,
        exit: false,
        favorite: false,
        archived: false,
        dashboard: false
      }
    }
  },
  beforeMount () {
    var page = this.$route.path.split('/')[1]
    if (page && page !== '') {
      this.$store.commit('changePage', page)
    }
    this.getPages()
    eventBus.$on('go-home', () => {
      this.onClick('dashboard')
    })
  },
  computed: {
    ...mapGetters({
      currentPage: 'getCurrentPage'
    }),
    currentUser () {
      return this.$auth.currentUser()
    }
  },
  methods: {
    onClick (page) {
      if (page === 'favorite') {
        this.$store.commit('changeNav', 'income')
        eventBus.$emit('getFavorite')
      } else if (page === 'tickets') {
        this.$store.commit('changeNav', 'income')
        eventBus.$emit('getTickets')
      } else if (page === 'archived') {
        this.$store.commit('changeNav', 'income')
        eventBus.$emit('getArchive')
      }
      this.$store.commit('emptyChecked')
      this.$store.commit('changePage', page)
      this.getPages()
    },
    getPages () {
      Object.keys(this.pages).forEach((item) => {
        if (item === this.currentPage) {
          this.pages[item] = true
        } else {
          this.pages[item] = false
        }
      })
    },
    openModal () {
      eventBus.$emit('openTicketModal')
    },
    logout () {
      this.$socket.emit('leaveRoom', `company-${this.$auth.currentUser().company}`)
      this.$socket.emit('leaveRoom', `user-${this.$auth.currentUser().id}`)
      this.$auth.logout()
        .then(res => {
          this.$router.go('login')
        })
    }
  }
}
</script>
