<style src="./style.css" module></style>

<template>
  <div>
    <form :class="[$style.form, 'flex', 'fl-dc', 'fl-sa']" @submit.prevent="forgot">
      <m-input-group label="Введите свой email" placeholder="Email" name="email" :value="email"></m-input-group>
      <div class="flex fl-sb">
        <a-button text="Отправить" 
                  color="blue" 
                  modificator="main" 
                  style="height: 36px; width: 55%" 
                  textType="uppercase"></a-button>
        <a-button text="Назад" 
                  color="greyLight" 
                  modificator="main" 
                  style="height: 36px; width: 40%" 
                  textType="uppercase" 
                  type="button"
                  @click="back"></a-button>
      </div>
    </form>
    <m-loader :show="showLoader"></m-loader>
    <notifications group="user" class="mt1" position="top center"/>
  </div>
</template>

<script>
import mInputGroup from 'Molecules/inputGroup'
import mLoader from 'Molecules/loader'
import eventBus from 'EventBus'

export default {
  name: 'oForgot',
  components: {
    mInputGroup,
    mLoader
  },
  methods: {
    forgot () {
      this.showLoader = true
      this.$auth.forgot(this.email)
        .then(res => {
          this.showLoader = false
          this.email = ''
          this.$notify({
            group: 'tickets',
            type: 'success',
            text: 'Инструкция по изменению пароля отправлен вам на почту',
            speed: 300
          })
        })
        .catch(err => {
          this.showLoader = false
          if (err.response) {
            eventBus.$emit('inputError', { ...err.response.data })
          } else {
            Object.keys(err).forEach((item, index) => {
              const key = Object.keys(err)[index]
              eventBus.$emit('inputError', { origin: key, message: err[item] })
            })
          }
        })
    },
    back () {
      this.$router.go(-1)
    }
  },
  data () {
    return {
      email: '',
      showLoader: false
    }
  },
  beforeMount () {
    eventBus.$on('inputChange', data => {
      this.email = data.value
    })
  }
}
</script>