<style src="./style.css" module></style>

<template>
    <div :class="[$style.field, { 'bg-pink': name === 'note' }]">
      <textarea
        :class="[$style.fieldTextarea, { 'bg-pink': name === 'note' }]"
        :placeholder="placeholder"
        :name="name"
        :value="value"
        v-autosize="value"
        @change="onChange"
        ref="textarea"
        @blur="onBlur"></textarea>
      
      <div :class="[$style.fieldButton]">
        <a-file-upload @change="handleFileUpload" :class="{ 'bg-pink': name === 'note' }"></a-file-upload>
      </div>
      <div :class="$style.fieldRef" v-if="name === 'note'">
        <i class="icon-price-tags"></i>
        <input type="text" name="user" @input="handleInput" :value="refUsersString" placeholder="Начните вводить логин или имя пользователя">
      </div>
      <div :class="$style.fieldSelect" v-if="users.length > 0">
        <div v-for="user in users" :key="user._id" :class="[$style.fieldSelectEach, 'flex fl-aic']" @click="chooseUser(user)">
          <span>@{{user.username}} | {{user.name}}</span>
        </div>
      </div>
    </div>
</template>

<script>
import eventBus from 'EventBus'
import { directive as onClickaway } from 'vue-clickaway'

export default {
  name: 'aTextarea',
  props: {
    placeholder: {
      type: String,
      default: ''
    },
    value: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: ''
    },
    refUsers: Array,
    focus: false
  },
  data () {
    return {
      choosedUser: '',
      refUsersString: '',
      users: []
    }
  },
  methods: {
    onChange (e) {
      eventBus.$emit('textareaChange', { value: e.target.value, name: e.target.name })
    },
    handleFileUpload (data) {
      eventBus.$emit('fileUploadChange', { data })
    },
    onBlur () {
      this.$emit('blur')
    },
    handleInput (e) {
      if (e.data === null) {
        this.refUsersString = this.refUsersString.slice(0, this.refUsersString.length - 1)
        if (!this.refUsersString || this.refUsersString === '' || this.refUsersString === '@') this.users = []
        this.refUsers.forEach((user, index) => {
          if (e.target.value.indexOf(user) === -1) {
            eventBus.$emit('deleteUserFromRef', { index })
          }
        })
      } else this.refUsersString = this.refUsersString.concat(e.data)
      if (e.target.name === 'user' && e.data !== ' ' && this.refUsersString) {
        this.$api.getUsersList(e.target.value)
          .then(res => {
            this.users = res.data
          })
          .catch(err => { this.handleErr(err) })
      }
    },
    chooseUser (user) {
      eventBus.$emit('chooseUserForNote', { user })
      this.users = []
    }
  },
  beforeMount () {
    if (this.refUsers) {
      this.refUsersString = this.refUsers.join(', ')
    }
  },
  watch: {
    focus: function () {
      if (this.focus) {
        this.$refs.textarea.focus()
      }
    },
    refUsers: function () {
      this.refUsersString = this.refUsers.join(', ')
      if (this.refUsersString === '' || this.refUsersString === '@') this.users = []
    }
  },
  directives: {
    onClickaway
  }
}
</script>
