.field {
  background-color: #fff;
  border: 1px solid #cdcdcd;
  line-height: 1.5em;
  /*padding: 5px;*/
  /*min-height: 140px;*/
  height: auto;
  width: 100%;
  border-radius: 2px;
  position: relative;

  &--textarea {
    padding: 5px;
    font-family: inherit;
    font-size: inherit;
    width: 100%;
    min-height: 25px;
    resize: none;
    border: none;
    overflow: auto;
    outline: none;
    line-height: 1.3em;
  }

  &--button {
    width: 100%;
    height: 40px;
  }

  &--select {
    min-width: 120px;
    height: auto;    
    max-height: 100px;
    overflow-y: scroll;
    color: var(--color-grey-first);
    z-index: 1;
    position: absolute;
    left: 25px;
    background-color: #e5e5e5;

    &--each {
      width: 100%;
      height: 30px;
      cursor: pointer;
      /*border: 1px solid var(--color-grey-light);*/
      /*border-width: 0px 1px 1px 1px;*/
      padding: 10px;
    }
    /*&--each:first-of-type {
      border-width: 1px 1px 1px 1px;
    }*/
  }

  &--ref {
    border-top: 1px solid #cdcdcd;
    padding: 5px;

    & i {
      color: #888888;
    }

    & input {
      border: none;
      outline: none;
      background-color: #ffeaea;
      width: calc(100% - 25px);
      font-size: inherit;
      font-weight: inherit;
      font-family: inherit;
      color: inherit;
    }
  }
}

:global .bg-pink {
  background-color: #ffeaea!important;
}