<style src="./style.css" module></style>

<template>
  <span :class="[$style.fileUpload]">
    <div :class="[$style.fileUploadList]">
      <span v-for="(file, index) in fileNameValue" :key="index">{{file}}
          <a-button modificator="ordinary" name="xCircle" type="button" @click="removeFile(index)"></a-button>
      </span>
    </div>
    <span :class="[$style.fileUpload, $style.fileUploadIcon, 'icon-attachment']" title="Загрузить файл">
      <input @change="uploadFile"
        :class="$style.fileUploadFile"
        type="file"
        :multiple="multipleAllow"
        name="filename"
        :accept="acceptType">
    </span>
    </span>
</template>

<script>
import eventBus from 'EventBus'
export default {
  name: 'aFileUpload',
  props: {
    acceptType: {
      type: String,
      default: '.xlsx,.xls,.doc, .docx,.ppt, .pptx,.txt,.pdf'
    },
    multipleAllow: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      fileNameValue: []
    }
  },
  methods: {
    uploadFile (el) {
      Array.from(el.target.files).forEach((item, index) => {
        this.fileNameValue.push(item.name)
      })
      this.$emit('change', el.target.files)
    },
    removeFile (index) {
      this.fileNameValue.splice(index, 1)
      eventBus.$emit('removeFile', index)
    }
  },
  beforeMount () {
    eventBus.$on('clearField', () => {
      this.fileNameValue.splice(0)
    })
  }
}
</script>
