.fileUpload {

    position: relative;
    display: flex;
    width: 100%;

    /*background: #fff;*/
    color: #7e7e7e;
    font-size: inherit;
    font-family: inherit;

    &--icon {
      vertical-align: middle;
      max-width: 38px;
      padding: 12px;
      cursor: pointer;
      /*border: 1px solid gainsboro;
      border-left: none;*/
    }

    &--file {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      min-height: 100%;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      cursor: pointer;
  	}

    &--list {
      width: calc(100% - 38px);
      overflow-x: hidden;
      overflow-y: scroll;
      max-height: 40px;
      padding: 5px;
      /*background: gainsboro;*/

      /*& span {
        display: block;
      }*/
    }

    &[block] {
      display: block;
      width: 100%;
    }
}
