<style src="./style.css" module></style>
<template>
  <div :class="$style.list">
    <a-grid :class="[$style.listHeader, 'flex fl-aic']">
      <a-grid-item grid="grid-1-12">
        <a-grid>
          <a-grid-item grid="grid-6-12" class="flex fl-c fl-aic" v-if="tickets.length > 0">
            <a-checkbox :checked="checked.indexOf('all') > -1" v-show="checked.length > 0" @change="changeAll()"></a-checkbox>
          </a-grid-item>
          <a-grid-item grid="grid-6-12" class="flex fl-c fl-aic" v-show="checked.length > 0"
            v-if="currentUser.roleName !== 'client' && currentPage !== 'archived'">
            <a-checkbox modificator="star" :checked="tempFav" @change="changeFavAll()"></a-checkbox>
          </a-grid-item>
        </a-grid> 
      </a-grid-item>
      <!-- <a-grid-item grid="grid-1-12" class="flex fl-fe fl-aic" v-show="checked.length > 0"
        v-if="currentUser.roleName !== 'client' && currentPage !== 'archived'">
        <a-select name="user" color="blue" type="user"></a-select> 
      </a-grid-item> -->
      <a-grid-item grid="grid-1-12" class="flex fl-fe fl-aic" v-show="checked.length > 0"
        v-if="currentUser.roleName !== 'client' && currentPage !== 'archived'">
        <a-select name="flag" color="grey" type="assign" :array="arrType"></a-select> 
      </a-grid-item>
      <a-grid-item grid="grid-1-12" class="flex fl-c fl-aic" v-show="checked.length > 0"
        v-if="currentUser.roleName !== 'client' && currentPage !== 'archived'" style="margin-top: -2px;">
        <a-button name="trash" modificator="ordinary" color="grey" @click="deleteTickets()"></a-button> 
      </a-grid-item>
      <a-grid-item grid="grid-1-12" class="flex fl-fs fl-aic" v-show="checked.length > 0"
        v-if="currentUser.roleName === 'client' && currentPage !== 'archived'">
        <a-button name="trash" modificator="ordinary" color="blue" @click="deleteTickets()"></a-button> 
      </a-grid-item>

      <a-grid-item grid="grid-4-12" class="flex fl-fs fl-aic"
        v-show="checked.length > 0" v-if="currentPage === 'archived'">
        <a-button name="restore" modificator="ordinary" textType="none" color="blue"
              text="Восстановить" @click="restore()" :style="currentUser.roleName === 'client' ? '' : 'margin-left: 20px;'"></a-button> 
        <a-button name="trash" modificator="ordinary" textType="none" color="greyLight"
              text="Удалить навсегда" @click="openModal()" style="margin-left: 20px;"></a-button>
      </a-grid-item>
    </a-grid>
    
    <modal name="delete-ticket" width="400" height="180">
      <div :class="[$style.modal, 'flex', 'fl-dc']">
        <div :class="['flex', 'fl-sb', $style.modalHeader]">
          <p>Удаление протокола</p>
          <a-button modificator="ordinary" name="xCircle" @click="closeModal" color="none"></a-button>
        </div>
        <form :class="['flex fl-dc fl-aic fl-sb', $style.modalBody]" @submit.prevent="deleteForever">
          <div :class="['flex', 'fl-c']">
            Вы действительно хотите удалить выбранные протокола<br><span class="blue-text">навсегда?</span><br>
            Также будут удалены все данные связанные с протоколом и <br><span class="blue-text">восстановить их будет невозможно</span>
          </div>
          <div :class="['flex', 'fl-sa']" style="width: 200px">
            <a-button modificator="ordinary" text="Удалить" color="blue" textType="none"></a-button>
            <a-button modificator="ordinary" text="Отменить" color="greyLight" textType="none" type="button" @click="closeModal"></a-button>
          </div>
        </form>
      </div>
    </modal>

    <div :class="$style.listBody">
      <div v-if="tickets.length === 0" :class="$style.listBodyMessage">
        <span>Нет протоколов</span>
      </div>
      <m-ticket-client v-for="ticket in tickets" :key="ticket.id" :ticket="ticket" v-if="currentUser.roleName === 'client'"></m-ticket-client>
      <m-ticket v-for="ticket in tickets" :key="ticket.id" :ticket="ticket" v-if="currentUser.roleName !== 'client'"></m-ticket>
    </div>
    <m-loader :show="showLoader"></m-loader>
  </div>
</template>

<script>
import mTicket from 'Molecules/ticket'
import mTicketClient from 'Molecules/ticketClient'
import eventBus from 'EventBus'
import mLoader from 'Molecules/loader'

export default {
  name: 'oTicketList',
  props: {
    tickets: Array
  },
  data () {
    return {
      showLoader: false
    }
  },
  computed: {
    checked () {
      return this.$store.getters.getChecked
    },
    tempFav () {
      return this.checkFavs()
    },
    currentUser () {
      return this.$auth.currentUser()
    },
    currentPage () {
      return this.$store.getters.getCurrentPage
    },
    arrType () {
      return this.$store.getters.getArrType
    }
  },
  methods: {
    openModal () {
      this.$modal.show('delete-ticket')
    },
    closeModal () {
      this.$modal.hide('delete-ticket')
    },
    changeAll () {
      this.$store.dispatch('changeChecked', {
        type: 'all',
        value: this.tickets
      })
    },
    changeFavAll () {
      this.$apiTicket.changeFav(this.tickets, this.tempFav)
        .then(res => {
          var ids = []
          this.tickets.forEach(item => {
            ids.push(item.id)
          })
          var temp = !this.tempFav ? 'добавил/а в избранное протокол' : 'удалил/а из избранных протокол'
          const newHistory = this.$util.staffHistory(this.currentUser.id, null, 'favorite', ids, temp)
          this.$socket.emit('addStaffHistory', { newHistory, roomName: `company-${this.currentUser.company}` })
          eventBus.$emit('changeFavAll', { value: this.tempFav })
        }).catch(err => { this.handleErr(err) })
    },
    checkFavs () {
      for (var i = 0; i < this.tickets.length; i++) {
        if (!this.tickets[i].favorite) {
          return false
        }
      }

      return true
    },
    deleteTickets () {
      this.showLoader = true
      this.$apiTicket.deleteTickets(this.checked)
        .then(res => {
          this.tickets.forEach(item => {
            if (this.checked.indexOf(item.id) > -1) {
              if (item.user_id && item.user_id !== this.currentUser.id) {
                const newNotif = this.$util.notification(this.currentUser.id, item.user_id, 'archive', item.id)
                this.$socket.emit('addNotification', newNotif)
              }
              if (item.client && item.client.id !== this.currentUser.id) {
                const newNotif = this.$util.notification(this.currentUser.id, item.client.id, 'archive', item.id)
                this.$socket.emit('addNotification', newNotif)
              }
            }
          })
          this.showLoader = false
          const newHistory = this.$util.staffHistory(this.currentUser.id, null, 'archive', this.checked)
          this.$socket.emit('addStaffHistory', { newHistory, roomName: `company-${this.currentUser.company}` })
          eventBus.$emit('oneTicketDeleted', { msg: 'Выбранные протокола перемещены в архив', arr: this.checked })
          this.$store.commit('emptyChecked')
        }).catch(err => { this.handleErr(err) })
    },
    restore () {
      this.showLoader = true
      this.$apiTicket.restore(this.checked)
        .then(res => {
          this.tickets.forEach(item => {
            if (this.checked.indexOf(item.id) > -1) {
              if (item.user_id && item.user_id !== this.currentUser.id) {
                const newNotif = this.$util.notification(this.currentUser.id, item.user_id, 'restore', item.id)
                this.$socket.emit('addNotification', newNotif)
              }
              if (item.client && item.client.id !== this.currentUser.id) {
                const newNotif = this.$util.notification(this.currentUser.id, item.client.id, 'restore', item.id)
                this.$socket.emit('addNotification', newNotif)
              }
            }
          })
          this.showLoader = false
          const newHistory = this.$util.staffHistory(this.currentUser.id, null, 'restore', this.checked)
          this.$socket.emit('addStaffHistory', { newHistory, roomName: `company-${this.currentUser.company}` })
          eventBus.$emit('oneTicketDeleted', { msg: 'Выбранные протокола восстановлены', arr: this.checked })
          this.$store.commit('emptyChecked')
        }).catch(err => { this.handleErr(err) })
    },
    deleteForever () {
      this.closeModal()
      this.showLoader = true
      this.$apiTicket.deleteForever(this.checked)
        .then(res => {
          this.tickets.forEach(item => {
            if (this.checked.indexOf(item.id) > -1) {
              if (item.user_id && item.user_id !== this.currentUser.id) {
                const newNotif = this.$util.notification(this.currentUser.id, item.user_id, 'delete', item.id)
                this.$socket.emit('addNotification', newNotif)
              }
              if (item.client && item.client.id !== this.currentUser.id) {
                const newNotif = this.$util.notification(this.currentUser.id, item.client.id, 'delete', item.id)
                this.$socket.emit('addNotification', newNotif)
              }
            }
          })
          this.showLoader = false
          const newHistory = this.$util.staffHistory(this.currentUser.id, null, 'delete', this.checked)
          this.$socket.emit('addStaffHistory', { newHistory, roomName: `company-${this.currentUser.company}` })
          eventBus.$emit('oneTicketDeleted', { msg: 'Выбранные протокола удалены навсегда', arr: this.checked })
          this.$store.commit('emptyChecked')
        }).catch(err => { this.handleErr(err) })
    },
    handleErr (err) {
      this.showLoader = false
      if (err.response.data.message === 'Invalid token') {
        this.$auth.logout().then(res => { this.$router.go('login') })
      } else {
        this.$notify({
          group: 'tickets',
          type: 'error',
          text: err.response.data.message,
          speed: 300
        })
      }
    }
  },
  mounted () {
    eventBus.$on('selectChange', data => {
      if (data.type === 'assign') {
        this.showLoader = true
        this.$apiTicket.changeTypeChecked(data.data.id, this.checked)
          .then(res => {
            this.tickets.forEach(item => {
              if (this.checked.indexOf(item.id) > -1 && item.user_id && item.user_id !== this.currentUser.id && item.type !== data.data.id) {
                const newNotif = this.$util.notification(this.currentUser.id, item.user_id, 'move', item.id)
                this.$socket.emit('addNotification', newNotif)
              }
            })
            this.showLoader = false
            var t = data.data.id === 'income' ? 'во входящие' : data.data.id === 'ongoing' ? 'на исполнение'
              : data.data.id === 'onagreement' ? 'на согласование' : 'в завершенные'
            const newHistory = this.$util.staffHistory(this.currentUser.id, null, 'move', this.checked, t)
            this.$socket.emit('addStaffHistory', { newHistory, roomName: `company-${this.currentUser.company}` })
            // eventBus.$emit('moveTicketList', { arr: this.checked, type: data.data.id, msg: 'Выбранные протокола были перемещены' })
            eventBus.$emit('oneTicketDeleted', { msg: 'Выбранные протокола были перемещены', arr: this.checked })
            this.$store.commit('emptyChecked')
          }).catch(err => { this.handleErr(err) })
      }
    })
  },
  components: {
    mTicket,
    mTicketClient,
    mLoader
  }
}
</script>