.list {
  border: 1px solid var(--color-grey);
  border-width: 1px 0 1px 1px;
  background: #fff;

  &--header {
    padding: 11.5px 20px;
    min-height: 55px;
  }

  &--body {
    height: calc(100% - 55px);
    overflow-y: scroll;

    &--message {
      width: 100%;
      font-size: 1.5rem;
      font-family: inherit;
      color: var(--color-grey-first);
      text-align: center;
    }
  }
}

.modal {
  height: 100%;

  &--header {
    color: #fff;
    padding: 0 20px;
    line-height: 3;
    background: var(--color-background)
  }

  &--body {
    padding: 20px;
    flex-grow: 1;
  }
}