<style src="./style.css" module></style>

<template>
  <form :class="[$style.form, 'flex', 'fl-dc', 'fl-sa']" @submit.prevent="login">
    <m-input-group label="Ваш ID или email" placeholder="ID или email" name="email"></m-input-group>
    <m-input-group label="Пароль" type="password" placeholder="Пароль" name="password"></m-input-group>
    <a-button text="Войти" color="blue" modificator="main" style="height: auto" textType="uppercase"></a-button>
    <div style="color: #1d89e3; text-align: center"><router-link :to="{ path: '/forgot'}">Забыли пароль?</router-link></div>
  </form>
</template>

<script>
import mInputGroup from 'Molecules/inputGroup'
import eventBus from 'EventBus'

export default {
  name: 'oLogin',
  components: {
    mInputGroup
  },
  methods: {
    login () {
      this.$auth.login(this.userData)
        .then(res => {
          this.$router.go('/')
        })
        .catch(err => {
          if (err.response) {
            eventBus.$emit('inputError', { ...err.response.data })
          } else {
            Object.keys(err).forEach((item, index) => {
              const key = Object.keys(err)[index]
              eventBus.$emit('inputError', { origin: key, message: err[item] })
            })
          }
        })
    }
  },
  data () {
    return {
      userData: {
        email: '',
        password: ''
      }
    }
  },
  beforeMount () {
    eventBus.$on('inputChange', data => {
      this.userData[data.name] = data.value
    })
  }
}
</script>
