<style src="./style.css" module></style>

<template>
  <div :class="$style.ticket">
    <a-grid :class="[$style.ticketHeader, 'flex fl-aic']">
      <a-grid-item grid="grid-7-12" :class="[$style.ticketHeaderLeft, 'flex fl-aic']">
        <!-- <router-link :to="{ path: '/'}" class="text-dec"> -->
          <a-button name="arrowLeft"
                    color="greyLight"
                    modificator="ordinary"
                    type="button"
                    @click="back"
                    :class="[$style.ticketHeaderLeftArrow, $style.ticketHeaderLeftShift]"></a-button>
        <a-button name="print" 
                  modificator="ordinary" 
                  color="blue" 
                  @click="print"
                  :class="[$style.ticketHeaderLeftArrow, $style.ticketHeaderLeftShift]"
                  title="Печать"></a-button>
        <!-- </router-link> -->
      </a-grid-item>
      <a-grid-item grid="grid-5-12" :class="[$style.ticketHeaderRight, 'flex fl-fe fl-aic']">
        <a-button name="undo"
                  modificator="ordinary"
                  color="blue"
                  :class="$style.ticketHeaderRightShift"
                  v-scroll-to="{ element: '#answerText', easing: 'linear', onDone: onDone }"></a-button>
        <a-button name="trash"
                  modificator="ordinary"
                  color="blue"
                  v-if="ticket.status === 'active'"
                  :class="$style.ticketHeaderRightShift"
                  @click="deleteOneTicket(ticket.id)"></a-button>
        <a-button name="restore"
                  modificator="ordinary"
                  color="blue"
                  v-else
                  :class="$style.ticketHeaderRightShift"
                  @click="restore(ticket.id)"></a-button>
      </a-grid-item>
    </a-grid>
    <a-grid :class="$style.ticketBody">
      <m-each-ticket v-for="(t, index) in ticketTemp" :key="index" :ticket="t" v-if="!(t.isClient && t.type === 'note')"></m-each-ticket>
    </a-grid>
    <a-grid :class="$style.ticketFooter">
      <a-textarea name="text" id="answerText" :focus="focus" @blur="onBlur" :value="text"></a-textarea>
      <div class="flex fl-fe" :class="$style.ticketFooterItem">
        <a-button text="Отправить"
                  modificator="ordinary"
                  color="blue"
                  :class="$style.ticketFooterItemButton"
                  @click="onClick"
                  textType="none"></a-button>
      </div>
    </a-grid>
  </div>
</template>

<script type="text/javascript">
import mEachTicket from 'Molecules/eachTicket'
import eventBus from 'EventBus'

export default {
  name: 'oTicketWindowClient',
  props: {
    ticket: {
      type: Object,
      default: () => {
        return {
          id: '',
          ticketTitle: '',
          createdAt: Date.now(),
          number: 3,
          type: 'open',
          favorite: false,
          user: {
            id: 'user1',
            username: 'Всем'
          },
          client: {
            companyName: ''
          },
          texts: [
            {
              text: '',
              type: 'ticket',
              date: Date.now()
            }
          ]
        }
      }
    }
  },
  data () {
    return {
      text: '',
      ticketTemp: [],
      focus: false,
      files: []
    }
  },
  beforeMount () {
    eventBus.$on('textareaChange', data => {
      this.text = data.value
    })
    this.ticketTemp = this.computeTicketTemp(this.ticket)

    eventBus.$on('fileUploadChange', data => {
      Array.from(data.data).forEach((item, index) => {
        this.files.push(item)
      })
    })
    eventBus.$on('removeFile', index => {
      this.files.splice(index, 1)
    })
  },
  methods: {
    onClick () {
      var data = new FormData()
      data.append('user', JSON.stringify(this.ticket.user))
      data.append('text', this.text)
      data.append('oldType', this.ticket.type)
      data.append('type', this.ticket.type)
      for (var x = 0; x < this.files.length; x++) {
        data.append('fileToUpload[]', this.files[x])
      }
      this.$apiTicket.addAnswer(data, this.ticket.id)
        .then(res => {
          if (this.ticket.user && this.ticket.user.id !== this.currentUser.id) {
            const newNotif = this.$util.notification(this.currentUser.id, this.ticket.user.id, 'answer', this.ticket.id)
            this.$socket.emit('addNotification', newNotif)
          }
          this.ticketTemp = this.computeTicketTemp(res.data)
          this.ticket = res.data
          this.text = ''
          eventBus.$emit('clearField')
          this.successNotif('Ваше сообщение успешно отправлено')
        }).catch(err => {
          this.handleErr(err)
        })
    },
    computeTicketTemp (ticket) {
      var ttt = []
      if (ticket.texts) {
        ticket.texts.forEach((item, index) => {
          var temp = {
            title: ticket.title,
            text: item.text,
            date: item.created_at,
            username: item.type === 'ticket' ? ticket.client.name : item.userName,
            avatar: item.type === 'ticket' ? ticket.client.avatar : item.userAvatar,
            type: item.type,
            client: item.type === 'answer' ? ticket.client.name : '',
            files: item.files,
            doc: item.doc
          }
          ttt.push(temp)
        })
      }
      return ttt
    },
    onDone () {
      this.focus = true
    },
    onBlur () {
      this.focus = false
    },
    deleteOneTicket (id) {
      const tds = [id]
      this.$apiTicket.deleteTickets(tds)
        .then(res => {
          if (this.ticket.user && this.ticket.user.id !== this.currentUser.id) {
            const newNotif = this.$util.notification(this.currentUser.id, this.ticket.user.id, 'archive', this.ticket.id)
            this.$socket.emit('addNotification', newNotif)
          }
          this.$router.push('/tickets')
          eventBus.$emit('oneTicketDeleted', { msg: 'Протокол был перемещен в архив' })
        }).catch(err => { this.handleErr(err) })
    },
    restore (id) {
      const tds = [id]
      this.$apiTicket.restore(tds)
        .then(res => {
          if (this.ticket.user && this.ticket.user.id !== this.currentUser.id) {
            const newNotif = this.$util.notification(this.currentUser.id, this.ticket.user.id, 'restore', this.ticket.id)
            this.$socket.emit('addNotification', newNotif)
          }
          this.$router.push('/tickets')
          eventBus.$emit('oneTicketDeleted', { msg: 'Протокол был восстановлен' })
        }).catch(err => { this.handleErr(err) })
    },
    back () {
      this.$router.go('-1')
    },
    handleErr (err) {
      if (err.response.data.message === 'Invalid token') {
        this.$auth.logout().then(res => { this.$router.go('login') })
      } else {
        this.$notify({
          group: 'tickets',
          type: 'error',
          text: err.response.data.message,
          speed: 300
        })
      }
    },
    successNotif (msg) {
      this.$notify({
        group: 'tickets',
        type: 'success',
        text: msg,
        speed: 300
      })
    },
    print () {
      var winPrint = window.open('', '', 'left=0,top=0,width=800,height=600,toolbar=0,scrollbars=0,status=0');
      winPrint.document.write(this.ticket.texts[0].text);
      winPrint.document.close();
      winPrint.focus();
      winPrint.print();
      winPrint.close();
    }
  },
  watch: {
    ticket: function () {
      this.ticketTemp = this.computeTicketTemp(this.ticket)
    }
  },
  components: {
    mEachTicket
  }
}
</script>
