<style src="./style.css" module></style>
  <template>
    <a-grid :class="[$style.ticket]">
      <a-grid-item grid="grid-1-12" :class="[$style.ticketItem]">
        <a-grid>
          <a-grid-item grid="grid-6-12" :class="[$style.ticketItem]">
            <a-checkbox :checked="checked.indexOf(ticket.id) > -1" @change="changeOne(ticket.id)"></a-checkbox>
          </a-grid-item>
          <a-grid-item grid="grid-6-12" :class="[$style.ticketItem]" v-if="ticket.status === 'active'">
            <a-checkbox modificator="star" :checked="ticket.favorite" @change="changeFavOne(ticket.id, ticket.favorite)"></a-checkbox>
          </a-grid-item>
        </a-grid>
      </a-grid-item>
      <a-grid-item grid="grid-1-12" :class="[$style.ticketItem]">
        <a-avatar :src="ticket.client.avatar"></a-avatar>
      </a-grid-item>
      <a-grid-item grid="grid-8-12" :class="[$style.ticketItemData]">
        <router-link :to="{ path: 'oneticket', query: { ticket: ticket.id }}" class="text-dec">
          <div @click="clear">
            <p><span>{{ticket.client.username}}</span> | <span>{{ticket.client.name}}</span></p>
            <p :class="{'bold-text': !ticket.read}"><span>{{ticket.title}}</span> | <span style="display: inline;" v-html="ticket.text.text"></span></p>
          </div>
        </router-link>
      </a-grid-item>
      <a-grid-item grid="grid-1-12" :class="[$style.ticketItem, {'red-text': deadline < 0}, {'yellow-text': deadline < 1800000 && deadline > 0}]">
        <a-date modificator="custom" format="D MMM YYYY" :date="ticket.created_at"></a-date>
      </a-grid-item>
      <a-grid-item grid="grid-1-12" :class="[$style.ticketItem]">
        <div :class="[$style.ticketItemNumber]">
          #{{ticket.ticket_number}}
        </div>
      </a-grid-item>
    </a-grid>
  </template>

<script type="text/javascript">
import eventBus from 'EventBus'

export default {
  name: 'mTicket',
  props: {
    ticket: {
      type: Object
    }
  },
  computed: {
    checked () {
      return this.$store.getters.getChecked
    },
    deadline () {
      return new Date(this.ticket.deadline).getTime() - new Date().getTime()
    }
  },
  mounted () {
    eventBus.$on('ticketReplyed', (id) => {
      if (this.ticket.id === id) {
        this.ticket.read = false
      }
    })
  },
  methods: {
    changeOne (id) {
      this.$store.dispatch('changeChecked', {
        type: 'one',
        value: id
      })
    },
    changeFavOne (id, value) {
      var ids = [{ id }]
      this.$apiTicket.changeFav(ids, value)
        .then(res => {
          var temp = !value ? 'добавил/а в избранное протокол' : 'удалил/а из избранных протокол'
          const newHistory = this.$util.staffHistory(this.$auth.currentUser().id, null, 'favorite', [id], temp)
          this.$socket.emit('addStaffHistory', { newHistory, roomName: `company-${this.$auth.currentUser().company}` })
          eventBus.$emit('changeFavOne', { id, value })
        }).catch(err => {
          if (err.response.data.message === 'Invalid token') {
            this.$auth.logout().then(res => { this.$router.go('login') })
          }
        })
    },
    clear () {
      eventBus.$off()
    }
  }
}
</script>
