.ticket {
  padding: 15px 20px;
  font-size: 13px;
  font-family: inherit;
  border-top: 1px solid #f2f2f2;

  &--item {
    display: flex;
    align-items: center;
    justify-content: center;

    &--number {
      border: 1px dashed var(--color-grey-first);
      padding: 5px;
      border-radius: 3px;
      color: var(--color-grey-first);
    }

    &--data {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      color: var(--color-grey-first);
      min-width: 0;
      line-height: 1.3em;

      & p:first-child {

        & span:first-child {
          color: var(--color-text-main);
        }
      }

      & p:nth-child(2) {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
      }
    }
  }
}
