<style src="./style.css" module></style>
<template>
  <div :class="[$style.list, $style.listClients]">
    <a-grid :class="[$style.listHeader, 'flex fl-aic']" v-if="isRole">
      <a-grid-item grid="grid-4-12" :class="['flex fl-aic', $style.listHeaderItem]">
        <p> </p>
      </a-grid-item>
      <a-grid-item grid="grid-2-12" :class="['flex fl-aic fl-c', $style.listHeaderItem]">
        <p title="Добавление сотрудника">Доб.</p>
      </a-grid-item>
      <a-grid-item grid="grid-2-12" :class="['flex fl-aic fl-c', $style.listHeaderItem]">
        <p title="Просмотр данных">Просм.</p>
      </a-grid-item>
      <a-grid-item grid="grid-2-12" :class="['flex fl-aic fl-c', $style.listHeaderItem]">
        <p title="Редактирование данных">Ред.</p>
      </a-grid-item>
      <a-grid-item grid="grid-2-12" :class="['flex fl-aic fl-c', $style.listHeaderItem]">
        <p title="Удаление сотрудника">Удал.</p>
      </a-grid-item>
    </a-grid>
    <div v-else :class="['flex', 'fl-c', 'fl-aic']" style="height:100%">
      <p>У вас пока нет других должностей</p>
    </div>
    <div v-if="isRole">
      <m-select-role v-for="role in roles" :key="role.id" :role="role" :checkData="checkData"></m-select-role>
    </div>
  </div>
</template>

<script>
import mSelectRole from 'Molecules/selectRole'

export default {
  name: 'oSelectRole',
  props: {
    roles: Array,
    checkData: Object
  },
  computed: {
    isRole () {
      return this.roles.length !== 0
    }
  },
  components: {
    mSelectRole
  }
}
</script>