.list {
  /*border: 1px solid var(--color-grey);*/
  /*border-width: 1px 0 1px 1px;*/
  margin-top: 10px;
  background: #fff;

  &--header {
    /*padding: 10px 0;*/
    color: var(--color-grey-first);
    /*min-height: 49px;*/
    /*font-weight: 700;*/

    &--item {
      border: 1px solid var(--color-grey);
      border-width: 0 0 0 1px;
      line-height: 2em;
    }
  }

  &--clients {
    overflow-y: scroll;
  }
}
