<template>
  <div :class="$style.ticketsBody">
    <div :class="$style.ticketsList">
      <o-roles :class="$style.ticketsListLeft" :roles="roles"></o-roles>
    </div>
    <a-button modificator="ordinary" text="добавить роль" color="blue" @click="openModal('add')" :class="$style.fab"></a-button>
    <modal name="add-role" width="400" height="auto">
      <div :class="[$style.modal, 'flex', 'fl-dc']">
        <div :class="['flex', 'fl-sb', $style.modalHeader]">
          <p>{{ modalType === 'add' ? 'Добавить новую должность' : 'Редактировать должность' }}</p>
          <a-button modificator="ordinary" name="xCircle" @click="closeModal" color="none"></a-button>
        </div>
        <form :class="['flex', 'fl-dc', $style.modalBody]" @submit.prevent="onSubmit">
          <m-input-group name="name" placeholder="Название должности*" label="Название" :value="formData.name"></m-input-group>
          <m-input-group name="code" placeholder="Код должности*" label="Код" :value="formData.code"></m-input-group>
          <p style="color: #a5a5a5;">Выберите на какие действия есть доступ у этой должности:</p>
          <o-select-role :roles="roles" :checkData="formData"></o-select-role>
          <div :class="['flex', 'fl-fe']">
            <a-button modificator="ordinary" :text="modalType === 'add' ? 'Добавить' : 'Изменить'" color="blue"></a-button>
          </div>
        </form>
      </div>
      <m-loader :show="showLoader"></m-loader>
    </modal>
    <modal name="remove-role" width="400" height="230">
      <div :class="[$style.modal, 'flex', 'fl-dc']">
        <div :class="['flex', 'fl-sb', $style.modalHeader]">
          <p>Удаление должности</p>
          <a-button modificator="ordinary" name="xCircle" @click="closeModalRemove" color="none"></a-button>
        </div>
        <form :class="['flex fl-dc fl-aic fl-sb', $style.modalBody]" style="padding: 20px 30px 30px;" @submit.prevent="deleteRole">
          <div :class="['flex', 'fl-c']">
            На какую должность перевести сотрудников?
            <a-select :text="newRole.name"
                  style="min-width: 200px; margin-top: 10px;"
                  color="blue" 
                  :showbg="true"
                  textType="none"
                  :array="roles"></a-select>
            <p style="text-align: center; margin-top: 20px; color: #a5a5a5;">Все сотрудники, которые имеют удаленную должность будут переведены на выбранную вами должность.</p>
          </div>
          <div :class="['flex', 'fl-sa']" style="width: 200px">
            <a-button modificator="ordinary" text="Удалить" color="blue" textType="none" :disabled="!newRole.id"></a-button>
            <a-button modificator="ordinary" text="Отменить" color="grey" textType="none" type="button" @click="closeModalRemove"></a-button>
          </div>
        </form>
      </div>
    </modal>
  </div>
</template>

<script>
import mInputGroup from 'Molecules/inputGroup'
import mLoader from 'Molecules/loader'
import oRoles from 'Organisms/roles'
import oSelectRole from 'Organisms/selectRoles'
import eventBus from 'EventBus'
export default {
  name: 'pRoles',
  components: {
    mInputGroup,
    mLoader,
    oRoles,
    oSelectRole
  },
  data () {
    return {
      formData: {},
      showLoader: false,
      roles: [],
      modalType: 'add',
      newRole: {
        name: 'Выберите должность'
      },
      roleToDelete: []
    }
  },
  computed: {
    checked () {
      return this.$store.getters.getChecked
    }
  },
  beforeMount () {
    this.showLoader = true
    this.$apiRole.getRoles()
      .then(res => {
        this.showLoader = false
        this.roles = res.data
      }).catch(err => {
        this.showLoader = false
        if (err.response.data.message === 'Invalid token') {
          this.$auth.logout().then(res => { this.$router.go('login') })
        }
      })
  },
  mounted () {
    eventBus.$on('inputChange', data => {
      this.formData[data.name] = data.value
    })
    eventBus.$on('checkRole', data => {
      if (this.formData.accesses) {
        var index
        var temp = this.formData.accesses.filter((item, i) => {
          index = (item.access_role === data.access_role && item.action === data.action) ? i : index
          return item.access_role === data.access_role && item.action === data.action
        })
        if (temp.length > 0) {
          this.formData.accesses.splice(index, 1)
        } else {
          this.formData.accesses.push(data)
        }
      } else {
        this.formData.accesses = [data]
      }
    })
    eventBus.$on('editRole', data => {
      this.roles.forEach(item => {
        if (item.id === data.id) {
          this.formData = item
        }
      })
      this.openModal('edit')
    })
    eventBus.$on('removeRole', data => {
      this.roleToDelete = data.id
      this.$modal.show('remove-role')
    })
    eventBus.$on('selectChange', data => {
      this.newRole = data.data
    })
    eventBus.$on('changeCheckedAllRoles', () => {
      var tempRoles = this.roles.filter(item => {
        return item.delete
      })
      this.$store.dispatch('changeChecked', {
        type: 'all',
        value: tempRoles
      })
    })
    eventBus.$on('errOnMoveRole', data => {
      this.showErrBlock(data.msg)
    })
  },
  methods: {
    openModal (type) {
      this.modalType = type
      this.formData = type === 'add' ? {} : this.formData
      this.$modal.show('add-role')
    },
    closeModal () {
      this.$modal.hide('add-role')
    },
    closeModalRemove () {
      this.$modal.hide('remove-role')
      this.newRole = {
        name: 'Выберите должность'
      }
    },
    onSubmit () {
      if (this.modalType === 'add') {
        this.add()
      } else {
        this.edit()
      }
    },
    add () {
      if (!this.formData.name || this.formData.name === '') {
        eventBus.$emit('inputError', { origin: 'name', message: 'Название не должно быть пустым' })
      } else if (!this.formData.code) {
        eventBus.$emit('inputError', { origin: 'code', message: 'Код не должно быть пустым' })
      } else if (!this.$util.checkForEnglishLetters(this.formData.code)) {
        eventBus.$emit('inputError', { origin: 'code', message: 'Используйте только латинские буквы' })
      } else {
        this.showLoader = true
        this.$apiRole.addRole(this.formData)
          .then(res => {
            this.showLoader = false
            this.closeModal()
            this.roles.push(res.data)
            this.$notify({
              group: 'tickets',
              type: 'success',
              text: 'Новая должность успешно добавлена',
              speed: 300
            })
          })
          .catch(err => {
            this.showLoader = false
            if (err.response.data.message === 'Invalid token') {
              this.$auth.logout().then(res => { this.$router.go('login') })
            } else {
              this.showErrBlock(err.response.data.message)
            }
          })
      }
    },
    edit () {
      if (!this.formData.name || this.formData.name === '') {
        eventBus.$emit('inputError', { origin: 'name', message: 'Название не должно быть пустым' })
      } else {
        this.showLoader = true
        this.$apiRole.editRole(this.formData)
          .then(res => {
            this.showLoader = false
            this.closeModal()
            this.$notify({
              group: 'tickets',
              type: 'success',
              text: 'Должность успешно отредактирована',
              speed: 300
            })
          })
          .catch(err => {
            this.showLoader = false
            if (err.response.data.message === 'Invalid token') {
              this.$auth.logout().then(res => { this.$router.go('login') })
            } else {
              this.showErrBlock(err.response.data.message)
            }
          })
      }
    },
    deleteRole () {
      this.showLoader = true
      var tempArr = this.roleToDelete === 'checked' ? this.checked : [this.roleToDelete]
      this.$apiRole.deleteRole(tempArr, this.newRole.id)
        .then(res => {
          this.showLoader = false
          this.roles = res.data
          this.$store.commit('emptyChecked')
          this.closeModalRemove()
          this.$notify({
            group: 'tickets',
            type: 'success',
            text: 'Должность успешно удалена',
            speed: 300
          })
        })
        .catch(err => {
          this.showLoader = false
          if (err.response.data.message === 'Invalid token') {
            this.$auth.logout().then(res => { this.$router.go('login') })
          } else {
            this.showErrBlock(err.response.data.message)
          }
        })
    },
    showErrBlock (msg) {
      this.$notify({
        group: 'tickets',
        type: 'error',
        text: msg,
        speed: 300
      })
    }
  }
}
</script>

<style src="../style.css" module></style>
