<style src="./style.css" module></style>

<template>
  <div>
    <form :class="[$style.form, 'flex', 'fl-dc', 'fl-sa']" @submit.prevent="change" v-if="!expired && !notFound">
      <m-input-group label="Новый пароль" type="password" placeholder="********" name="password" :value="userData.password"></m-input-group>
      <m-input-group label="Повторите пароль" type="password" placeholder="********" name="rePassword" :value="userData.rePassword"></m-input-group>
      <div class="flex fl-sb">
        <a-button text="Изменить пароль" 
                  color="blue" 
                  modificator="main" 
                  style="height: 36px; width: 40%" 
                  textType="uppercase"></a-button>
        <a-button text="На страницу авторизации" 
                  color="greyLight" 
                  modificator="main" 
                  style="height: 36px; width: 55%" 
                  textType="uppercase" 
                  type="button"
                  @click="back"></a-button>
      </div>
    </form>
    <div v-if="expired" :class="[$style.error, 'flex', 'fl-dc', 'fl-sa']">
      <span>К сожалению, срок данной ссылки истек. Для запроса новой ссылки перейдите на страницу 
      <router-link :to="{ path: '/forgot'}" style="color: #f47373;">Забыли пароль</router-link></span>
      <a-button text="На страницу авторизации" 
                  color="greyLight" 
                  modificator="main" 
                  style="height: 36px;" 
                  textType="uppercase" 
                  type="button"
                  @click="back"></a-button>
    </div>
    <div v-if="notFound" :class="[$style.error, 'flex', 'fl-dc', 'fl-sa']">
      <span>Пользователь не найден. Для запроса новой ссылки для изменения пароля перейдите на страницу 
      <router-link :to="{ path: '/forgot'}" style="color: #f47373;">Забыли пароль</router-link></span>
      <a-button text="На страницу авторизации" 
                  color="greyLight" 
                  modificator="main" 
                  style="height: 36px;" 
                  textType="uppercase" 
                  type="button"
                  @click="back"></a-button>
    </div>
    <m-loader :show="showLoader"></m-loader>
    <notifications group="user" class="mt1" position="top center"/>
  </div>
</template>

<script>
import mInputGroup from 'Molecules/inputGroup'
import mLoader from 'Molecules/loader'
import eventBus from 'EventBus'

export default {
  name: 'oNewpass',
  components: {
    mInputGroup,
    mLoader
  },
  methods: {
    change () {
      if (this.userData.password !== this.userData.rePassword) {
        this.showLoader = false
        eventBus.$emit('inputError', { origin: 'rePassword', message: 'Пароли не совпадают' })
      } else {
        this.showLoader = true
        this.$auth.change(this.$route.query.user, this.userData.password)
          .then(res => {
            this.showLoader = false
            this.userData.password = ''
            this.userData.rePassword = ''
            this.$notify({
              group: 'tickets',
              type: 'success',
              text: 'Пароль успешно изменен',
              speed: 300
            })
          })
          .catch(err => {
            this.showLoader = false
            this.$notify({
              group: 'tickets',
              type: 'error',
              text: 'Неизвестная ошибка, повторите попытку позже',
              speed: 300
            })
          })
      }
    },
    back () {
      this.$router.push('login')
    }
  },
  data () {
    return {
      userData: {
        password: '',
        rePassword: ''
      },
      expired: false,
      notFound: false,
      showLoader: false
    }
  },
  beforeMount () {
    if (this.$route.query.expiry) {
      const expiry = parseInt(this.$route.query.expiry) + 86400000
      this.expired = expiry < Date.now()
    }
    this.$auth.check(this.$route.query.user)
      .then()
      .catch(err => {
        this.notFound = true
      })
  },
  mounted () {
    eventBus.$on('inputChange', data => {
      this.userData[data.name] = data.value
    })
  }
}
</script>