.notification {
  width: 265px;
  min-height: 75px;
  /*max-height: 500px;*/
  border-radius: 3px;
  box-shadow: 0px 4px 5px rgba(0,0,0,0.06);
  background-color: #ffffff;
  position: absolute;
  right: 20px;
  top: 68px;
  font-size: 11px;
  font-family: inherit;
  font-weight: 300;
  color: var(--color-grey-first);
  z-index: 1;

  &:after {
    content: '';
    position: absolute;
    transform: translateY(-50%);
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    top: -2px;
    border-bottom: 4px solid #fff;
    right: 93px;
  }

  &--header {
    height: 30px;
    padding: 10px;
  }

  &--body {
    min-height: 45px;
    max-height: 440px;
    overflow-y: scroll;

    &--each {
      min-height: 45px;
      padding: 10px;
      line-height: 1.5em;
      border-top: 1px solid #f7f7f7;

      &--pink {
        color: var(--color-pink);
      }

      &--blue {
        color: var(--color-blue);
      }
    }
  }

  &--footer {
    background-color: #f7f7f7;
    height: 30px;
    cursor: pointer;
  }
}