.date {
  font-family: inherit;
  font-size: inherit;

  &--main {
    color: #000;
  }

  &--secondary {
    color: #515151;
  }

  &--light {
    color: #fff;
  }

  &--custom {
    color: inherit;
  }

  &--grey {
    color: var(--color-grey-first);
  }
}
