<style src="./style.css" module></style>

<template>
  <a-grid :class="[$style.ticket, { 'shift': ticket.type === 'note' }]">
    <a-grid-item grid="grid-1-12" :class="[$style.ticketItem, 'flex', 'fl-c', 'fl-aifs']">
      <a-avatar :src="ticket.avatar" size="big"></a-avatar>
      <!-- <a-avatar :src="ticket.user.avatar" size="big" v-if="ticket.type !== 'ticket'"></a-avatar> -->
    </a-grid-item>
    <a-grid-item grid="grid-9-12" :class="[$style.ticketItemData]">
      <span v-text="ticket.title" :class="$style.ticketItemDataFirst"></span><br>
      <span :class="$style.ticketItemDataSecond">{{ticket.type === 'answer' ? ticket.username + ' ответил/а ' + ticket.client :
              ticket.type === 'note' ? ticket.username + ' написал/а заметку' :
              ticket.username}}</span><br>
      <span v-if="ticket.refUsers" v-for="ref in ticket.refUsers" :key="ref.id" :title="ref.name" style="color: #f47373; cursor: default;">
          @{{ref.username}}
      </span>
      <pre :class="$style.ticketItemDataThird" v-if="!ticket.doc">
          {{ticket.text}}
      </pre>
      <div v-else>
        Посмотреть протокол:
        <a-link target="_blank" :href="ticket.doc.path" :text="ticket.doc.name"></a-link>
      </div>

      <!-- <div style="white-space:initial">
        {{ticket.text}}
      </div> -->
      
      <ul style="list-style: none;">
        <li v-for="file in ticket.files"><a-link target="_blank" :href="file.path" :text="file.name"></a-link></li>
      </ul>
    </a-grid-item>
    <a-grid-item grid="grid-2-12" :class="[$style.ticketItem, 'flex', 'fl-fe', 'fl-aifs']">
      <a-date modificator="secondary" format="D MMM [в] HH:mm" :date="ticket.date" :class="$style.ticketItemDate"></a-date>
    </a-grid-item>
  </a-grid>
</template>

<script>
export default {
  name: 'mEachTicket',
  props: {
    ticket: {
      type: Object
    }
  }
}
</script>