.ticket {
  font-size: 15px;
  font-family: inherit;
  line-height: 1.5em;
  flex-wrap: nowrap;
  color: #515151;
  background: #fff;
  /*margin-bottom: 20px;*/
  padding: 20px 0;

  &--item {

    &--data {
      color: #000;

      & pre {
        margin-bottom: 5px;
        color: #515151;
        font-weight: 300;
      }

      &--first {
        color: #000;
        font-size: 17px;
      }

      &--second {
        color: var(--color-text-pochti-main);
        font-size: 11px;
      }

      &--third {
        font-weight: 300;
        word-break: break-all;
        max-width: 700px;
        white-space:pre-line;
      }
    }

    &--date {
      font-weight: 300;
    }
  }

  &--agent {
    color: #515151;
    font-weight: 300;
  }
}

:global .shift {
  margin-left: 50px;
}
