.button {
  background: none;
  border: none;
  color: var(--color-grey-first);
  border-radius: 2px;
  font-weight: 300;
  font-family: inherit;
  height: 100%;

  /*text-transform: uppercase;*/

  & span {
    display: inline-block;
    /*margin-right: 2px;*/
    transition: .2s ease;
  }

  & i {
    font-size: inherit;
    line-height: 1em;
  }

  &--main {
    padding: 10px;
    text-transform: uppercase;
    /*line-height: 1em;*/
    font-size: inherit;
  }

  &--ordinary {
    padding: 0 5px;
    /*text-transform: uppercase;*/
    /*line-height: 1em;*/
    height: 22px;
  }

  &[block] {
    display: block;
    width: 100%;
  }

  &--pink {
    background: var(--color-pink);
    border: 1px solid var(--color-pink);
    color: #fff;
  }

  &--blue {
    background: var(--color-blue);
    border: 1px solid var(--color-blue);
    color: #fff;
  }

  &--grey {
    background: var(--color-grey-second);
    border: 1px solid var(--color-grey-second);
    color: #fff;
  }

  &--greyLight {
    background: #c7c7c7;
    border: 1px solid #c7c7c7;
    color: #fff;
  }

  &--none {
    background: transparent;
    border: none;
    color: #fff;
    padding: 0;

    &--grey {
      color: #a2a2a2;
    }
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--textnone {
    text-transform: none;
  }

  &--lowercase {
    text-transform: lowercase;
  }
}
