<style src="./style.css" module></style>
<template>
  <div :class="[$style.list, $style.listClients]">
    <a-grid :class="[$style.listHeader, 'flex fl-aic']" v-if="isRole">
      <a-grid-item grid="grid-5">
        <a-checkbox :checked="checked.indexOf('all') > -1" @change="changeChecked()"></a-checkbox>
      </a-grid-item>
      <a-grid-item grid="grid-5" class="flex fl-aic">
        <a-button name="trash" modificator="ordinary" color="blue" v-show="checked.length > 0" @click="deleteRoles"></a-button>
      </a-grid-item>
      <a-grid-item grid="grid-2-12" class="flex fl-aic">
        <p>Должности</p>
      </a-grid-item>
      <a-grid-item grid="grid-2-12" class="flex fl-aic">
        <p>Добавление</p>
      </a-grid-item>
      <a-grid-item grid="grid-2-12" class="flex fl-aic">
        <p>Посмотреть список</p>
      </a-grid-item>
      <a-grid-item grid="grid-2-12" class="flex fl-aic">
        <p>Редактирование</p>
      </a-grid-item>
      <a-grid-item grid="grid-2-12" class="flex fl-aic">
        <p>Удаление</p>
      </a-grid-item>
    </a-grid>
    <div v-else :class="['flex', 'fl-c', 'fl-aic']" style="height:100%">
      <p>Здесь пусто</p>
    </div>
    <draggable v-if="isRole" :list="roles" @change="onMove">
      <m-role v-for="(role, index) in roles" :key="role.id" :role="role" :index="index" style="cursor: move"></m-role>
    </draggable>
  </div>
</template>

<script>
import mRole from 'Molecules/role'
import eventBus from 'EventBus'
import draggable from 'vuedraggable'

export default {
  name: 'oRoleList',
  props: {
    roles: Array
  },
  computed: {
    isRole () {
      return this.roles.length !== 0
    },
    checked () {
      return this.$store.getters.getChecked
    }
  },
  methods: {
    changeChecked () {
      eventBus.$emit('changeCheckedAllRoles')
    },
    deleteRoles () {
      eventBus.$emit('removeRole', { id: 'checked' })
    },
    onMove (a) {
      this.$apiRole.moveRoles(this.roles)
        .catch(err => {
          if (err.response.data.message === 'Invalid token') {
            this.$auth.logout().then(res => { this.$router.go('login') })
          } else {
            eventBus.$emit('errOnMoveRole', { msg: err.response.data.message })
          }
        })
    }
  },
  components: {
    mRole,
    draggable
  }
}
</script>