.list {
  border: 1px solid var(--color-grey);
  border-width: 1px 0 1px 1px;
  background: #fff;

  &--header {
    padding: 11.5px 20px;
    color: var(--color-grey-first);
    min-height: 49px;
    font-weight: 700;
  }

  &--clients {
    overflow-y: scroll;
  }
}