<template>
  <div :class="$style.ticketsBody">
    <div :class="$style.ticketsList">
      <o-clients :class="$style.ticketsListLeft" :clients="staff" modificator="staff" :levelOfDir="levelOfDir"></o-clients>
    </div>
    <a-button modificator="ordinary" 
              text="добавить сотрудника" 
              color="blue" 
              @click='openModal' 
              :class="$style.fab"
              v-if="accessList === 'all' || accessList.findIndex(x => x.code === staffType && x.action === 'add') > -1"></a-button>
    <modal name="add-staff" width="400" height="auto">
      <div :class="[$style.modal, 'flex', 'fl-dc']">
        <div :class="['flex', 'fl-sb', $style.modalHeader]">
          <p>Добавить сотрудника</p>
          <a-button modificator="ordinary" name="xCircle" @click="closeModal" color="none"></a-button>
        </div>
        <form :class="['flex', 'fl-dc', 'fl-sb', $style.modalBody]" @submit.prevent="addUser">
          <m-input-group name="username" placeholder="Логин сотрудника" label="Логин (используйте только латинские буквы)*"></m-input-group>
          <m-input-group name="name" placeholder="Имя сотрудника" label="Имя*"></m-input-group>
          <m-input-group name="email" placeholder="На этот адрес придет инструкция для авторизации" label="Электронная почта*" type="email"></m-input-group>
          <m-input-group name="department" placeholder="Начините вводить название департамента" label="Департамент*"
                         :value="formData.department.name" :input="true" v-if="level >= levelOfDir && staffType !== 'counselor'"></m-input-group>
          <div :class="$style.selectDep" v-if="depList.length > 0">
            <ul :class="[$style.selectList]">
              <li :class="$style.selectListElem"
                v-for="(dep, index) in depList"
                :key="index"
                @click="chooseDep(dep)">{{ dep.name }}</li>
            </ul>
          </div>
          <m-input-group name="boss" placeholder="Начините вводить имя начальника" label="Начальник*" :value="formData.boss.name" 
                         :input="true" v-if="level <= levelOfDir"></m-input-group>
          <div :class="$style.select" v-if="bossList.length > 0">
            <ul :class="[$style.selectList]">
              <li :class="$style.selectListElem"
                v-for="(boss, index) in bossList"
                :key="index"
                @click="chooseBoss(boss)">{{ boss.name }}</li>
            </ul>
          </div>
          <div :class="['flex', 'fl-fe']">
            <a-button modificator="ordinary" text="Добавить" color="blue"></a-button>
          </div>
        </form>
      </div>
      <m-loader :show="showLoader"></m-loader>
    </modal>
    <modal name="delete-staff" width="400" height="auto">
      <div :class="[$style.modal, 'flex', 'fl-dc']">
        <div :class="['flex', 'fl-sb', $style.modalHeader]">
          <p>Удалить сотрудника</p>
          <a-button modificator="ordinary" name="xCircle" @click="closeDeleteModal" color="none"></a-button>
        </div>
        <form :class="['flex', 'fl-dc', 'fl-sb', $style.modalBody]" @submit.prevent="deleteStaff(userToDelete, newBoss)">
          <m-input-group name="newboss" :placeholder="modalType === 'director' ? 'Начините вводить имя директора' : 'Начините вводить имя руководителя'" :label="modalType === 'director' ? 'Назначьте нового директора для департамента ' + depData.name : 'Назначьте нового руководителя для подопечных этого сотрудника'" :value="newBoss.name" :input="true"></m-input-group>
          <div :class="$style.select" v-if="bossList.length > 0">
            <ul :class="[$style.selectList]">
              <li :class="$style.selectListElem"
                v-for="(boss, index) in bossList"
                :key="index"
                @click="chooseBoss(boss)">{{ boss.name }}</li>
            </ul>
          </div>
          <div :class="['flex', 'fl-fe']">
            <a-button modificator="ordinary" text="Удалить" color="blue"></a-button>
          </div>
        </form>
      </div>
      <m-loader :show="showLoader"></m-loader>
    </modal>
  </div>
</template>

<script>
import mInputGroup from 'Molecules/inputGroup'
import oClients from 'Organisms/clients'
import mLoader from 'Molecules/loader'
import eventBus from 'EventBus'
export default {
  name: 'pStaff',
  components: {
    mInputGroup,
    mLoader,
    oClients
  },
  data () {
    return {
      formData: {
        boss: {},
        department: {}
      },
      showLoader: false,
      staff: [],
      bossList: [],
      depList: [],
      staffType: this.$route.params.type,
      newBoss: {},
      depData: {},
      modalType: '',
      userToDelete: '',
      levelOfDir: 0,
      level: 0
    }
  },
  computed: {
    accessList () {
      return this.$store.getters.getAccessList
    }
  },
  beforeMount () {
    this.getStaff()
  },
  mounted () {
    eventBus.$on('inputChange', data => {
      this.formData[data.name] = data.value
    })
    eventBus.$on('inputOnChange', data => {
      if (data.name === 'boss') this.getBossList(data.value)
      else if (data.name === 'newboss') this.getEmpList(data.value)
      else if (data.name === 'department') this.getDepList(data.value)
    })
    eventBus.$on('staffDeleted', data => {
      this.staff = this.staff.filter((item) => {
        return data.ids.indexOf(item.id) === -1
      })
    })
    eventBus.$on('changeCheckedAllStaff', (data) => {
      this.$store.dispatch('changeChecked', {
        type: 'all',
        value: this.staff
      })
    })
    eventBus.$on('deleteStaff', (data) => {
      if (data.res) {
        this.userToDelete = data.id
        this.modalType = data.res.role
        this.depData = data.res.data ? data.res.data : this.depData
        this.$modal.show('delete-staff')
      } else {
        this.modalType = ''
        this.deleteStaff(data.id, null)
      }
    })
  },
  watch: {
    '$route': 'getStaff'
  },
  methods: {
    openModal () {
      this.modalType = 'add'
      this.$modal.show('add-staff')
      this.bossList = []
      this.depList = []
      this.formData = {
        boss: {},
        department: {}
      }
    },
    closeModal () {
      this.$modal.hide('add-staff')
    },
    closeDeleteModal () {
      this.$modal.hide('delete-staff')
    },
    addUser () {
      if (!this.formData.name || !this.formData.username || !this.formData.email) {
        this.handleErr({ message: 'Все поля с * должны быть заполнены' })
      } else if (this.level >= this.levelOfDir && this.staffType !== 'counselor' && !this.formData.department) {
        this.handleErr({ message: 'Все поля с * должны быть заполнены' })
      } else if (this.level <= this.levelOfDir && !this.formData.boss.id) {
        this.handleErr({ message: 'Все поля с * должны быть заполнены' })
      } else if (!this.$util.checkForEnglishLettersAndNumbers(this.formData.username)) {
        eventBus.$emit('inputError', { origin: 'username', message: 'Используйте только цифры и латинские буквы' })
      } else {
        this.showLoader = true
        this.$apiUser.addStaff(this.staffType, 'add', this.formData)
          .then(({ data }) => {
            this.showLoader = false
            this.staff.push(data.user)
            this.$notify({
              group: 'tickets',
              type: 'success',
              text: data.message,
              speed: 300
            })
            this.closeModal()
          })
          .catch((err) => {
            this.showLoader = false
            this.handleErr(err.response.data)
          })
      }
    },
    getStaff () {
      this.showLoader = true
      this.staffType = this.$route.params.type
      this.$apiUser.getStaff(this.$route.params.type, 'list')
        .then(res => {
          this.showLoader = false
          this.staff = res.data.list
          this.levelOfDir = res.data.levelOfDir
          this.level = res.data.level
          this.newBoss = this.newBoss ? {} : this.newBoss
          this.depData = this.depData ? {} : this.depData
          this.userToDelete = this.userToDelete ? '' : this.userToDelete
          this.closeDeleteModal()
        }).catch(err => {
          this.showLoader = false
          this.handleErr(err.response.data)
        })
    },
    getBossList (value) {
      if (value) {
        this.$apiUser.getBossList(this.$route.params.type, value)
          .then(res => {
            this.bossList = res.data
          })
      } else {
        this.bossList = []
      }
    },
    getEmpList (value) {
      if (value) {
        this.$apiUser.getEmpList(this.depData.department_id, value)
          .then(res => {
            this.bossList = res.data
          })
      } else {
        this.bossList = []
      }
    },
    chooseBoss (boss) {
      if (this.modalType === 'add') this.formData.boss = boss
      else this.newBoss = boss
      this.bossList = []
    },
    getDepList (value) {
      if (value) {
        this.$api.getDepList(value)
          .then(res => {
            this.depList = res.data
          })
      } else {
        this.depList = []
      }
    },
    chooseDep (dep) {
      this.formData.department = dep
      this.depList = []
    },
    deleteStaff (id, data) {
      if (this.modalType && !this.newBoss.id) {
        this.handleErr({ message: 'Все поля с * должны быть заполнены' })
      } else {
        if (this.modalType) {
          data.department = this.depData.department_id
          data.role = this.modalType
        }
        this.showLoader = true
        this.$apiUser.deleteStaff(id, data, this.$route.params.type)
          .then(res => {
            if (this.$auth.currentUser().id !== this.$store.getters.getChairman) {
              const tempUser = this.staff.filter(item => {
                return item.id === id
              })[0]
              const newNotif = this.$util.notification(this.$auth.currentUser().id, this.$store.getters.getChairman, 'user', null, tempUser.username)
              this.$socket.emit('addNotification', newNotif)
            }
            this.getStaff()
          })
          .catch(err => { this.handleErr(err.response.data) })
      }
    },
    handleErr (err) {
      if (err.message === 'Invalid token') {
        this.$auth.logout().then(res => { this.$router.go('login') })
      } else if (err.origin) {
        eventBus.$emit('inputError', { ...err })
      } else {
        this.$notify({
          group: 'tickets',
          type: 'error',
          text: err.message,
          speed: 300
        })
      }
    }
  }
}
</script>

<style src="../style.css" module></style>
