<style src="./style.css" module></style>

<template>
  <div :class="[$style.page, 'flex', 'fl-dc', 'fl-c', 'fl-aic']">
    <m-logo class="flex fl-fs" titleColor="#263238"></m-logo>
    <o-newpass :class="$style.pageLogin"></o-newpass>
    <m-footer :half="true"></m-footer>
  </div>
</template>

<script type="text/javascript">
import oNewpass from 'Organisms/newpass'
import mLogo from 'Molecules/logo'
import mFooter from 'Molecules/footer'
export default {
  name: 'Forgot',
  components: {
    oNewpass,
    mLogo,
    mFooter
  }
}
</script>