<template>
  <div style="width: 100%; background: #f1f1f1; overflow: auto;overflow-y: hidden;">
    <div :class="[$style.ticketsHeader, 'flex fl-sb']">
      <span>Настройки</span>
      <m-navigation :array="navArray" :class="$style.ticketsHeaderNav"></m-navigation>
    </div>
    <router-view></router-view>
    <modal name="delete-user" width="400" height="150">
      <div :class="[$style.modal, 'flex', 'fl-dc']">
        <div :class="['flex', 'fl-sb', $style.modalHeader]">
          <p>Удаление {{currentNav === 'clients' ? 'клиента' : 'сотрудника'}}</p>
          <a-button modificator="ordinary" name="xCircle" @click="closeModal" color="none"></a-button>
        </div>
        <form :class="['flex fl-dc fl-aic fl-sb', $style.modalBody]" @submit.prevent="deleteUser">
          <div :class="['flex', 'fl-c']">
            Вы действительно хотите удалить этого {{currentNav === 'clients' ? 'клиента' : 'сотрудника'}}?
          </div>
          <div :class="['flex', 'fl-sa']" style="width: 200px">
            <a-button modificator="ordinary" text="Удалить" color="blue" textType="none"></a-button>
            <a-button modificator="ordinary" text="Отменить" color="greyLight" textType="none" type="button" @click="closeModal"></a-button>
          </div>
        </form>
      </div>
    </modal>
  </div>
</template>

<script>
import mNavigation from 'Molecules/navigation'
import eventBus from 'EventBus'

export default {
  name: 'pSettings',
  components: {
    mNavigation
  },
  data () {
    return {
      userToDelete: '',
      navArray: [{
        link: 'personal',
        name: 'personal',
        text: 'Мои данные'
      }]
    }
  },
  computed: {
    checkedUsers () {
      return this.$store.getters.getChecked
    },
    currentNav () {
      return this.$store.getters.getCurrentNav
    }
  },
  beforeMount () {
    if (this.$route.params.type && this.$route.params.type !== this.currentNav) {
      this.$store.commit('changeNav', this.$route.params.type)
    } else {
      this.$store.commit('changeNav', this.$route.name)
    }
    this.$apiRole.getPages()
      .then(res => {
        if (res.data) {
          this.navArray = this.navArray.concat(res.data.arr)
          this.$store.commit('changeAccessList', res.data.access)
        }
      })
      .catch(err => {
        if (err.response.data.message === 'Invalid token') {
          this.$auth.logout().then(res => { this.$router.go('login') })
        } else {
          this.$notify({
            group: 'tickets',
            type: 'error',
            text: err.response.data.message,
            speed: 300
          })
        }
      })
  },
  methods: {
    openModal () {
      this.$modal.show('delete-user')
    },
    closeModal () {
      this.$modal.hide('delete-user')
    },
    deleteUser () {
      var tempArr = this.userToDelete === 'checked' ? this.checkedUsers : [this.userToDelete]
      if (this.currentNav === 'clients') {
        this.$apiUser.deleteClient(tempArr).then(res => {
          eventBus.$emit('clientsDeleted', { ids: tempArr })
          this.$store.commit('emptyChecked')
          this.closeModal()
        })
          .catch(err => {
            if (err.response.data.message === 'Invalid token') {
              this.$auth.logout().then(res => { this.$router.go('login') })
            } else {
              this.$notify({
                group: 'tickets',
                type: 'error',
                text: err.response.data.message,
                speed: 300
              })
            }
          })
      } else {
        this.$apiUser.checkStatus(tempArr[0]).then(res => {
          eventBus.$emit('deleteStaff', { res: res.data, id: tempArr[0] })
          this.closeModal()
        })
          .catch(err => {
            if (err.response.data.message === 'Invalid token') {
              this.$auth.logout().then(res => { this.$router.go('login') })
            } else {
              this.$notify({
                group: 'tickets',
                type: 'error',
                text: err.response.data.message,
                speed: 300
              })
            }
          })
      }
    }
  },
  mounted () {
    eventBus.$on('deleteUser', data => {
      this.userToDelete = data.id
      this.openModal()
    })
  }
}
</script>

<style src="./style.css" module></style>
