.tickets {
  &--body {
    position: relative;
    height: calc(100% - 108px);

    &--personal {
      height: calc(100% - 122px);
    }
  }

  &--list {
    display: inline-flex;
    width: 100%;
    height: 100%;
    background: var(--color-grey-light);
    padding: 5px 20px 20px;

    &--left {
      width: 100%;
    }

    /*&--right {
      width: 25%;
    }*/
  }

  &--header {
    width: 100%;
    background: var(--color-grey-light);
    padding: 40px 0 0 45px;
    color: var(--color-text-secondary);
    font-weight: 300;

    & span {
      font-size: 2.3rem;
    }

    &--nav {
      width: 100%;
      padding: 10px 0;
      /*margin-top: 3px;*/
    }
  }
}

.modal {
  height: 100%;

  &--header {
    color: #fff;
    padding: 0 20px;
    line-height: 3;
    background: var(--color-background)
  }

  &--body {
    padding: 20px;
    flex-grow: 1;
  }
}

.fab {
  position: absolute;
  bottom: 40px;;
  right: 40px;

}
/*
 * personal page styles: personal/index.vue
 */
.personal {
  width: 80%;
  background: #fff;
  height: 100%;
  color: var(--color-text-secondary);

  &--one {
    height: calc(100% - 37px);
  }

  &--header {
    width: 100%;
    border-bottom: 1px solid var(--color-grey-light);

    &--info {
      line-height: 1.5
    }
  }

  &--image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
  }

  &--avatar {
    width: 90px;
    height: 90px;
    position: relative;
    cursor: pointer;

    &:hover div {
      visibility: visible;
    }

    & img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }

    & div {
      position: absolute;
      visibility: hidden;
      border-radius: 50%;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
    }
  }

}

.history {
  width: 20%;
  /*height: calc(100% - 20px);*/
}

/*
 * тут страница редактирования клиента и сотрудника
 */
.bread {
  width: 100%;
  height: 37px;
  background: #fff;
  border-bottom: 1px solid #f2f2f2;

  & button {
    height: 22px;
  }
}

.select {
  position: relative;
  height: auto;
  min-height: 100px;

  &--dep {
    position: absolute;
    height: auto;
    min-height: 100px;
    box-sizing: border-box;
    top: 290px;
  }

  &--list {
    position: absolute;
    display: block;
    overflow-y: scroll;
    min-width: 200px;
    max-height: 100px;

    background-color: #fff;
    border-top: none;
    color: #7e7e7e;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid var(--color-border-secondary);

    box-shadow: var(--shadow-level-main);
    z-index: 1000;
    text-align: left;

    &--elem {
      padding-left: 10px;
      line-height: 2em;
      cursor: pointer;

      &:hover {
        background-color: var(--color-grey-light);
      }
    }
  }
}