<style src="./style.css" module></style>
<template>
  <div :class="[$style.edit]">
    <div :style="myStyle" class="flex fl-aifs" v-on-clickaway="myfunc">
      <div :class="[$style.editLeft]">
        <div :class="[$style.editLeftArea]">
          <div :class="[$style.editLeftAreaHeader]">
            <span>{{card.client.username}}</span> | {{card.client.name}}
          </div>
          <div :class="[$style.editLeftAreaBody]">
            {{card.title}}
            <!-- <textarea>jkhg</textarea> -->
          </div>
          <div :class="[$style.editLeftAreaFooter, 'flex fl-sb']">
            <div><span :class="[{'bg-red': deadline < 0}, {'bg-dark-yellow': deadline < 1800000 && deadline > 0},
                                {'bg-green': deadline > 1800000}]">
              <i class="icon-alarm"></i>
              <a-date format="D MMM" modificator="light" :date="card.deadline"></a-date></span></div>
            <div><a-avatar :src="card.client.avatar" size="small"></a-avatar></div>
          </div>
        </div>
        <!-- <a-button text="Сохранить" @click="save" color="blue" textType="none" modificator="ordinary"></a-button> -->
      </div>
      <div :class="[$style.editRight]">
        <div style="position: relative;">
          <p @click="usersOpened = !usersOpened"><i class="icon-user"></i>Изменить ответственного</p>
          <div :class="$style.users" v-if="usersOpened" v-on-clickaway="() => { usersOpened = false }">
            <div :class="[$style.usersHeader, 'flex fl-sb fl-aic']"><span>Пользователи</span>
              <i class="icon-cancel-circle" @click="usersOpened = false"></i></div>
            <div :class="$style.usersBody">
              <div v-for="user in users" :key="user.id" @click="chooseUser(user)"
                :class="[{'select-bg': user.id === 'roleName'}, 'flex fl-aic', $style.usersBodyEach, {'pl2': user.id !== 'roleName'}, {'bg-green-light': card.user_id && card.user_id === user.id}]">
                <a-avatar :src="user.avatar" size="small" v-if="user.id !== 'roleName'" style="margin-right: 5px;"></a-avatar>
                <span>{{user.name}} {{user.id === 'roleName' ? '' : `(${user.username})`}}</span>
              </div>
            </div>
          </div>
        </div>
        <div style="position: relative;">
          <p @click="deadlineOpened = !deadlineOpened"><i class="icon-alarm"></i>Изменить дедлайн</p>
          <m-date-picker :deadline="card.deadline.toString()" v-if="deadlineOpened" v-on-clickaway="() => { deadlineOpened = false }"
                         style="top: 22px; left: 0;" :showtime="true"></m-date-picker>
        </div>
        <div style="position: relative;">
          <p @click="moveOpened = !moveOpened"><i class="icon-arrow-right2"></i>Переместить</p>
          <div :class="$style.select" v-if="moveOpened" v-on-clickaway="() => { moveOpened = false }">
            <ul :class="[$style.selectList]">
              <li :class="$style.selectListElem"
                v-for="(type, index) in typeList"
                :key="index"
                @click="chooseType(type)">{{ type.name }}</li>
            </ul>
          </div>
        </div>
        <div @click="archive">
          <p><i class="icon-folder-open"></i>Архивировать</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { directive as onClickaway } from 'vue-clickaway'
import eventBus from 'EventBus'
import mDatePicker from 'Molecules/datepicker'

export default {
  name: 'mEditCard',
  props: {
    card: Object,
    position: Object
  },
  computed: {
    deadline () {
      return new Date(this.card.deadline).getTime() - new Date().getTime()
    }
  },
  data () {
    return {
      text: 'ljkhjgf',
      myStyle: '',
      moveOpened: false,
      deadlineOpened: false,
      usersOpened: false,
      users: [],
      typeList: [
        {
          id: 'income',
          name: 'Входящие'
        },
        {
          id: 'ongoing',
          name: 'На исполнении'
        },
        {
          id: 'onagreement',
          name: 'На согласовании'
        },
        {
          id: 'done',
          name: 'Завершенные'
        }
      ]
    }
  },
  beforeMount () {
    this.myStyle = `position: absolute; top: ${this.position.top}px; left: ${this.position.left}px;`
  },
  mounted () {
    eventBus.$on('snoozeTicket', data => {
      this.$apiTicket.changeDeadline(this.card.id, data)
        .then(res => {
          if (this.card.user_id && this.card.user_id !== this.$auth.currentUser().id) {
            const newNotif = this.$util.notification(this.$auth.currentUser().id, this.card.user_id, 'deadline', this.card.id)
            this.$socket.emit('addNotification', newNotif)
          }
          this.card.deadline = data
          const newHistory = this.$util.staffHistory(this.$auth.currentUser().id, null, 'deadline', [this.card.id])
          this.$socket.emit('addStaffHistory', { newHistory, roomName: `company-${this.$auth.currentUser().company}` })
          this.handleErr('Дедлайн успешно изменен', 'success')
          this.deadlineOpened = false
          eventBus.$emit('closeEditPanel')
        })
        .catch(err => {
          this.handleErr(err.response.data.message, 'error')
          this.deadlineOpened = false
        })
    })
    this.getUsersList()
  },
  methods: {
    archive () {
      const tds = [this.card.id]
      this.$apiTicket.deleteTickets(tds)
        .then(res => {
          if (this.card.user_id && this.card.user_id !== this.$auth.currentUser().id) {
            const newNotif = this.$util.notification(this.$auth.currentUser().id, this.card.user_id, 'archive', this.card.id)
            this.$socket.emit('addNotification', newNotif)
          }
          if (this.card.client && this.card.client.id !== this.$auth.currentUser().id) {
            const newNotif = this.$util.notification(this.$auth.currentUser().id, this.card.client.id, 'archive', this.card.id)
            this.$socket.emit('addNotification', newNotif)
          }
          const newHistory = this.$util.staffHistory(this.$auth.currentUser().id, null, 'archive', [this.card.id])
          this.$socket.emit('addStaffHistory', { newHistory, roomName: `company-${this.$auth.currentUser().company}` })
          eventBus.$emit('oneTicketDeleted', { arr: tds, msg: 'Протокол был перемещен в архив' })
          // this.handleErr('Протокол был перемещен в архив', 'success')
          eventBus.$emit('closeEditPanel')
        }).catch(err => { this.handleErr(err.response.data.message, 'error') })
    },
    chooseType (type) {
      eventBus.$emit('changeTypeOfOne', { type: type.id, card: this.card.id })
    },
    chooseUser (user) {
      this.$api.assignUserChecked(user.id, this.card.id)
        .then(res => {
          if (this.$auth.currentUser().id !== user.id) {
            const newNotif = this.$util.notification(this.$auth.currentUser().id, user.id, 'assign', this.card.id)
            this.$socket.emit('addNotification', newNotif)
          }
          if (this.card.user_id && this.card.user_id !== this.$auth.currentUser().id && this.card.user_id !== user.id) {
            const newNotif = this.$util.notification(this.$auth.currentUser().id, this.card.user_id, 'assignOther', this.card.id)
            this.$socket.emit('addNotification', newNotif)
          }
          if (this.card.user_id && this.card.user_id !== user.id && user.id !== this.$store.getters.getChairman && this.$auth.currentUser().id !== this.$store.getters.getChairman) {
            const newNotif = this.$util.notification(this.$auth.currentUser().id, this.$store.getters.getChairman, 'assignOther', this.card.id)
            this.$socket.emit('addNotification', newNotif)
          }
          const newHistory = this.$util.staffHistory(this.$auth.currentUser().id, user.id, 'assign', [this.card.id])
          this.$socket.emit('addStaffHistory', { newHistory, roomName: `company-${this.$auth.currentUser().company}` })
          this.card.user_id = user.id
          this.handleErr('Назначен новый ответственный за протокол', 'success')
          eventBus.$emit('closeEditPanel')
        }).catch(err => { this.handleErr(err.response.data.message, 'error') })
    },
    myfunc () {
      eventBus.$emit('closeEditPanel')
    },
    getUsersList () {
      this.$api.getUsersListTicket()
        .then(res => {
          this.users.push({ id: this.$auth.currentUser().id, name: 'Это вы', username: this.$auth.currentUser().username })
          res.data.forEach((item, index) => {
            if ((res.data[index - 1] && res.data[index - 1].roleName !== item.roleName) || (index === 0)) {
              this.users.push({ name: item.roleName, id: 'roleName' })
            }
            this.users.push(item)
          })
        }).catch(err => { this.handleErr(err.response.data.message, 'error') })
    },
    handleErr (msg, type) {
      if (msg === 'Invalid token') {
        this.$auth.logout().then(res => { this.$router.go('login') })
      } else {
        this.$notify({
          group: 'tickets',
          type: type,
          text: msg,
          speed: 300
        })
      }
    }
  },
  beforeDestroy () {
    eventBus.$off('snoozeTicket')
  },
  components: {
    mDatePicker
  },
  directives: {
    onClickaway
  }
}
</script>