.edit {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0,0,0,.5);
  color: #B2B2B2;
  font-size: 13px;

  &--left {
    width: 240px;
    height: auto;

    &--area {
      /*min-height: 125px;*/
      min-height: 97px;
      background-color: white;
      border-radius: 3px;
      /*padding: 5px;*/

      &--header {
        border-radius: 3px 3px 0 0;
        padding: 10px;
        min-height: 33px;

        & span {
          color: black;
        }
      }

      &--body {
        /*min-height: 51px;*/
        min-height: 22px;
        padding: 0 10px;
        color: var(--color-grey-first);
        outline: none;

        /*& textarea {
          border: none;
          resize: none;
          font-size: inherit;
          font-family: inherit;
          outline: none;
          height: auto;
          width: 100%;
          min-height: 100%;
        }
*/      }

      &--footer {
        border-radius: 0 0 3px 3px;
        padding: 5px;
        height: 41px;

        & div:first-child {
          padding: 5px;

          & span:first-child {
            display: inline-block;
            /*position: absolute;
            bottom: 0;*/
            margin-top: 6px;
            color: #fff;
            font-size: 10px;
            padding: 2px 3px;
            /*background-color: #F69E9D;*/
            border-radius: 3px;
            font-weight: 300;
            width: auto;
          }
        }
      }
    }

    & button {
      margin-top: 5px;
    }
  }

  &--right {
    min-width: 150px;
    min-height: 95px;
    background: rgba(0,0,0,.8);
    margin-left: 5px;
    border-radius: 3px;
    text-align: left;
    padding: 5px 0;
    font-weight: 300;
    font-size: 11px;

    /*& div {
      position: relative;
    }*/

    & div p {
      padding: 5px 10px;
      width: 100%;
      cursor: pointer;

      & i {
        margin-right: 5px;
      }

      &:hover {
        background: var(--color-grey-fifth);
      }
    }
  }
}

.select {
  background-color: #fff;
  /*min-width: 150px;*/
  width: 100%;
  /*min-height: 100px;*/
  border-radius: 3px;
  position: absolute;
  top: 22px;

  &--list {
    list-style: none;
    padding: 5px 0;

    &--elem {
      cursor: pointer;
      border-top: 1px solid #F2F2F2;
      padding: 5px 10px;

      &:hover {
        background: var(--color-grey-light);
      }
    }

    &--elem:first-child {
      border: none;
    }
  }
}

.users {
  position: absolute;
  top: 22px;
  left: 0;
  min-width: 152px;
  width: auto;
  max-height: 215px;
  overflow-y: scroll;
  
  z-index: 1;

  &--header, &--body {
    background-color: #fff;
    border-bottom: 1px solid #F2F2F2;
  }

  &--header {
    border-radius: 3px 3px 0 0; 
    padding: 10px;

    & i {
      cursor: pointer;
    }
  }
  &--body {
    border-radius: 0 0 3px 3px;
    color: #a3a3a3;

    &--each {
      padding: 5px 10px;
      cursor: pointer;
      white-space: nowrap;

      &:hover {
        background-color: var(--color-grey-light);
      }
    }
  }

  /*&--body {
    color: #a3a3a3;
    background-color: #fff;
    border-radius: 0 0 3px 3px;
    padding: 10px;
  }*/
}