<style src="./style.css" module></style>

<template>
  <div style="width: 100%;">
    <div :class="[$style.ticketsHeader, 'flex fl-sb']">
      <div :class="$style.ticketsHeaderLeft">
        <span>Протокол #{{ticket ? ticket.ticket_number : 0}}</span>
      </div>
      <div :class="[$style.ticketsHeaderRight, 'flex fl-aic']">
        <a-date :date="date"></a-date>
      </div>
    </div>
    <div :class="$style.ticketsList">
      <o-ticket-window-client :ticket="ticket" :class="$style.ticketsListFull" v-if="currentUser.roleName === 'client'"></o-ticket-window-client>
      <o-ticket-window :ticket="ticket" :class="$style.ticketsListLeft" v-else></o-ticket-window>
      <o-history-block :ticket="ticket" :class="$style.ticketsListRight" v-if="currentUser.roleName !== 'client'"></o-history-block>
    </div>
    <m-loader :show="showLoader"></m-loader>
  </div>
</template>

<script type="text/javascript">
import oHistoryBlock from 'Organisms/historyBlock'
import oTicketWindow from 'Organisms/ticketWindow'
import oTicketWindowClient from 'Organisms/ticketWindowClient'
import mLoader from 'Molecules/loader'
// import { directive as onClickaway } from 'vue-clickaway'

export default {
  name: 'TicketsList',
  data () {
    return {
      date: Date.now(),
      showLoader: false,
      ticket: {}
    }
  },
  beforeMount () {
    this.getTicket()
  },
  computed: {
    currentUser () {
      return this.$auth.currentUser()
    }
  },
  methods: {
    getTicket () {
      this.showLoader = true
      this.$apiTicket.getTicket(this.$route.query.ticket)
        .then(res => {
          this.ticket = res.data
          this.showLoader = false
        }).catch(err => {
          this.showLoader = false
          if (err.response.data.message === 'Invalid token') {
            this.$auth.logout().then(res => { this.$router.go('login') })
          } else {
            this.$notify({
              group: 'tickets',
              type: 'error',
              text: err.response.data.message,
              speed: 300
            })
          }
        })
    }
  },
  components: {
    oHistoryBlock,
    oTicketWindow,
    mLoader,
    oTicketWindowClient
  }
}
</script>
