.tickets {
  &--list {
    display: inline-flex;
    width: 100%;
    height: calc(100% - 89px);
    background: var(--color-grey-light);
    padding: 0px 25px 25px;

    &--left {
      width: 79%;
    }

    &--right {
      width: 21%;
    }

    &--full {
      width: 100%;
    }
  }

  &--header {
    width: 100%;
    background: var(--color-grey-light);
    padding: 30px 25px;
    color: var(--color-text-secondary);
    font-weight: 300;

    &--left {
      font-size: 2.3em;
    }

    &--right {
      font-size: 1.2em;
    }
  }
}
