<style src="./style.css" module></style>

<template>
  <main>
    <div style="padding: 0 110px 0 60px;" v-if="signed">
      <m-logo :class="[$style.logo, 'flex fl-fs']"></m-logo>
      <m-keyword v-if="keywordNotif && keywordNotif.ticket_id"></m-keyword>
      <div :class="$style.notification">
        <span v-if="unread.length > 0">{{unread.length}}</span>
        <a-menu-button name="notification" @click="openNotification"></a-menu-button>
      </div>
      <m-notification v-if="notificationOpen" :notifications="notifications" v-on-clickaway="myfunc"></m-notification>
      <div :class="$style.tickets">
        <m-menu></m-menu>
        <router-view></router-view>
      </div>
      <m-footer :class="$style.footer"></m-footer>
      <notifications group="tickets" position="top center" class="mt1"/>
    </div>
    <div v-else>
      <router-view></router-view>
    </div>
  </main>
</template>

<script type="text/javascript">
import mMenu from 'Molecules/menu'
import mKeyword from 'Molecules/keyword'
import mNotification from 'Molecules/notification'
import mFooter from 'Molecules/footer'
import mLogo from 'Molecules/logo'
import { directive as onClickaway } from 'vue-clickaway'

export default {
  name: 'MainPage',
  data () {
    return {
      notifications: [],
      unread: [],
      notificationOpen: false
    }
  },
  computed: {
    keywordNotif () {
      return this.$store.getters.getKeywordNotif
    },
    signed () {
      return this.$auth.isLoggedIn()
    }
  },
  beforeMount () {
    if (this.$auth.isLoggedIn()) {
      this.$socket.emit('createRoom', `company-${this.$auth.currentUser().company}`)
      this.$socket.emit('createRoom', `user-${this.$auth.currentUser().id}`)
      this.checkNewTicket()
      this.getNotifications()
      this.getChairmanId()
    }
  },
  methods: {
    checkNewTicket () {
      this.$api.checkNewTicket()
        .then(res => {
          if (res.data) this.$store.commit('changeKeywordNotif', res.data)
        }).catch(err => {
          if (err.response.data.message === 'Invalid token') {
            this.$auth.logout().then(res => { this.$router.go('login') })
          }
        })
    },
    getNotifications () {
      this.$api.getNotifications()
        .then(res => {
          this.notifications = res.data
          this.unread = res.data.filter(item => {
            return !item.read
          }).map(i => i.id)
        }).catch(err => {
          if (err.response.data.message === 'Invalid token') {
            this.$auth.logout().then(res => { this.$router.go('login') })
          }
        })
    },
    openNotification () {
      this.notificationOpen = !this.notificationOpen
      if (this.unread.length > 0) {
        this.$api.changeUnread(this.unread)
          .then((data) => {
            this.notifications.forEach((item, index) => {
              if (this.unread.indexOf(item.id) > -1) {
                this.notifications[index].read = true
              }
            })
            this.unread = []
          })
      }
    },
    myfunc () {
      this.notificationOpen = false
    },
    getChairmanId () {
      this.$api.getChairmanId()
        .then(res => {
          this.$store.commit('changeChairman', res.data.id)
        }).catch(err => {
          if (err.response.data.message === 'Invalid token') {
            this.$auth.logout().then(res => { this.$router.go('login') })
          }
        })
    }
  },
  sockets: {
    notificationAdded (data) {
      this.notifications.unshift(data)
      this.unread.push(data.id)
    },
    newTicketNotification (data) {
      this.$store.commit('changeKeywordNotif', data)
    }
  },
  components: {
    mMenu,
    mFooter,
    mLogo,
    mNotification,
    mKeyword
  },
  directives: {
    onClickaway
  }
}
</script>
