.tickets {
  display: inline-flex;
  width: 100%;
  height: calc(100vh - 150px);
  font-family: inherit;
}

.logo {
  padding: 35px 50px;
}
.footer {
  padding: 20px 0;
}

.notification {
  position: absolute;
  top: 42px;
  right: 110px;

  & span {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #fff;
    border-radius: 50%;
    padding: 2px;
    color: var(--color-blue);
    font-size: 9px;
    font-weight: 300;
    display: inline-block;
    width: 14px;
    height: 14px;
    text-align: center;
    line-height: 10px;
  }
}

:global .text-dec {
  text-decoration: none
}

:global .pink-text {
  color: var(--color-pink);
}

:global .blue-text {
  color: var(--color-blue);
}

:global .disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

:global .bg-pink {
  background-color: #fcd9d9; 
}

:global .red-text {
  color: #ff0300!important; 
}

:global .yellow-text {
  color: #fdd600!important; 
}

:global .bg-red {
  background-color: #F69E9D; 
}

:global .bg-yellow {
  background-color: #fbfcd9; 
}

:global .bg-dark-yellow {
  background-color: #f2d600; 
}

:global .bg-green {
  background-color: #6ec157; 
}

:global .bg-green-light {
  background-color: #e8fde2; 
}

:global .bold-text {
  color: var(--color-text-main);
}