<style src="./style.css" module></style>
  <template>
    <a-grid :class="[$style.ticket]">
      <a-grid-item grid="grid-1-12" class="flex fl-aic">
        <a-avatar :src="ticket.user.avatar"></a-avatar>
      </a-grid-item>
      <a-grid-item grid="grid-5-12">
        <router-link :to="{ path: 'oneticket', query: { ticket: ticket.id }}" class="text-dec">
          <div class="flex fl-dc fl-sb" style="height: 100%;">
            <p><span :class="$style.ticketBlack">{{ticket.user.username}}</span> | <span>{{ticket.user.name}}</span></p>
            <p><span :class="$style.ticketTitle">{{ticket.title}}</span></p>
          </div>
        </router-link>
      </a-grid-item>
      <a-grid-item grid="grid-4-12" class="flex fl-aife">
       <p><span :class="$style.ticketCustomer"><i class="icon-user"></i> Заказчик: </span>
        <span :class="$style.ticketBlack">{{ticket.client.username}}</span> | {{ticket.client.name}}</p>
      </a-grid-item>
      <a-grid-item grid="grid-1-12" class="flex fl-aic fl-c">
        <a-date modificator="grey" format="D MMM" :date="ticket.created_at"></a-date>
      </a-grid-item>
      <a-grid-item grid="grid-1-12" class="flex fl-aic fl-fe">
        <div :class="[$style.ticketNumber]">
          #{{ticket.ticket_number}}
        </div>
      </a-grid-item>
    </a-grid>
  </template>

<script type="text/javascript">
export default {
  name: 'mOngoing',
  props: {
    ticket: {
      type: Object
    }
  }
}
</script>
