.ticket {
  background-color: #fff;
  padding: 20px;
  border-top: 1px solid #e5e7e7;

  &--number {
    border: 1px dashed var(--color-grey-first);
    padding: 4px 5px;
    border-radius: 3px;
  }

  &--black {
    color: #000;
    text-transform: uppercase;
  }

  &--title {
    font-weight: 400;
  }

  &--customer {
    color: #c5c9cc;

    & i {
      font-size: 12px;
    }
  }

  &:hover, &:focus {
    border-left: 2px solid #1d89e3;
  }
}