<template>
  <div :class="$style.ticketsBody">
    <div :class="$style.ticketsList">
      <o-clients :class="$style.ticketsListLeft" :clients="clients"></o-clients>
    </div>
    <a-button modificator="ordinary" text="добавить клиента" color="blue" @click='openModal' :class="$style.fab"></a-button>
    <modal name="add-client" width="400">
      <div :class="[$style.modal, 'flex', 'fl-dc']">
        <div :class="['flex', 'fl-sb', $style.modalHeader]">
          <p>Добавить клиента</p>
          <a-button modificator="ordinary" name="xCircle" @click="closeModal" color="none"></a-button>
        </div>
        <form :class="['flex', 'fl-dc', 'fl-sb', $style.modalBody]" @submit.prevent="addUser">
          <m-input-group name="username" placeholder="01AU01" label="ID Клиента"></m-input-group>
          <m-input-group name="name" placeholder="Automato" label="Имя клиента"></m-input-group>
          <m-input-group name="email" placeholder="На этот адрес придет инструкция для авторизации" label="Электронная почта" type="email"></m-input-group>
          <div :class="['flex', 'fl-fe']">
            <a-button modificator="ordinary" text="Добавить" color="blue"></a-button>
          </div>
        </form>
      </div>
      <m-loader :show="showLoader"></m-loader>
    </modal>
  </div>
</template>

<script>
import mInputGroup from 'Molecules/inputGroup'
import oClients from 'Organisms/clients'
import mLoader from 'Molecules/loader'
import eventBus from 'EventBus'

export default {
  name: 'pClients',
  methods: {
    openModal () {
      this.$modal.show('add-client')
    },
    closeModal () {
      this.$modal.hide('add-client')
    },
    addUser () {
      if (!this.$util.checkForEnglishLettersAndNumbers(this.formData.username)) {
        eventBus.$emit('inputError', { origin: 'username', message: 'Используйте только цифры и латинские буквы' })
      } else {
        this.showLoader = true
        this.$apiUser.addClient(this.formData)
          .then(({ data }) => {
            this.showLoader = false
            this.clients.push(data.user)
            this.$notify({
              group: 'tickets',
              type: 'success',
              text: data.message,
              speed: 300
            })
            this.$modal.hide('add-client')
          })
          .catch((err) => {
            this.showLoader = false
            if (err.response.data.message === 'Invalid token') {
              this.$auth.logout().then(res => { this.$router.go('login') })
            } else if (err.response.data.origin) {
              eventBus.$emit('inputError', { ...err.response.data })
            } else {
              this.$notify({
                group: 'tickets',
                type: 'error',
                text: err.response.data.message,
                speed: 300
              })
            }
          })
      }
    }
  },
  components: {
    mInputGroup,
    mLoader,
    oClients
  },
  data () {
    return {
      formData: {},
      showLoader: false,
      clients: []
    }
  },
  beforeMount () {
    this.showLoader = true
    this.$apiUser.getClients()
      .then(res => {
        this.showLoader = false
        this.clients = res.data
      }).catch(err => {
        this.showLoader = false
        if (err.response.data.message === 'Invalid token') {
          this.$auth.logout().then(res => { this.$router.go('login') })
        } else {
          this.$notify({
            group: 'tickets',
            type: 'error',
            text: err.response.data.message,
            speed: 300
          })
        }
      })
  },
  mounted () {
    eventBus.$on('inputChange', data => {
      this.formData[data.name] = data.value
    })
    eventBus.$on('clientsDeleted', data => {
      this.clients = this.clients.filter((item) => {
        return data.ids.indexOf(item.id) === -1
      })
    })
    eventBus.$on('changeCheckedAllClients', (data) => {
      console.log(this.clients)
      console.log(this.checked)
      this.$store.dispatch('changeChecked', {
        type: 'all',
        value: this.clients
      })
    })
  },
  computed: {
    checked () {
      return this.$store.getters.getChecked
    }
  }
}
</script>

<style src="../style.css" module></style>
