<style src="./style.css" module></style>

<template>
  <p :class="$style.main">&copy; 
    <a-date format="YYYY" :date="date" modificator="light"></a-date> - 
    <a-date format="YYYY" modificator="light"></a-date> 
    made with <i :class="'icon-heart'"></i> by mirusdesk | release 4.01.01 <br v-if="half"> powered by <i :class="'icon-cog'"></i> automato</p>
</template>

<script>
export default {
  name: 'mFooter',
  props: {
    half: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    date () {
      return new Date().setFullYear(2008)
    }
  }
}
</script>