<template>
  <div :class="$style.ticketsBody">
    <div :class="[$style.ticketsList]">
      <div :class="$style.personal">
        <div :class="[$style.personalHeader, 'ph5', 'pv2', 'flex']">
          <div :class="[$style.personalAvatar, 'mr2']">
            <img :src="me.avatar" alt="Аватар">
            <div :class="['flex', 'fl-sa', 'fl-aic']">
              <input type="file" style="display: none" id="file" @change="loadFile" accept="image/*">
              <a-button color="none" name="cog" modificator="ordinary" @click="openFile"></a-button>
              <a-button v-if="!isImagePresent" color="none" name="trash" modificator="ordinary" @click="deleteImage"></a-button>
            </div>
          </div>
          <div :class="['flex', 'fl-dc', 'fl-sb', $style.personalHeaderInfo]">
            <div class="">
              <p>{{me.name}}</p>
              <p>{{me.username}}</p>
            </div>
            <div>
              <p>{{me.role && me.role.code !== 'client' ? me.role.name : ''}}
                 {{me.department && me.department.director ? me.department.name : ''}}</p>
              <p>{{me.email}}</p>
            </div>
          </div>
        </div>
        <div :class="['ph5', 'flex fl-sb', 'pt1', $style.ticketsBodyPersonal]" style="overflow-y: scroll">
          <form @submit.prevent="update" style="min-width: 40%;">
            <m-input-group name="name" label="Имя" :value="me.name"></m-input-group>
            <m-input-group name="password" label="Пароль" type="password"></m-input-group>
            <m-input-group name="rePassword" label="Подтверждение пароля" type="password"></m-input-group>
            <m-input-group name="companyName" label="Название компании" 
                           :value="me.companyName" v-if="me.role.code === 'chairman'"></m-input-group>
            <m-input-group name="companyEmail"  label="Email компании" 
                           :value="me.companyEmail" v-if="me.role.code === 'chairman'"></m-input-group>
            <m-input-group name="companyPhone" label="Номер телефона компании" 
                           :value="me.companyPhone" type="tel" v-if="me.role.code === 'chairman'"></m-input-group>
            <m-input-group name="companyAddress" label="Адрес компании" 
                           :value="me.companyAddress" v-if="me.role.code === 'chairman'"></m-input-group>
            <m-input-group name="companyCity" label="Город" :value="me.companyCity" v-if="me.role.code === 'chairman'"></m-input-group>
            <m-input-group name="companyCountry" label="Страна" 
                           :value="me.companyCountry" v-if="me.role.code === 'chairman'"></m-input-group>
            <m-input-group name="departmentName" label="Название департамента" 
                           v-if="me.role.code === 'director'" :value="me.departmentName"></m-input-group>
            <a-button :class="['mb3']" modificator="ordinary" color="blue" text="Сохранить" textType="none"></a-button>
          </form>
          <div style="text-align: right;">
            <div><a-button modificator="ordinary" :color="telegram.active ? 'grey' : 'blue'"
                           :text="telegram.active ? 'Отключить Телеграм Бот' : 'Подключить Телеграм бот'" textType="none"
                           type="button" @click="startTelegram" :disabled="telegram.show"></a-button>
                  <a-button modificator="ordinary" color="grey" name="trash" type="button" title="Удалить телеграм аккаунт"
                            @click="deleteTelegram" :disabled="!telegram || !telegram.telegram_id"></a-button>
            </div>
            <p class="mt2" v-show="telegram.show">Ваш временный код для Телеграм Бота: <br/>
              <span class="blue-text">{{telegram.code}}</span><br/>
              Этот код можно использовать только в течении 24 часов.<br/><br>
              Для того, чтобы подключиться к боту <br/> перейдите по ссылке
              <a-link color="blue" href="https://t.me/zerdeticket_bot" text="t.me/zerdeticket_bot" target="_blank"></a-link></p>
          </div>
        </div>
      </div>
      <o-history-list :class="$style.history" type="profile"></o-history-list>

    </div>
    <modal name="upload-photo" width="340" height="425">
      <div :class="[$style.modal, 'flex', 'fl-dc']">
        <div :class="['flex', 'fl-sb', $style.modalHeader]">
          <p>Загрузка фото</p>
          <a-button modificator="ordinary" name="xCircle" @click="closeModal" color="none"></a-button>
        </div>
        <div :class="['flex', 'fl-dc', 'fl-sb', 'fl-aic', $style.modalBody]">
          <img :src="imageSrc" alt="Preview image" :class="$style.personalImage">
          <div :class="['flex', 'fl-sa']">
            <a-button modificator="ordinary" text="Сохранить" color="blue" class="mh1" @click="uploadFile" textType="none"></a-button>
            <a-button modificator="ordinary" text="Отмена" color="grey" class="mh1" textType="none"></a-button>
          </div>
        </div>
      </div>
    </modal>
    <m-loader :show="showLoader"></m-loader>
  </div>
</template>

<script>
import mInputGroup from 'Molecules/inputGroup'
import mLoader from 'Molecules/loader'
import eventBus from 'EventBus'
import oHistoryList from 'Organisms/historyList'

export default {
  name: 'pPersonal',
  data () {
    return {
      formData: {},
      uploadedPhoto: '',
      imageSrc: '',
      me: {
        role: {}
      },
      showLoader: false,
      telegram: {}
    }
  },
  computed: {
    isImagePresent () {
      return this.me.avatar === '/images/photo-placeholder.png'
    }
  },
  methods: {
    update () {
      this.showLoader = true
      this.$apiUser.updateMe(this.formData).then(({ data }) => {
        const newHistory = this.$util.profileHistory(this.formData, this.me.id, this.me)
        this.$socket.emit('addProfileHistory', { newHistory, roomName: `company-${this.$auth.currentUser().company}` })
        this.me = data.user
        this.handleErr(data.message, 'success')
      }).catch((err) => {
        if (err.response.data.origin) {
          eventBus.$emit('inputError', { ...err.response.data })
        } else this.handleErr(err.response.data.message, 'error')
      })
    },
    openFile () {
      document.querySelector('#file').click()
    },
    loadFile (ev) {
      if (ev.target.files && ev.target.files[0]) {
        const reader = new FileReader()

        reader.onload = e => { this.imageSrc = e.target.result }

        reader.readAsDataURL(ev.target.files[0])
        this.uploadedPhoto = ev.target.files[0]
        this.$modal.show('upload-photo')
      }
    },
    closeModal () {
      this.$modal.hide('upload-photo')
    },
    uploadFile () {
      this.showLoader = true
      const data = new FormData()
      data.append('avatar', this.uploadedPhoto)
      this.$apiUser.changeAvatar(this.me.id, data)
        .then(({ data }) => {
          this.me.avatar = data.avatar
          this.$modal.hide('upload-photo')
          const newHistory = this.$util.avatarHistory(this.me.id, this.me)
          this.$socket.emit('addProfileHistory', { newHistory, roomName: `company-${this.$auth.currentUser().company}` })
          this.handleErr(data.message, 'success')
        }).catch(err => { this.handleErr(err.response.data.message, 'error') })
    },
    deleteImage () {
      this.showLoader = true
      this.$apiUser.deleteImage(this.me.id)
        .then(({ data }) => {
          this.me.avatar = data.avatar
          const newHistory = this.$util.avatarHistory(this.me.id, this.me)
          this.$socket.emit('addProfileHistory', { newHistory, roomName: `company-${this.$auth.currentUser().company}` })
          this.handleErr(data.message, 'success')
        }).catch(err => { this.handleErr(err.response.data.message, 'error') })
    },
    startTelegram () {
      if (this.telegram.telegram_id) {
        this.$api.stopTelegram()
          .then(res => {
            this.telegram.active = !this.telegram.active
            this.handleErr(res.data.message, 'success')
          }).catch(err => { this.handleErr(err.response.data.message, 'error') })
      } else {
        this.$api.generateCode()
          .then(res => {
            this.telegram = res.data
            this.telegram.show = true
          }).catch(err => { this.handleErr(err.response.data.message, 'error') })
      }
    },
    deleteTelegram () {
      this.$api.deleteTelegram()
        .then(res => {
          this.telegram = {}
          this.handleErr(res.data.message, 'success')
        }).catch(err => { this.handleErr(err.response.data.message, 'error') })
    },
    getTelegramAccount () {
      this.$api.getTelegramAccount()
        .then(res => {
          this.telegram = res.data ? res.data : {}
          this.telegram.show = res.data.code ? true : false
        }).catch(err => { this.handleErr(err.response.data.message, 'error') })
    },
    handleErr (msg, type) {
      this.showLoader = false
      if (msg === 'Invalid token') {
        this.$auth.logout().then(res => { this.$router.go('login') })
      } else {
        this.$notify({
          group: 'tickets',
          type: type,
          text: msg,
          speed: 300
        })
      }
    }
  },
  beforeMount () {
    this.getTelegramAccount()
    eventBus.$on('inputChange', data => {
      this.formData[data.name] = data.value
    })
    this.$apiUser.getCurrentUser()
      .then(res => {
        this.formData.departmentId = res.data.departmentId
        this.me = res.data
      }).catch(err => { this.handleErr(err.response.data.message, 'error') })
  },
  sockets: {
    telegramAccountAdded (data) {
      this.show = false
      this.telegram = data
      this.handleErr('Уведомления в телеграм бот успешно подключены', 'success')
    }
  },
  components: {
    mInputGroup,
    oHistoryList,
    mLoader
  }
}
</script>

<style src="../style.css" module></style>
