<style src="./style.css" module></style>
<template>
  <a-grid :class="$style.ticket">
    <a-grid-item grid="grid-5" class="flex fl-aic">
      <a-checkbox :checked="checked.indexOf(department.id) > -1" @change="checkedOne(department.id)"></a-checkbox>
    </a-grid-item>
    <a-grid-item grid="grid-5" class="flex fl-aic">
      <p>{{index + 1}}</p>
    </a-grid-item>
    <a-grid-item grid="grid-3-12" :class="['flex fl-aic', $style.ticketItem]">
      <p>{{department.name}}</p>
    </a-grid-item>
    <a-grid-item grid="grid-3-12" :class="['flex fl-c fl-dc', $style.ticketItem, $style.ticketKeyword]">
      <p>{{department.keywords}}</p>
    </a-grid-item>
    <a-grid-item grid="grid-3-12" class="flex fl-c fl-dc">
      <p>{{department.director ? department.director.name : '-'}}</p>
    </a-grid-item>
    <a-grid-item grid="grid-1-12" class="flex fl-c fl-dc fl-aic">
      <p>{{department.empnumber ? department.empnumber : 0}}</p>
    </a-grid-item> 
    <a-grid-item grid="grid-6" class="flex fl-aic">
      <a-button modificator="ordinary" color="noneGrey" name="pen" type="button" @click="edit(department.id)"></a-button>
      <a-button modificator="ordinary" color="noneGrey" name="trash" type="button" @click="remove(department.id)"></a-button>
    </a-grid-item>
  </a-grid>
</template>

<script type="text/javascript">
import eventBus from 'EventBus'

export default {
  name: 'mDepartment',
  props: {
    department: Object,
    index: Number
  },
  computed: {
    checked () {
      return this.$store.getters.getChecked
    }
  },
  methods: {
    edit (id) {
      eventBus.$emit('editDep', { id })
    },
    remove (id) {
      eventBus.$emit('removeDep', { id })
    },
    checkedOne (id) {
      this.$store.dispatch('changeChecked', {
        type: 'one',
        value: id
      })
    }
  }
}
</script>
