.ticket {
  padding: 15px 20px;
  font-size: 13px;
  font-family: inherit;
  border-top: 1px solid var(--color-grey-light);
  color: var(--color-grey-first);

  &--item {
    padding-right: 10px;
  }
}
