<style src="./style.css" module></style>

<template>
  <div :class="[$style.page, 'flex', 'fl-dc', 'fl-c', 'fl-aic']">
    <m-logo class="flex fl-fs" titleColor="#263238"></m-logo>
    <o-forgot :class="$style.pageLogin"></o-forgot>
    <m-footer :half="true"></m-footer>
  </div>
</template>

<script type="text/javascript">
import oForgot from 'Organisms/forgot'
import mLogo from 'Molecules/logo'
import mFooter from 'Molecules/footer'
export default {
  name: 'Forgot',
  components: {
    oForgot,
    mLogo,
    mFooter
  }
}
</script>