<style src="./style.css" module></style>

<template>
  <div :class="[$style.page, 'flex', 'fl-c', 'fl-dc', 'fl-aic']">
      <m-logo class="flex fl-fs"></m-logo>
      <o-signup :class="$style.pageLogin"></o-signup>
      <m-footer :half="true"></m-footer>
  </div>
</template>

<script type="text/javascript">
import oSignup from 'Organisms/signup'
import mLogo from 'Molecules/logo'
import mFooter from 'Molecules/footer'

export default {
  name: 'Registration',
  components: {
    oSignup,
    mLogo,
    mFooter
  }
}
</script>
