<style src="./style.css" module></style>

<template>
  <div>
    <form :class="[$style.form, 'flex', 'fl-dc', 'fl-sa']" @submit.prevent="signup">
      <m-input-group label="Имя и фамилия" placeholder="Рустам Жуаспаев" name="name"></m-input-group>
      <m-input-group label="Логин *" placeholder="automato" name="username"></m-input-group>
      <m-input-group label="Почта *" placeholder="ok@automato.me" name="email" type="email"></m-input-group>
      <m-input-group label="Название компании" placeholder="Automato" name="company"></m-input-group>
      <m-input-group label="Пароль" type="password" placeholder="********" name="password"></m-input-group>
      <m-input-group label="Повторите пароль" type="password" placeholder="********" name="rePassword"></m-input-group>
      <a-button text="зарегистрироваться" color="blue" modificator="main" style="height: auto" textType="uppercase"></a-button>
    </form>
    <m-loader :show="showLoader"></m-loader>
  </div>
</template>

<script>
import mInputGroup from 'Molecules/inputGroup'
import mLoader from 'Molecules/loader'
import eventBus from 'EventBus'

export default {
  name: 'oSignup',
  components: {
    mInputGroup,
    mLoader
  },
  methods: {
    signup () {
      if (!this.$util.checkForEnglishLettersAndNumbers(this.userData.username)) {
        eventBus.$emit('inputError', { origin: 'username', message: 'Используйте только цифры и латинские буквы' })
      } else {
        this.showLoader = true
        this.$auth.signup(this.userData)
          .then((res) => {
            this.showLoader = false
            eventBus.$emit('signupSuccess', { message: 'Вы успешно зарегистрировались!' })
            this.$router.go('/')
          })
          .catch((err) => {
            this.showLoader = false
            if (!err.response) {
              Object.keys(err).forEach((item, index) => {
                const key = Object.keys(err)[index]
                eventBus.$emit('inputError', { origin: key, message: err[item] })
              })
            } else {
              eventBus.$emit('inputError', { ...err.response.data })
            }
          })
      }  
    }
  },
  data () {
    return {
      userData: {
        name: '',
        email: '',
        username: '',
        company: '',
        password: '',
        rePassword: ''
      },
      showLoader: false
    }
  },
  beforeMount () {
    eventBus.$on('inputChange', data => {
      this.userData[data.name] = data.value
    })
  }
}
</script>
