<style src="./style.css" module></style>
<template>
  <a-grid :class="$style.role">
    <a-grid-item grid="grid-4-12" :class="['flex fl-aic', $style.roleSpace]">
      <p style="word-break: break-all">{{role.name}}</p>
    </a-grid-item>
    <a-grid-item grid="grid-2-12" :class="['flex fl-aic fl-c', $style.roleItem, $style.roleSpace]">
      <a-checkbox :checked="checkData.accesses && checkData.accesses.findIndex(x => x.access_role === role.id && x.action === 'add') > -1" @change="checkRole(role.id, role.name, 'add')"></a-checkbox>
    </a-grid-item>
    <a-grid-item grid="grid-2-12" :class="['flex fl-aic fl-c', $style.roleItem, $style.roleSpace]">
      <a-checkbox :checked="checkData.accesses && checkData.accesses.findIndex(x => x.access_role === role.id && x.action === 'list') > -1" @change="checkRole(role.id, role.name, 'list')"></a-checkbox>
    </a-grid-item>
    <a-grid-item grid="grid-2-12" :class="['flex fl-aic fl-c', $style.roleItem, $style.roleSpace]">
      <a-checkbox :checked="checkData.accesses && checkData.accesses.findIndex(x => x.access_role === role.id && x.action === 'edit') > -1" @change="checkRole(role.id, role.name, 'edit')"></a-checkbox>
    </a-grid-item>
    <a-grid-item grid="grid-2-12" :class="['flex fl-aic fl-c', $style.roleItem, $style.roleSpace]">
      <a-checkbox :checked="checkData.accesses && checkData.accesses.findIndex(x => x.access_role === role.id && x.action === 'delete') > -1" @change="checkRole(role.id, role.name, 'delete')"></a-checkbox>
    </a-grid-item>
  </a-grid>
</template>

<script type="text/javascript">
import eventBus from 'EventBus'

export default {
  name: 'mSelectRole',
  props: {
    role: Object,
    checkData: Object
  },
  methods: {
    checkRole (access_role, name, action) {
      eventBus.$emit('checkRole', { access_role, name, action })
    }
  }
}
</script>
