.role {
  border-top: 1px solid var(--color-grey);
  color: var(--color-grey-first);
  
  &--space {
    padding: 10px 5px;
  }

  &--item {
    border: 1px solid var(--color-grey);
    border-width: 0 0 0 1px;
  }


}