<style src="./style.css" module></style>

<template>
  <div :class="[$style.nav, 'flex fl-aic']">
    <router-link v-for="(item, index) in array" :key="index" 
                :to="{ name: item.name, params: {type: item.link} }" class="text-dec">
      <a-button name="navigation" 
                :text="item.text" 
                textType="none" 
                :color="currentNav === item.link ? 'blue' : ''"  
                @click="onClick(item.link)" :class="$style.navBtn"></a-button>
    </router-link>
  </div>
</template>

<script type="text/javascript">
import { mapGetters } from 'vuex'
import eventBus from 'EventBus'

export default {
  name: 'mNavigation',
  props: {
    type: {
      type: String,
      default: 'tickets'
    },
    array: Array
  },
  data () {
    return {
      nav: {
        income: false,
        ongoing: false,
        onagreement: false,
        done: false,
        clients: false, // клиенты в настройках
        staff: false, // сотрудники в настройках
        personal: false // мои данные в настройках
      }
    }
  },
  beforeMount () {
    this.getNav()
    eventBus.$on('go-home', () => {
      this.onClick('income')
    })
  },
  computed: {
    ...mapGetters({
      currentNav: 'getCurrentNav'
    })
  },
  methods: {
    onClick (page) {
      this.$store.commit('emptyChecked')
      this.$store.commit('changeNav', page)
      // eventBus.$emit('navChanged', { page })
      // this.getNav()
    },
    getNav () {
      Object.keys(this.nav).forEach((item) => {
        this.nav[item] = item === this.currentNav
      })
    }
  }
}
</script>
