<style src="./style.css" module></style>
<template>
  <a-grid :class="[$style.ticket]">
    <a-grid-item grid="grid-5" class="flex fl-aic">
      <a-checkbox :checked="checked.indexOf(role.id) > -1" @change="checkedOne(role.id)"></a-checkbox>
    </a-grid-item>
    <a-grid-item grid="grid-5" class="flex fl-aic">
      <p>{{index + 1}}</p>
    </a-grid-item>
    <a-grid-item grid="grid-2-12" class="flex fl-aic">
      <p>{{role.name}}</p>
    </a-grid-item>
    <a-grid-item grid="grid-2-12" class="flex fl-c fl-dc">
      <p v-if="role.accesses" v-for="access in role.accesses" :key="access.id">
        {{access.action === 'add' ? access.name : ''}}
      </p>
      <p v-if="!role.accesses"> - </p>
    </a-grid-item>
    <a-grid-item grid="grid-2-12" class="flex fl-c fl-dc">
      <p v-if="role.accesses" v-for="access in role.accesses" :key="access.id">
        {{access.action === 'list' ? access.name : ''}}
      </p>
      <p v-if="!role.accesses"> - </p>
    </a-grid-item>
    <a-grid-item grid="grid-2-12" class="flex fl-c fl-dc">
      <p v-if="role.accesses" v-for="access in role.accesses" :key="access.id">
        {{access.action === 'edit' ? access.name : ''}}
      </p>
      <p v-if="!role.accesses"> - </p>
    </a-grid-item>
    <a-grid-item grid="grid-2-12" class="flex fl-c fl-dc">
      <p v-if="role.accesses" v-for="access in role.accesses" :key="access.id">
        {{access.action === 'delete' ? access.name : ''}}
      </p>
      <p v-if="!role.accesses"> - </p>
    </a-grid-item>  
    <a-grid-item grid="grid-6" :class="[$style.ticketItemEdit, 'flex fl-aic']">
      <a-button modificator="ordinary" color="noneGrey" name="pen" type="button" @click="edit(role.id)"></a-button>
      <a-button modificator="ordinary" color="noneGrey" name="trash" type="button" @click="remove(role.id)" :disabled="!role.delete"></a-button>
      <!-- <img src="images/dots-three-vertical.svg" width="15px" @click="move(role.id)"> -->
    </a-grid-item>
  </a-grid>
</template>

<script type="text/javascript">
import eventBus from 'EventBus'

export default {
  name: 'mRole',
  props: {
    role: Object,
    index: Number
  },
  computed: {
    checked () {
      return this.$store.getters.getChecked
    }
  },
  methods: {
    edit (id) {
      eventBus.$emit('editRole', { id })
    },
    remove (id) {
      eventBus.$emit('removeRole', { id })
    },
    checkedOne (id) {
      this.$store.dispatch('changeChecked', {
        type: 'one',
        value: id
      })
    }
  }
}
</script>
