<style src="./style.css" module></style>

<template>
		<input :placeholder="placeholder"
					 :class="[$style.input]"
					 :value="value"
					 :name="name"
					 :type="type"
           v-mask="mask"
           @input="onInput"
					 @change="onChange">
</template>

<script>
import eventBus from 'EventBus'
export default {
  name: 'aInput',
  props: {
    value: {
      type: String,
      default: ''
    },
    placeholder: String,
    name: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: 'text'
    },
    input: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      mask: ''
    }
  },
  methods: {
    onChange (e) {
      if (!this.input) {
        eventBus.$emit('inputChange', { value: e.target.value, name: e.target.name })
      }
    },
    onInput (e) {
      if (this.input) {
        eventBus.$emit('inputOnChange', { value: e.target.value, name: e.target.name })
      }
    }
  },
  beforeMount () {
    this.mask = this.type === 'tel' ? '#(###)###-##-##' : ''
  }
}
</script>
