<style src="./style.css" module></style>

<template>
  <div :class="[$style.dashboard, 'flex']">
    <div :class="$style.dashboardLeft">
      <div :class="['flex', $style.dashboardUp]">

        <!-- Первый график (за 24 часа) -->
        <!-- <div :class="$style.dashboardFirst">
          <div :class="$style.dashboardEach" style="margin-bottom: 9px;">
            <div :class="$style.dashboardEachHeader" style="padding-bottom: 10px;">Обработано за 24 часа</div>
            <div style="padding: 0 20px 20px;" class="flex fl-sb fl-aic">
              <div><div :class="$style.dashboardEachBig" style="color: #1d89e4">{{todayClosed}}</div>
                {{todayClosed === '1' ? 'протокол' : todayClosed === '2' || todayClosed === '3' ? 'протокола' : 'протоколов'}}</div>
              <div><m-line-chart :height="74" :width="125" :chartData="dataLine"></m-line-chart></div>
            </div>
          </div>
          <div :class="[$style.dashboardEach]" style="padding-bottom: 10px;">
            <div :class="[$style.dashboardEachHeader, 'pv3']">За сегодня</div>
            <div class="flex fl-se fl-aic">
              <div><p :class="$style.dashboardEachSmall"><font>{{todayIncome}}</font>
                <img src="images/graphic-line1.svg" style="width: 24px;"></p>
                <div class="flex fl-aic"><div :class="[$style.circle, $style.circleGreen]"></div> Входящих</div>
              </div>
              <div style="width: 1px; height: 50px; background-color: #f5f5f5;"></div>
              <div><p :class="$style.dashboardEachSmall">{{todayClosed}}
                <img src="images/graphic-line2.svg" style="width: 24px;"></p>
                <div class="flex fl-aic"><div :class="[$style.circle, $style.circleBlue]"></div> Закрытых</div>
              </div>
            </div>
          </div>
        </div> -->

        <div :class="$style.dashboardFirst">
          <div :class="$style.dashboardEach" style="padding-bottom: 10px; height: 100%;">
            <div style="margin-bottom: 10px;">
              <div :class="$style.dashboardEachHeader">Обработано за 24 часа</div>
              <div style="padding: 0 20px" class="flex fl-sb fl-aic">
                <div><div :class="$style.dashboardEachBig" style="color: #1d89e4">{{todayClosed}}</div>
                  {{todayClosed === '1' ? 'протокол' : todayClosed === '2' || todayClosed === '3' ? 'протокола' : 'протоколов'}}</div>
                <div><m-line-chart :height="74" :width="125" :chartData="dataLine"></m-line-chart></div>
              </div>
            </div>
            <div>
              <div :class="[$style.dashboardEachHeader]" style="padding-bottom: 10px">За сегодня</div>
                <div class="flex fl-se fl-aic">
                  <div><p :class="$style.dashboardEachSmall"><font>{{todayIncome}}</font>
                    <img src="images/graphic-line1.svg" style="width: 24px;"></p>
                    <div class="flex fl-aic"><div :class="[$style.circle, $style.circleGreen]"></div> Входящих</div>
                  </div>
                  <div style="width: 1px; height: 50px; background-color: #f5f5f5;"></div>
                  <div><p :class="$style.dashboardEachSmall">{{todayClosed}}
                    <img src="images/graphic-line2.svg" style="width: 24px;"></p>
                    <div class="flex fl-aic"><div :class="[$style.circle, $style.circleBlue]"></div> Закрытых</div>
                  </div>
                </div>
            </div>
            
          </div>
        </div>

        <!-- Второй график -->
        <div :class="[$style.dashboardEach, $style.dashboardSecond]">
          <div :class="[$style.dashboardEachHeader, 'flex fl-sb']"><span>Закрытые протоколы за месяц</span>
            <div :class="[$style.select]">
              <span @click="openMonths = !openMonths" 
                    :class="[$style.selectCurrent, openMonths ? $style.selectCurrentOpen : $style.selectCurrentClosed]">
                    {{months[currentMonth].nameOfMonth}} <i :class="openMonths ? 'icon-triangle-up' : 'icon-triangle-down'"></i></span>
              <ul :class="[$style.selectList]" v-if="openMonths" v-on-clickaway="() => { openMonths = false }">
                <li :class="$style.selectListElem"
                  v-for="(m, index) in months"
                  v-if="index !== currentMonth"
                  @click="chooseMonth(m)"
                  :key="index">{{ m.nameOfMonth }}</li>
              </ul>
            </div>
          </div>
          <div style="padding: 0 20px 10px; max-height: 192px;">
            <m-bar-chart :height="182" :chartData="dataBar"></m-bar-chart></div>
        </div>
      </div>

      <!-- Четвертый график (первый снизу) -->
      <div :class="[$style.dashboardEach, $style.dashboardDown]">
        <div :class="[$style.dashboardEachHeader, 'flex fl-sb']"><span>Протоколы на исполнении</span>
          <span style="color: #4284ff; font-size: 13px;">Всего: {{tickets.length}}</span></div>
          <div style="text-align: center; margin-top: 60px;" v-if="tickets.length === 0">Нет протоколов на исполнении</div>
          <m-ongoing v-for="ticket in tickets" :key="ticket.id" :ticket="ticket"></m-ongoing>
      </div>
    </div>
    <div :class="$style.dashboardRight">

      <!-- Третий график (третий сверху) -->
      <div :class="[$style.dashboardEach, $style.dashboardUp]">
        <div :class="[$style.dashboardEachHeader, 'flex fl-sb']"><span>Всего протоколов</span>
          <a-date format="D MMMM" style="color: #1d89e4; font-size: 13px;"></a-date></div>
        <div style="padding: 20px;" class="flex fl-sb fl-aic">
          <div>
            <div class="flex fl-aic" style="margin-bottom: 10px;">
              <div :class="[$style.circle, $style.circleGreen2]"></div> Неразобранные -
              <font style="color: #000">&nbsp;{{dataDoughnut.datasets[0].data[0]}}</font></div>
            <div class="flex fl-aic" style="margin-bottom: 10px;">
              <div :class="[$style.circle, $style.circleOrange]"></div> На исполнении -
              <font style="color: #000">&nbsp;{{dataDoughnut.datasets[0].data[1]}}</font></div>
            <div class="flex fl-aic" style="margin-bottom: 10px;">
              <div :class="[$style.circle, $style.circleYellow]"></div> На согласовании - 
              <font style="color: #000">&nbsp;{{dataDoughnut.datasets[0].data[2]}}</font></div>
            <div class="flex fl-aic">
              <div :class="[$style.circle, $style.circleBlue2]"></div> Закрытые -
              <font style="color: #000">&nbsp;{{optDoughnut.elements.bigText.text === '0' ? 0 : dataDoughnut.datasets[0].data[3]}}</font></div>
          </div>
          <div style="width: 126px; height: 126px"><m-doughnut-chart :height="126" :width="126" :chartData="dataDoughnut" :options="optDoughnut"></m-doughnut-chart></div>
        </div>
      </div>

      <!-- Пятый график (самый последний) -->
      <div :class="[$style.dashboardEach, $style.dashboardDown]">
        <div :class="[$style.dashboardEachHeader, 'flex fl-sb']"><span>Просроченный дедлайн</span>
          <span style="color: #f83c7b; font-size: 13px;">Всего: {{deadlineTickets.length}}</span></div>
        <m-deadline-late v-for="ticket in deadlineTickets" :key="ticket.id" :ticket="ticket"></m-deadline-late>
      </div>
    </div>
    <m-loader :show="showLoader"></m-loader>
  </div>
</template>

<script type="text/javascript">
import mLineChart from 'Molecules/linechart'
import mBarChart from 'Molecules/barchart'
import mOngoing from 'Molecules/ongoing'
import mDeadlineLate from 'Molecules/deadlineLate'
import mDoughnutChart from 'Molecules/doughnutchart'
import mLoader from 'Molecules/loader'
import { directive as onClickaway } from 'vue-clickaway'
import moment from 'moment'
export default {
  name: 'oDashboard',
  data () {
    return {
      allMonths: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
      openMonths: false,
      currentMonth: moment().month(),
      todayIncome: 0,
      todayClosed: 0,
      showLoader: false,
      dataLine: {
        labels: [],
        datasets: [{
          borderColor: '#1d89e3',
          data: [],
          fill: false
        }]
      },
      dataDoughnut: {
        datasets: [{
          backgroundColor: ['#00c19b', '#f76700', '#f9b700', '#5383ff'],
          data: [0, 0, 0, 100]
        }]
      },
      optDoughnut: {
        legend: {
          display: false
        },
        responsive: false,
        maintainAspectRatio: false,
        cutoutPercentage: 88,
        elements: {
          bigText: {
            text: '0',
            fontSize: '25px',
            fontStyle: 'Roboto Condensed'
          },
          smallText: {
            text: 'протоколов',
            fontSize: '13px',
            color: '#929292',
            fontWeight: 300,
            fontStyle: 'Roboto Condensed'
          }
        },
        tooltips: {
          enabled: false
        }
      },
      dataBar: {
        labels: this.days,
        datasets: [{
          backgroundColor: '#1d89e3',
          data: [0]
        }]
      },
      tickets: [],
      deadlineTickets: []
    }
  },
  computed: {
    months () {
      var tempArr = []
      for (var i = 0; i <= moment().month(); i++) {
        tempArr.push({
          nameOfMonth: this.allMonths[i],
          id: i
        })
      }
      return tempArr
    },
    days () {
      var arr = []
      const lastDay = new Date(new Date().getFullYear(), this.currentMonth + 1, 0).getDate()
      for (var i = 1; i <= lastDay; i++) {
        arr.push(i)
      }
      return arr
    }
  },
  beforeMount () {
    this.getTodayStatistics()
    this.getTodayDone()
    this.getOngoing()
    this.getDeadline()
    this.getAllTickets()
    this.getThisMonth()
  },
  methods: {
    getTodayStatistics () {
      this.showLoader = true
      this.$apiStats.getTodayStatistics()
        .then(res => {
          this.todayIncome = res.data.todayIncome
          this.todayClosed = res.data.todayClosed
          this.showLoader = false
        }).catch(err => { this.handleErr(err.response.data.message, 'error') })
    },
    getTodayDone () {
      this.showLoader = true
      this.$apiStats.getTodayDone()
        .then(res => {
          if (res.data && res.data.length > 0) {
            var tempHours = new Date()
            var dataToday = []
            var hoursToday = []
            res.data.forEach(item => {
              tempHours = new Date(item.interval_alias)
              dataToday.push(parseInt(item.count))
              hoursToday.push(('0' + tempHours.getHours()).slice(-2) + ':' + ('0' + tempHours.getMinutes()).slice(-2))
            })
            this.dataLine = {
              labels: hoursToday,
              datasets: [{
                borderColor: '#1d89e3',
                data: dataToday,
                fill: false
              }]
            }
          }
          this.showLoader = false
        }).catch(err => { this.handleErr(err.response.data.message, 'error') })
    },
    getOngoing () {
      this.showLoader = true
      this.$apiStats.getOngoing()
        .then(res => {
          if (res.data && res.data.length > 0) {
            res.data.forEach(item => {
              if (item.user) this.tickets.push(item)
            })
          }
          this.showLoader = false
        }).catch(err => { this.handleErr(err.response.data.message, 'error') })
    },
    getDeadline () {
      this.showLoader = true
      this.$apiStats.getDeadline()
        .then(res => {
          if (res.data && res.data.length > 0) {
            res.data.forEach(item => {
              if (item.user) this.deadlineTickets.push(item)
            })
          }
          this.showLoader = false
        }).catch(err => { this.handleErr(err.response.data.message, 'error') })
    },
    getAllTickets () {
      this.showLoader = true
      this.$apiStats.getAllTickets()
        .then(res => {
          if (res.data && res.data.length > 0) {
            var tempArr = []
            var tempCount = 0
            res.data.forEach(item => {
              tempCount = tempCount + parseInt(item.count)
              switch (item.type) {
                case 'income': tempArr[0] = item.count
                  break
                case 'ongoing': tempArr[1] = item.count
                  break
                case 'onagreement': tempArr[2] = item.count
                  break
                case 'done': tempArr[3] = item.count
                  break
              }
            })
            this.dataDoughnut = {
              datasets: [{
                backgroundColor: ['#00c19b', '#f76700', '#f9b700', '#5383ff'],
                data: tempArr
              }]
            }
            this.optDoughnut = {
              legend: {
                display: false
              },
              responsive: false,
              cutoutPercentage: 88,
              maintainAspectRatio: false,
              elements: {
                bigText: {
                  text: tempCount.toString(),
                  fontSize: '25px',
                  fontStyle: 'Roboto Condensed'
                },
                smallText: {
                  text: 'протоколов',
                  fontSize: '13px',
                  color: '#929292',
                  fontWeight: 300,
                  fontStyle: 'Roboto Condensed'
                }
              },
              tooltips: {
                enabled: false
              }
            }
          }
          this.showLoader = false
        }).catch(err => { this.handleErr(err.response.data.message, 'error') })
    },
    getThisMonth () {
      this.showLoader = true
      this.$apiStats.getThisMonth(this.currentMonth)
        .then(res => {
          if (res.data && res.data.length > 0) {
            var tempArr = []
            var tempIndex = -1
            this.days.forEach(item => {
              tempIndex = res.data.findIndex(x => x.day_of_month === item)
              if (tempIndex > -1) tempArr.push(parseInt(res.data[tempIndex].count))
              else tempArr.push(0)
            })
            this.dataBar = {
              labels: this.days,
              datasets: [{
                backgroundColor: '#1d89e3',
                data: tempArr
              }]
            }
          }
          this.showLoader = false
        }).catch(err => { this.handleErr(err.response.data.message, 'error') })
    },
    chooseMonth (month) {
      this.currentMonth = month.id
      this.openMonths = false
      this.getThisMonth()
    },
    handleErr (msg, type) {
      this.showLoader = false
      if (msg === 'Invalid token') {
        this.$auth.logout().then(res => { this.$router.go('login') })
      } else {
        this.$notify({
          group: 'tickets',
          type: type,
          text: msg,
          speed: 300
        })
      }
    }
  },
  components: {
    mLineChart,
    mBarChart,
    mDoughnutChart,
    mOngoing,
    mDeadlineLate,
    mLoader
  },
  directives: {
    onClickaway
  }
}
</script>
