.dashboard {
  width: 100%;
  /*height: 560px;*/
  border-radius: 3px;
  background-color: #f7f7f7;
  border: 1px solid #e5e7e7;
  padding: 20px;
  font-size: 13px;
  color: var(--color-grey-first);
  font-weight: 300;
  overflow-y: scroll;

  &--each {
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #e5e7e7;

    &--big {
      font-size: 46px;
      font-weight: 400;
    }

    &--small {
      font-size: 24px;
      font-weight: 400;
      color: #000;
    }

    &--header {
      font-size: 15px;
      padding: 20px;
    }
  }

  &--left {
    margin-right: 20px;
    width: calc(100% - 362px);
  }

  &--right {
    width: 342px;
  }

  &--up {
    margin-bottom: 20px;
    height: 247px;
  }

  &--down {
    height: calc(100% - 267px);
    overflow-y: scroll;
  }

  &--first {
    margin-right: 20px;
    width: 252px;
    /*height: 100%;*/
  }

  &--second {
    width: calc(100% - 272px);
  }
/*
  &--pd1 {
    
  }*/
}

.circle {
  width: 5px;
  height: 5px;
  border-radius: 3px;
  margin-right: 5px;

  &--green {
    background-color: #1bd1e7;
  }

  &--blue {
    background-color: #1d89e3;
  }

  &--green2 {
    background-color: #00bd97;
  }

  &--blue2 {
    background-color: #5383ff;
  }

  &--orange {
    background-color: #f76700;
  }

  &--yellow {
    background-color: #f9b700;
  }

}

.select {
  min-width: 65px;
  color: var(--color-grey-first);
  font-size: 13px;
  text-align: center;
  position: relative;

  &--current {
    display: inline-block;
    padding: 2px 0;
    width: 100%;
    border: 1px solid #e5e7e7;
    cursor: pointer;

    &--closed {
      border-radius: 3px;
      border-width: 1px;
    }

    &--open {
      border-radius: 3px 3px 0 0;
      border-width: 1px 1px 0 1px;
    }

    & i {
      font-size: 9px;
    }
  }

  &--list {
    list-style: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    border: 1px solid #e5e7e7;
    border-radius: 0 0 3px 3px;
    border-width: 0 1px 1px 1px;
    background-color: #fff;
    max-height: 100px;
    overflow-y: scroll;

    &--elem {
      border-top: 1px solid #e5e7e7;
      padding: 3px 0;
      cursor: pointer;

      &:hover {
        background-color: var(--color-grey-light);
      }
    }
  }
}