<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:100%">
  <tbody>
    <tr>
      <td style="text-align:center; width:33%">
      <p><span style="font-size:14px"><strong><span style="font-family:Times New Roman,Times,serif">КАЗАКСТАН РЕСПУБЛИКАСЫ<br />
      АКПАРАТ ЖАНЕ<br />
      КОММУНИКАЦИЯЛАР<br />
      МИНИСТРЛИГИ</span></strong></span></p>
      </td>
      <td>
      <p style="text-align:center"><img alt="" height="106" src="http://www.akorda.kz/upload/media/files/427e9aa72082cdf4b4d2d8bf57d066a6.png" width="100" /></p>
      </td>
      <td style="text-align:center; width:33%">
      <p><strong><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif">МИНИСТЕРСТВО<br />
      ИНФОРМАЦИИ И<br />
      КОММУНИКАЦИЙ<br />
      РЕСПУБЛИКИ КАЗАХСТАН</span></span></strong></p>
      </td>
    </tr>
  </tbody>
</table>

<hr />
<p>&nbsp;</p>

<table align="center" border="0" cellpadding="1" cellspacing="1" style="width:100%">
  <tbody>
    <tr>
      <td style="text-align:center; vertical-align:top; width:35%">
      <p><span style="font-size:10px">010000, Астана каласы<br />
      Есил ауданы, Министрликтер уи,<br />
      Мангилик ел, 8 уй, 14 киреберис<br />
      тел.: 8(7172) 74-11-78, 8(7172) 74-03-64<br />
      e-mail: mic@mic.gov.kz</span></p>

      <p><span style="font-size:10px">________ №______________<br />
      ________________________</span></p>
      </td>
      <td style="text-align:center; vertical-align:top">&nbsp;</td>
      <td style="text-align:center; vertical-align:top; width:35%">
      <p><span style="font-size:10px">010000, город Астана<br />
      Есильский район, дом Министерств,<br />
      ул. Мангилик ел, дом 8, подъезд 14<br />
      тел.: 8(7172) 74-11-78, 8(7172) 74-03-64<br />
      e-mail: mic@mic.gov.kz</span></p>
      </td>
    </tr>
  </tbody>
</table>

<p>&nbsp;</p>
