<style src="./style.css" module></style>

<template>
  <label :class="[$style.group, 'mb2']" :style="getStyle">
    <span :class="$style.groupLabel" block>{{label}}</span>
    <a-select v-if="type === 'select'" :text="text"></a-select>
    <a-input v-else :placeholder="placeholder" :value="value" :name="name" :type="type" style="width: 100%;" :input="input"></a-input>
    <p :class="$style.groupError" v-if="getError">{{error.message}}</p>
  </label>
</template>

<script>
import eventBus from 'EventBus'
export default {
  name: 'mInputGroup',
  props: {
    placeholder: {
      type: String,
      default: ''
    },
    label: {
      type: String,
      default: 'Заголовок'
    },
    type: {
      type: String,
      default: 'text'
    },
    value: {
      type: String,
      default: ''
    },
    name: '',
    text: '',
    width: {
      type: String,
      default: '100%'
    },
    input: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      error: ''
    }
  },
  computed: {
    getError () {
      return this.error && this.error.origin === this.name
    },
    getStyle () {
      return {
        width: this.width
      }
    }
  },
  methods: {
    setError (error) {
      this.error = error
    }
  },
  mounted () {
    eventBus.$on('inputError', (data) => {
      this.setError(data)
    })
  }
}
</script>
