<style src="./style.css" module></style>

<template>
  <label :class="$style.checkboxLabel" @change="onChange">
    <input type="checkbox" :class="$style.checkbox" v-model="temp">
    <i v-if="setModificator === 'default'" :class="[$style.checkboxIcon, getStyle]"></i>
    <i v-if="setModificator === 'star'" :class="[getIcon, getStyle]">
      <span v-if="starred" :class="$style.popover">{{tooltip}}</span>
    </i>
    <span>{{label}}</span>
  </label>
</template>

<script>
export default {
  name: 'aCheckbox',
  props: {
    label: {
      type: String,
      default: ''
    },
    modificator: {
      type: String,
      default: 'default'
    },
    checked: {
      type: Boolean
    }
  },
  data () {
    return {
      temp: this.checked,
      starred: false,
      tooltip: ''
    }
  },
  computed: {
    setModificator () {
      if (!this.modificator || (this.modificator !== 'star' && this.modificator !== 'default')) {
        return 'default'
      }
      return this.modificator
    },
    getStyle () {
      const styleMap = {
        'default': this.$style.checkboxIconDefault,
        'star': [this.$style.checkboxIconStar, 'icon-star-empty']
      }
      return styleMap[this.setModificator]
    },
    getIcon () {
      return this.temp ? 'icon-star-full' : 'icon-star-empty'
    }
  },
  methods: {
    onChange () {
      this.$emit('change')
      this.starred = true
      setTimeout(() => {
        this.starred = false
        this.tooltip = ''
      }, 1000)
    }
  },
  watch: {
    checked: function () {
      this.temp = this.checked
      this.tooltip = this.checked ? 'В избранном' : 'Удалено'
    }
  }
}
</script>
