<style src="./style.css" module></style>

<template>
  <div style="width: 100%; overflow: auto;">
    <div :class="$style.ticketsHeader">
      <div :class="[$style.ticketsHeaderFirst, 'flex fl-sb']">
        <div class="flex">
          <span style="margin-right: 20px;">{{currentPage === 'favorite' ? 'Избранные протоколы' : currentPage === 'archived' ? 'Архив' : (currentUser.roleName === 'client' ? navArrayClient[pageIndex].text : navArray[pageIndex].text)}}</span>
          <m-navigation :class="$style.ticketsHeaderFirstBtn" 
                        :array="currentUser.roleName === 'client' ? navArrayClient : navArray" 
                        v-if="currentPage !== 'archived' && currentNav !== 'drag'"></m-navigation>
        </div>
        <div class="flex fl-aic" v-if="currentUser.roleName !== 'client' && currentPage !== 'archived'" style="font-size: 18px;">
          <i :class="currentNav === 'drag' ? 'icon-list' : 'icon-grid'" @click="changeNav"
          :title="currentNav === 'drag' ? 'Показать списком' : 'Показать блоками'"></i></div>
      </div>
      <div :class="[$style.ticketsHeaderSecond, 'flex fl-aic']"> <div></div> Количество заявок: {{tickets.length}}</div>
    </div>
    <div :class="[$style.ticketsList, 'flex']">
      <o-drag-drop :class="$style.ticketsListFull" :tickets="tickets" v-if="currentNav === 'drag'"></o-drag-drop>
      <o-ticket-list  :class="$style.ticketsListLeft" :tickets="tickets" v-else></o-ticket-list>
      <o-history-list :class="$style.ticketsListRight" type="staff" v-if="currentNav !== 'drag'"></o-history-list>
    </div>
    <m-loader :show="showLoader"></m-loader>
  </div>
</template>

<script type="text/javascript">
import mNavigation from 'Molecules/navigation'
import oTicketList from 'Organisms/ticketList'
import oHistoryList from 'Organisms/historyList'
import oDragDrop from 'Organisms/dragndrop'
import mLoader from 'Molecules/loader'
import eventBus from 'EventBus'
import { directive as onClickaway } from 'vue-clickaway'

export default {
  name: 'TicketsList',
  data () {
    return {
      tickets: [],
      navArray: [
        {
          link: 'income',
          name: 'tickets',
          text: 'Входящие'
        },
        {
          link: 'ongoing',
          name: 'tickets',
          text: 'На исполнении'
        },
        {
          link: 'onagreement',
          name: 'tickets',
          text: 'На согласовании'
        },
        {
          link: 'done',
          name: 'tickets',
          text: 'Завершенные'
        },
        {
          link: 'all',
          name: 'tickets',
          text: 'Все протоколы'
        }
      ],
      navArrayClient: [
        {
          link: 'income',
          name: 'tickets',
          text: 'Открытые'
        },
        {
          link: 'done',
          name: 'tickets',
          text: 'Закрытые'
        }
      ],
      showLoader: false
    }
  },
  computed: {
    currentNav () {
      return this.$store.getters.getCurrentNav
    },
    currentPage () {
      return this.$store.getters.getCurrentPage
    },
    currentUser () {
      return this.$auth.currentUser()
    },
    pageIndex () {
      if (this.currentUser.roleName === 'client') {
        return this.navArrayClient.findIndex(x => x.link === this.currentNav)
      } else if (this.currentNav === 'drag') {
        return this.navArray.findIndex(x => x.link === 'all')
      } else return this.navArray.findIndex(x => x.link === this.currentNav)
    }
  },
  beforeMount () {
    if (this.$route.name === 'favorite') this.getFavorites(this.currentNav)
    else if (this.$route.name === 'archive') this.getArchive()
    else this.getTickets(this.currentNav)
  },
  mounted () {
    eventBus.$on('getFavorite', () => {
      this.getFavorites()
    })
    eventBus.$on('getTickets', () => {
      this.getTickets()
    })
    eventBus.$on('getArchive', () => {
      this.getArchive()
    })
    eventBus.$on('changeFavOne', (data) => {
      if (this.currentPage === 'favorite' && data.value) {
        var tempIndex = this.tickets.findIndex(x => x.id === data.id)
        this.tickets.splice(tempIndex, 1)
      } else {
        this.tickets.forEach((item, index) => {
          if (item.id === data.id) {
            this.tickets[index].favorite = !this.tickets[index].favorite
          }
        })
      }
    })
    eventBus.$on('changeFavAll', (data) => {
      if (this.currentPage === 'favorite' && data.value) {
        this.tickets = []
        this.$store.commit('emptyChecked')
      } else {
        this.tickets.forEach((item, index) => {
          this.tickets[index].favorite = !data.value
        })
      }
    })
    eventBus.$on('oneTicketDeleted', (data) => {
      if (data.arr) {
        this.tickets = this.tickets.filter(item => {
          return data.arr.indexOf(item.id) === -1
        })
      }
      setTimeout(() => {
        this.handleErr(data.msg, 'success')
      }, 300)
    })
    eventBus.$on('moveTicket', (data) => {
      var tempIndex1 = this.tickets.findIndex(x => x.id === data.card.id)
      this.tickets.splice(tempIndex1, 1)
      const newTicket = data.card
      newTicket.type = data.type
      this.tickets.push(newTicket)
    })
  },
  methods: {
    getTickets (nav) {
      this.showLoader = true
      this.$apiTicket.getTickets(nav)
        .then(res => {
          this.tickets = res.data
          this.showLoader = false
        }).catch(err => { this.handleErr(err.response.data.message, 'error') })
    },
    getFavorites (nav) {
      this.showLoader = true
      this.$apiTicket.getFavorites(nav)
        .then(res => {
          this.tickets = res.data
          this.showLoader = false
        }).catch(err => { this.handleErr(err.response.data.message, 'error') })
    },
    getArchive () {
      this.showLoader = true
      this.$apiTicket.getArchive()
        .then(res => {
          this.tickets = res.data
          this.showLoader = false
        }).catch(err => { this.handleErr(err.response.data.message, 'error') })
    },
    handleErr (msg, type) {
      this.showLoader = false
      if (msg === 'Invalid token') {
        this.$auth.logout().then(res => { this.$router.go('login') })
      } else {
        this.$notify({
          group: 'tickets',
          type: type,
          text: msg,
          speed: 300
        })
      }
    },
    changeNav () {
      if (this.currentNav === 'drag') this.$store.commit('changeNav', 'income')
      else this.$store.commit('changeNav', 'drag')
    }
  },
  watch: {
    currentNav: function () {
      if (this.currentPage === 'favorite') {
        if (this.currentNav === 'drag') this.getFavorites('all')
        else this.getFavorites(this.currentNav)
      } else {
        if (this.currentNav === 'drag') this.getTickets('all')
        else this.getTickets(this.currentNav)
      }
    }
  },
  components: {
    oTicketList,
    oHistoryList,
    mNavigation,
    mLoader,
    oDragDrop
  },
  directives: {
    onClickaway
  }
}
</script>
