.tickets {
  &--list {
    /*display: inline-flex;*/
    width: 100%;
    height: calc(100% - 122px);
    background: var(--color-grey-light);
    padding: 0 25px 25px;

    &--left {
      width: 80%;
    }

    &--right {
      width: 20%;
    }

    &--full {
      width: 100%;
    }
  }

  &--header {
    width: 100%;
    background: var(--color-grey-light);
    padding: 20px 25px 0;
    color: var(--color-grey-first);
    font-weight: 300;

    &--first {
      /*display: inline-flex;*/
      padding: 20px;
      width: 100%;
      
      & span {
        font-size: 2.3rem;
      }

      &--btn {
        margin-top: 3px;
      }

      & div:nth-child(2) i {
        cursor: pointer;
      }
    }

    &--second {
      padding: 10px 0;

      & div {
        width: 5px;
        height: 5px;
        border-radius: 2px;
        background-color: #72db34;
        margin: 0 5px 0 10px;
      }
    }
  }

}
