<style src="./style.css" module></style>

<template>
  <div @click="goHome" :class="$style.pointer">
    <p :class="[$style.logo, $style.logoMain, 'flex', 'fl-aic']" :style="colorMain">ZERDE</p>
    <p :class="[$style.logo, $style.logoSecondary, 'flex', 'fl-aic']" :style="colorSecondary">{{subtitle}}</p>
    <p :class="[$style.logo, $style.logoDescription, 'flex', 'fl-aic']" v-html="description" :style="colorDescription"></p>
  </div>
</template>

<script>
import eventBus from 'EventBus'
export default {
  name: 'mLogo',
  props: {
    titleColor: {
      type: String,
      default: '#000'
    },
    subtitle: {
      type: String,
      default: 'ticket'
    },
    subtitleColor: {
      type: String,
      default: '#fff'
    },
    description: {
      type: String,
      default: 'оперативный центр <br> обслуживания клиентов'
    },
    descriptionColor: {
      type: String,
      default: '#fff'
    }
  },
  data () {
    return {
      colorMain: {
        color: this.titleColor
      },
      colorSecondary: {
        color: this.subtitleColor
      },
      colorDescription: {
        color: this.descriptionColor
      }
    }
  },
  methods: {
    goHome () {
      this.$router.push('/')
      eventBus.$emit('go-home')
    }
  }
}
</script>
