.logo {
  text-transform: uppercase;
  font-weight: 300;

  &--main {
    font-family: var(--font-logo);
    font-size: 35px;
    transform: scaleY(1.1);
  }

  &--secondary {
    height: 35px;
    border-right: 1px solid #000;
    font-size: 15.96px;
    padding: 0 10px;
  }

  &--description {
    font-size: 9.0225px;
    line-height: 1.5em;
    padding-left: 10px;
  }
}

.pointer {
  cursor: pointer
}
