<style src="./style.css" module></style>
  <template>
    <a-grid :class="$style.history" block>
      <a-grid-item grid="grid-1-12">
        <i class="icon-price-tags"></i>
      </a-grid-item>
      <a-grid-item grid="grid-10-12">
        <a-link :href="link" :text="ticket.title" type="main" target="_blank"></a-link>
      </a-grid-item>
    </a-grid>
  </template>

<script type="text/javascript">
export default {
  name: 'mTicketHistory',
  props: {
    ticket: {
      type: Object,
      default: () => {
        return {
          title: '',
          id: ''
        }
      }
    }
  },
  data () {
    return {
      link: './#/oneticket?ticket=' + this.ticket.id
    }
  }
}
</script>