<style src="./style.css" module></style>

<template>
  <div style="width: 100%; overflow: auto;">
    <div :class="[$style.ticketsHeader, 'flex fl-sb']">
      <span>Статистика</span>
    </div>
    <div :class="$style.ticketsList">
      <o-dashboard></o-dashboard>
    </div>
  </div>
</template>

<script type="text/javascript">
import oDashboard from 'Organisms/dashboard'

export default {
  name: 'Dashboard',
  components: {
    oDashboard
  }
}
</script>
