.tickets {
  &--list {
    display: inline-flex;
    width: 100%;
    height: calc(100% - 49px);
    background: var(--color-grey-light);
    padding: 25px;
  }

  &--header {
    width: 100%;
    background: var(--color-grey-light);
    padding: 40px 45px 0;
    color: var(--color-text-secondary);
    font-weight: 300;

    & span {
      font-size: 2.3rem;
    }
  }
}
