<style src="./style.css" module></style>

<template>
  <div :class="$style.datepicker">
    <div :class="[$style.datepickerDate, 'flex fl-sb']">
      <div :class="$style.datepickerDateContent">
        <div :class="[$style.datepickerDateContentDayUp, 'cursor']">
          <div class="arrow-up" @click="changeDate('dayUp')"></div>
        </div>
        <div :class="$style.datepickerDateItem">{{currentDay}}</div>
        <div :class="[$style.datepickerDateContentDayDown, 'cursor']">
          <div class="arrow-down" @click="changeDate('dayDown')"></div>
        </div>
      </div>
      <div :class="$style.datepickerDateContent">
        <div :class="[$style.datepickerDateContentMonthUp, 'cursor']">
          <div class="arrow-up" @click="changeDate('monthUp')"></div>
        </div>
        <div :class="$style.datepickerDateItem" style="min-width: 52px">{{months[currentMonth]}}</div>
        <div :class="[$style.datepickerDateContentMonthDown, 'cursor']">
          <div class="arrow-down" @click="changeDate('monthDown')"></div>
        </div>
      </div>
      <div :class="$style.datepickerDateContent">
        <div :class="[$style.datepickerDateContentYearUp, 'cursor']">
          <div class="arrow-up" @click="changeDate('yearUp')"></div>
        </div>
        <div :class="$style.datepickerDateItem">{{currentYear}}</div>
        <div :class="[$style.datepickerDateContentYearDown, 'cursor']">
          <div class="arrow-down" @click="changeDate('yearDown')"></div>
        </div>
      </div>
    </div>
    <div :class="[$style.datepickerTime, 'flex fl-c']" v-if="showtime">
      <input type="time" 
             name="timepicker" 
             :class="$style.datepickerTimeContent" 
             :value="currentHour + ':' + currentMinute"
             @change="onChange">
    </div>
    <div :class="$style.datepickerBtn">
      <a-button text="Применить"
                  modificator="ordinary"
                  color="blue"
                  type="button"
                  @click="onClick" block></a-button>
    </div>
  </div>
</template>

<script>
import eventBus from 'EventBus'
import moment from 'moment'

export default {
  name: 'mDatePicker',
  props: ['deadline', 'showtime'],
  data () {
    return {
      currentMonth: new Date().getMonth(),
      currentDay: new Date().getDate(),
      currentYear: new Date().getFullYear(),
      months: moment.localeData('ru').monthsShort(),
      currentHour: new Date().getHours(),
      currentMinute: new Date().getMinutes()
    }
  },
  computed: {
    lastDay () {
      return new Date(this.currentYear, this.currentMonth + 1, 0).getDate()
    }
  },
  beforeMount () {
    this.computeCurrent(this.deadline)
  },
  methods: {
    changeDate (type) {
      switch (type) {
        case 'dayUp': this.currentDay = this.currentDay + 1 <= this.lastDay ? this.currentDay + 1 : 1
          break
        case 'dayDown': this.currentDay = this.currentDay - 1 > 0 ? this.currentDay - 1 : this.lastDay
          break
        case 'monthUp': this.currentMonth = this.currentMonth + 1 < this.months.length ? this.currentMonth + 1 : 0
          this.checkCurrentLastDay()
          break
        case 'monthDown': this.currentMonth = this.currentMonth - 1 >= 0 ? this.currentMonth - 1 : this.months.length - 1
          this.checkCurrentLastDay()
          break
        case 'yearUp': this.currentYear = this.currentYear + 1 < new Date().getFullYear() + 6 ? this.currentYear + 1 : new Date().getFullYear()
          this.checkCurrentLastDay()
          break
        case 'yearDown': this.currentYear = this.currentYear - 1 >= new Date().getFullYear() ? this.currentYear - 1 : new Date().getFullYear() + 5
          this.checkCurrentLastDay()
          break
      }
    },
    computeCurrent (date) {
      this.currentMonth = new Date(date).getMonth()
      this.currentDay = new Date(date).getDate()
      this.currentYear = new Date(date).getFullYear()
      this.currentHour = new Date(date).getHours()
      this.currentMinute = new Date(date).getMinutes()
    },
    onClick () {
      var date = new Date(this.currentYear, this.currentMonth, this.currentDay, this.currentHour, this.currentMinute)
      eventBus.$emit('snoozeTicket', date)
    },
    onChange (e) {
      this.currentHour = e.target.value.split(':')[0]
      this.currentMinute = e.target.value.split(':')[1]
    },
    checkCurrentLastDay () {
      if (this.currentDay > this.lastDay) {
        this.currentDay = this.lastDay
      }
    }
  },
  watch: {
    deadline: function () {
      this.computeCurrent(this.deadline)
    }
  }
}
</script>
