.datepicker {
  background-color: #fff;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid var(--color-border-secondary);
  box-shadow: var(--shadow-level-main);
  padding: 20px;
  z-index: 1;
  position: absolute;
  left: 315px;
  /*top: 40px;*/
  color: var(--color-grey-first);
  font-weight: 300;
  width: 180px;

  &--date {
    &--content {
      position: relative;
      height: auto;
      width: auto;

      &--dayUp {
        padding: 0 7px 5px;
      }

      &--dayDown {
        padding: 5px 7px 0;
      }

      &--monthUp {
        padding: 0 13px 5px;
      }

      &--monthDown {
        padding: 5px 13px 0;
      }

      &--yearUp {
        padding: 0 13px 5px;
      }

      &--yearDown {
        padding: 5px 13px 0;
      }
    }

    &--item {
      border: 1px solid var(--color-border-secondary);
      padding: 5px 10px;
      min-width: 32px;
      text-align: center;
    }
  }

  &--time {
    position: relative;
    height: auto;
    width: auto;
    margin-top: 15px;
    &--content {
      
      border: 1px solid var(--color-border-secondary);
      padding: 5px 10px;
      /*min-width: 32px;*/
      /*text-align: center;*/
      color: var(--color-grey-first);
    }
  }

  &--btn {
    margin-top: 10px;
  }
}

input[type=time]::-webkit-inner-spin-button, 
input[type=time]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

:global .arrow-down {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--color-grey-third);
}

:global .arrow-up {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--color-grey-third);
}

:global .cursor {
  cursor: pointer;
}