<style src="./style.css" module></style>

<template>
  <div :class="$style.history">
    <div :class="[$style.historyTitle]">
      История
    </div>
    <div :class="$style.historyList">
      <div v-if="histories.length === 0" class="flex fl-c" style="font-size: 14px; color: #929292">
        <h4>Нет историй</h4>
      </div>
      <m-action-history v-for="history in histories" :key="history.id" :history="history" 
                        v-if="type === 'staff' && histories && histories.length > 0"></m-action-history>
      <m-action-profile v-for="history in histories" :key="history.id" :history="history" 
                        v-if="type === 'profile' && histories && histories.length > 0"></m-action-profile>
    </div>
  </div>
</template>

<script>
import mActionHistory from 'Molecules/actionHistory'
import mActionProfile from 'Molecules/actionProfile'

export default {
  name: 'oHistoryList',
  props: {
    type: {
      type: String,
      default: 'staff'
    }
  },
  data () {
    return {
      histories: []
    }
  },
  sockets: {
    historyStaffAdded (data) {
      if (this.type === 'staff') {
        this.histories.unshift(data)
      }
    },
    profileHistoryAdded (data) {
      if (this.type === 'profile') {
        this.histories.unshift(data)
      }
    }
  },
  beforeMount () {
    if (this.type === 'profile') {
      const user = this.$route.name === 'edit' ? this.$route.params.id.split('-')[1] : this.$auth.currentUser().id
      this.$apiHistory.getHistoryProfile(user)
        .then(res => {
          this.histories = res.data
        }).catch((err) => {
          if (err.response.data.message === 'Invalid token') {
            this.$auth.logout().then(res => { this.$router.go('login') })
          }
        })
    } else {
      this.$apiHistory.getStaffHistory()
        .then(res => {
          this.histories = res.data
        }).catch((err) => {
          if (err.response.data.message === 'Invalid token') {
            this.$auth.logout().then(res => { this.$router.go('login') })
          }
        })
    }
  },
  components: {
    mActionHistory,
    mActionProfile
  }
}
</script>