.history {
  font-family: inherit;
  font-size: 11px;
  background: #f0f0f0;
  border: 1px solid var(--color-grey);
  font-weight: 300;

  &--title {
    padding: 20px;
    border-bottom: 1px solid var(--color-grey);
    color: var(--color-grey-first);
    font-size: 15px;
  }

  &--list {
    padding: 20px 0;
    height: calc(100% - 55px);
    overflow-y: scroll;
  }
}
