<style src="../style.css" module></style>

<template>
  <div :class="$style.ticketsBodyPersonal">
    <div :class="[$style.ticketsList, 'flex']">
      <div class="flex fl-dc" style="width: 80%;">
        <div :class="[$style.bread, 'flex', 'fl-aic', 'pl2']">
          <a-button name="arrowLeft"
                    color="greyLight"
                    modificator="ordinary"
                    @click="goBack"
                    ></a-button>
        </div>
        <div :class="[$style.personal, $style.personalOne]" style="width: 100%">
          <div :class="[$style.personalHeader, 'ph5', 'pv2', 'flex']">
            <div :class="[$style.personalAvatar, 'mr2']">
              <img :src="user.avatar" alt="Аватар">
              <div :class="['flex', 'fl-sa', 'fl-aic']">
                <input type="file" style="display: none" id="file"  accept="image/*" @change="loadFile">
                <a-button color="none" name="cog" modificator="ordinary" @click="openFile"></a-button>
                <a-button v-if="!isImagePresent" color="none" name="trash" modificator="ordinary" @click="deleteImage"></a-button>
              </div>
            </div>
            <div :class="['flex', 'fl-dc', 'fl-sb', $style.personalHeaderInfo]">
              <div class="">
                <p>{{user.name}}</p>
                <p>{{user.username}}</p>
              </div>
              <div>
                <p>{{user.role ? user.role.name : ''}} {{user.department && user.department.director ? user.department.name : ''}}</p>
                <p>{{user.email}}</p>
              </div>
            </div>
          </div>
          <div :class="['ph5', 'flex', 'pt1', $style.ticketsBody]" style="overflow-y: scroll">
            <form @submit.prevent="update">
              <m-input-group name="name" label="Имя" width="300px" :value="user.name"></m-input-group>
              <a-select :text="formData.role.name"
                        style="min-width: 200px; margin: 10px 0px;"
                        color="blue" 
                        name="role"
                        :showbg="true"
                        textType="none"
                        :array="roles"></a-select>
              <a-select v-if="(user.department && !user.department.director) || showSelect"
                        :text="formData.department.name ? formData.department.name : 'Выберите департамент'"
                        style="min-width: 200px; margin: 10px 0px;"
                        color="blue" 
                        name="department"
                        :showbg="true"
                        textType="none"
                        :array="departments"></a-select>
              <m-input-group name="director" 
                             label="Новый директор" 
                             width="300px" 
                             :input="true"
                             :value="formData.director ? formData.director.name : ''"
                             v-if="showNewDir"></m-input-group>
              <div :class="$style.select" v-if="empList.length > 0">
                <ul :class="[$style.selectList]">
                  <li :class="$style.selectListElem"
                    v-for="(boss, index) in empList"
                    :key="index"
                    @click="chooseEmp(boss)">{{ boss.name }}</li>
                </ul>
              </div>
              <m-input-group name="boss" 
                             label="Имя руководителя" 
                             width="300px" 
                             v-if="user.boss || showBoss" 
                             :value="formData.boss.name"
                             :input="true"></m-input-group>
              <div :class="$style.select" v-if="bossList.length > 0">
                <ul :class="[$style.selectList]">
                  <li :class="$style.selectListElem"
                    v-for="(boss, index) in bossList"
                    :key="index"
                    @click="chooseBoss(boss)">{{ boss.name }}</li>
                </ul>
              </div>
              <m-input-group name="keywords" 
                             placeholder="Введите ключевые слова через запятые"
                             label="Ключевые слова" 
                             v-if="user.role && user.role.code === 'director'"
                             :value="keywords"></m-input-group>
              <a-button :class="['mb3']" modificator="ordinary" color="blue" text="Сохранить" textType="none"></a-button>
            </form>
          </div>
        </div>
      </div>
      <o-history-list :class="$style.history" type="profile"></o-history-list>
    </div>
    <modal name="upload-photo" width="340" height="425">
      <div :class="[$style.modal, 'flex', 'fl-dc']">
        <div :class="['flex', 'fl-sb', $style.modalHeader]">
          <p>Загрузка фото</p>
          <a-button modificator="ordinary" name="xCircle"  color="none"></a-button>
        </div>
        <div :class="['flex', 'fl-dc', 'fl-sb', 'fl-aic', $style.modalBody]">
          <img :src="imageSrc" alt="Preview image" :class="$style.personalImage">
          <div :class="['flex', 'fl-sa']">
            <a-button modificator="ordinary" text="Сохранить" color="blue" class="mh1" @click="uploadFile" textType="none"></a-button>
            <a-button modificator="ordinary" text="Отмена" color="grey" class="mh1" @click="closeModal" textType="none"></a-button>
          </div>
        </div>
      </div>
    </modal>
    <m-loader :show="showLoader"></m-loader>
  </div>
</template>
<script>
import eventBus from 'EventBus'
import mInputGroup from 'Molecules/inputGroup'
import mLoader from 'Molecules/loader'
import oHistoryList from 'Organisms/historyList'

export default {
  name: 'pOneStaff',
  computed: {
    isImagePresent () {
      return this.user && this.user.avatar === '/images/photo-placeholder.png'
    }
  },
  data () {
    return {
      user: {},
      departments: [],
      roles: [],
      formData: {
        role: '',
        department: {}
      },
      uploadedPhoto: '',
      imageSrc: '',
      showSelect: false,
      showBoss: false,
      showNewDir: false,
      showLoader: false,
      bossList: [],
      empList: [],
      keywords: ''
    }
  },
  methods: {
    update () {
      this.showLoader = true
      const myId = this.$route.params.id.split('-')[1]
      this.$apiUser.updateUser(myId, this.formData, this.$route.params.type)
        .then(({ data }) => {
          if (this.user && this.user.id !== this.$auth.currentUser().id) {
            const newNotif = this.$util.notification(this.$auth.currentUser().id, this.user.id, 'profile')
            this.$socket.emit('addNotification', newNotif)
          }
          const newHistory = this.$util.profileHistory(this.formData, this.$auth.currentUser().id, this.user)
          this.$socket.emit('addProfileHistory', { newHistory, roomName: `company-${this.$auth.currentUser().company}` })
          this.getCurrentUser()
          this.handleErr(data.message, 'success')
        }).catch((err) => {
          if (err.response.data.message === 'Invalid token' || err.response.data.access) {
            this.handleErr(err.response.data.message, 'error')
          } else {
            this.showLoader = false
            eventBus.$emit('inputError', { ...err.response.data })
          }
        })
    },
    goBack () {
      this.$router.go(-1)
    },
    openFile () {
      document.querySelector('#file').click()
    },
    loadFile (ev) {
      if (ev.target.files && ev.target.files[0]) {
        const reader = new FileReader()

        reader.onload = e => { this.imageSrc = e.target.result }

        reader.readAsDataURL(ev.target.files[0])
        this.uploadedPhoto = ev.target.files[0]
        this.$modal.show('upload-photo')
      }
    },
    closeModal () {
      this.$modal.hide('upload-photo')
    },
    uploadFile () {
      const myId = this.$route.params.id.split('-')[1]
      const data = new FormData()
      this.showLoader = true
      data.append('avatar', this.uploadedPhoto)
      this.$apiUser.changeAvatar(myId, data)
        .then(({ data }) => {
          if (this.user && this.user.id !== this.$auth.currentUser().id) {
            const newNotif = this.$util.notification(this.$auth.currentUser().id, this.user.id, 'profile')
            this.$socket.emit('addNotification', newNotif)
          }
          this.user.avatar = data.avatar
          this.$modal.hide('upload-photo')
          const newHistory = this.$util.avatarHistory(this.$auth.currentUser().id, this.user)
          this.$socket.emit('addProfileHistory', { newHistory, roomName: `company-${this.$auth.currentUser().company}` })
          this.handleErr(data.message, 'success')
        }).catch(err => { this.handleErr(err.response.data.message, 'error') })
    },
    deleteImage () {
      this.showLoader = true
      this.$apiUser.deleteImage(this.user.id)
        .then(({ data }) => {
          if (this.user && this.user.id !== this.$auth.currentUser().id) {
            const newNotif = this.$util.notification(this.$auth.currentUser().id, this.user.id, 'profile')
            this.$socket.emit('addNotification', newNotif)
          }
          this.user.avatar = data.avatar
          const newHistory = this.$util.avatarHistory(this.$auth.currentUser().id, this.user)
          this.$socket.emit('addProfileHistory', { newHistory, roomName: `company-${this.$auth.currentUser().company}` })
          this.handleErr(data.message, 'success')
        }).catch(err => { this.handleErr(err.response.data.message, 'error') })
    },
    checkNewRole (data) {
      var levelOfDir = this.roles.filter(item => {
        return item.code === 'director'
      })[0].level
      if (this.user.role.code === 'director') {
        this.showBoss = data.level < levelOfDir
        this.showSelect = false
        this.showNewDir = data.level !== levelOfDir
      } else {
        this.showBoss = data.level <= levelOfDir
        this.showSelect = data.level >= levelOfDir && this.user.role.level < levelOfDir
        this.showNewDir = false
      }
    },
    getBossList (value, name) {
      if (value) {
        if (name === 'director') {
          this.$apiUser.getEmpList(this.user.department.id, value)
            .then(res => {
              this.empList = res.data
            })
        } else {
          this.$apiUser.getBossList(this.$route.params.type, value)
            .then(res => {
              this.bossList = res.data
            })
        }
      } else {
        this.bossList = []
        this.empList = []
      }
    },
    chooseBoss (boss) {
      this.formData.boss = boss
      this.bossList = []
    },
    chooseEmp (emp) {
      this.formData.director = emp
      this.empList = []
    },
    getCurrentUser () {
      const myId = this.$route.params.id.split('-')[1]
      this.$apiUser.getUser(myId, this.$route.params.type)
        .then(({ data }) => {
          this.keywords = data.user.keywords ? data.user.keywords.map(item => {
            return item.word
          }).join(', ') : ''
          this.showLoader = false
          this.user = data.user
          this.roles = data.roles
          this.departments = data.departments
          this.formData.role = this.user.role
          this.formData.department = data.user.department ? data.user.department : {}
          this.formData.boss = data.user.boss ? data.user.boss : {}
        })
        .catch(err => { this.handleErr(err.response.data.message, 'error') })
    },
    handleErr (msg, type) {
      this.showLoader = false
      if (msg === 'Invalid token') {
        this.$auth.logout().then(res => { this.$router.go('login') })
      } else {
        this.$notify({
          group: 'tickets',
          type: type,
          text: msg,
          speed: 300
        })
      }
    }
  },
  beforeMount () {
    this.showLoader = true
    this.getCurrentUser()
  },
  mounted () {
    eventBus.$on('inputChange', data => {
      this.formData[data.name] = data.value
    })
    eventBus.$on('selectChange', data => {
      if (data.name === 'role') this.checkNewRole(data.data)
      this.formData[data.name] = data.data
    })
    eventBus.$on('inputOnChange', data => {
      this.getBossList(data.value, data.name)
    })
  },
  components: {
    mInputGroup,
    mLoader,
    oHistoryList
  }
}
</script>
