<style src="./style.css" module></style>

<template>
  <div :class="[$style.ticket, 'flex fl-sb']">
    <form @submit.prevent="onClick" name="form" enctype="multipart/form-data">
      <div :class="[$style.ticketHeader, 'flex fl-aic fl-sb']">
        <m-input-group label="Тема протокола*" name="title" width="30%" placeholder="Введите тему протокола" :value="ticketData.title"></m-input-group>
        <a-select :array="array" :text="currentTemplate" color="blue" :showbg="true" textType="none"></a-select>
      </div>
      <vue-ckeditor id="editor1" v-model="ticketData.text" :config="config"></vue-ckeditor>
      <div :class="['flex', 'fl-aic fl-sb']" style="margin-top: 10px">
        <div :class="$style.ticketFile">
          <a-file-upload @change="handleFileUpload"></a-file-upload>
        </div>
        <a-button modificator="main" text="Добавить" color="blue" textType="none" style="width: 8%; height: 39px;"></a-button>
      </div>
    </form>
    <modal name="send-ticket" width="400" height="150">
      <div :class="[$style.modal, 'flex', 'fl-dc']">
        <div :class="['flex', 'fl-sb', $style.modalHeader]">
          <p>Отправка протокола</p>
          <a-button modificator="ordinary" name="xCircle" @click="closeModal" color="none"></a-button>
        </div>
        <form :class="['flex fl-dc fl-aic fl-sb', $style.modalBody]" @submit.prevent="sendTicket('income')">
          <div :class="['flex', 'fl-c']">
            Отправить этот протокол Зерде?
          </div>
          <div :class="['flex', 'fl-sa']" style="width: 250px;">
            <a-button modificator="ordinary" text="Отправить" color="blue" textType="none"></a-button>
            <a-button modificator="ordinary" text="Добавить без отправки" color="greyLight" textType="none" type="button" @click="sendTicket('pending')"></a-button>
          </div>
        </form>
      </div>
    </modal>
    <m-loader :show="showLoader"></m-loader>
    <notifications group="tickets" position="top center" class="mt1"/>
  </div>
</template>

<script type="text/javascript">
import mInputGroup from 'Molecules/inputGroup'
import eventBus from 'EventBus'
import VueCkeditor from 'vue-ckeditor2'
import mLoader from 'Molecules/loader'

export default {
  name: 'oNewTicket',
  data () {
    return {
      ticketData: {
        text: '',
        files: []
      },
      showLoader: false,
      array: [
        {
          name: 'Без шаблона',
          text: ''
        }
      ],
      currentTemplate: 'Без шаблона',
      config: {
        toolbar: [
          { name: 'document', items: ['Source', '-', 'Preview', 'Print', '-'] },
          { name: 'clipboard', items: ['Undo', 'Redo', '-'] },
          { name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize'] },
          { name: 'colors', items: ['TextColor', 'BGColor'] },
          { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-'] },
          { name: 'paragraph', items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl'] },
          { name: 'links', items: ['Link'] },
          { name: 'insert', items: ['Image', 'Table', 'HorizontalRule', 'SpecialChar', 'PageBreak'] }
        ],
        extraPlugins: 'image2',
        height: '380px',
        resize_enabled: false,
        startupShowBorders: false,
        language: 'ru',
        indent: false,
        breakBeforeOpen: false,
        breakAfterOpen: false,
        breakBeforeClose: false,
        breakAfterClose: false
      }
    }
  },
  computed: {
    currentUser () {
      return this.$auth.currentUser()
    }
  },
  beforeMount () {
    this.showLoader = true
    setTimeout(() => {
      this.showLoader = false
    }, 100)
    this.getTemplates()
  },
  mounted () {
    eventBus.$on('selectChange', data => {
      this.currentTemplate = data.data.name
      this.ticketData.text = data.data.text
    })
    eventBus.$on('removeFile', index => {
      this.ticketData.files.splice(index, 1)
    })
    eventBus.$on('inputChange', data => {
      this.ticketData[data.name] = data.value
    })
  },
  methods: {
    sendTicket (type) {
      this.closeModal()
      this.showLoader = true
      var data = new FormData()
      data.append('text', this.ticketData.text)
      data.append('plainText', CKEDITOR.instances.editor1.document.getBody().getText())
      data.append('title', this.ticketData.title)
      data.append('type', type)
      for (var x = 0; x < this.ticketData.files.length; x++) {
        data.append('fileToUpload[]', this.ticketData.files[x])
      }
      this.$apiTicket.addTicket(data)
        .then(res => {
          this.showLoader = false
          this.ticketData = {
            title: '',
            text: '',
            files: []
          }
          this.rrentTemplate = 'Без шаблона'
          eventBus.$emit('clearField')
          this.$notify({
            group: 'tickets',
            type: 'success',
            text: 'Новый протокол добавлен',
            speed: 300
          })
          if (type !== 'pending') {
            const newHistory = this.$util.staffHistory(this.$auth.currentUser().id, null, 'new', [res.data.id])
            this.$socket.emit('addStaffHistory', { newHistory, roomName: `company-${this.$auth.currentUser().company}` })
          }
        }).catch(err => {
          this.showLoader = false
          this.errorHandler(err)
        })
    },
    onClick () {
      if (this.ticketData.title && this.ticketData.title !== '') {
        if (this.currentUser.roleName === 'client') this.openModal()
        else this.sendTicket('income')
      } else eventBus.$emit('inputError', { origin: 'title', message: 'Тема протокола не должна быть пустой' })
    },
    openModal () {
      this.$modal.show('send-ticket')
    },
    closeModal () {
      this.$modal.hide('send-ticket')
    },
    getTemplates () {
      this.$api.getTemplates()
        .then(res => { this.array = this.array.concat(res.data) })
        .catch(err => { this.errorHandler(err) })
    },
    handleFileUpload (data) {
      Array.from(data).forEach((item, index) => {
        this.ticketData.files.push(item)
      })
    },
    errorHandler (err) {
      if (err.response.data.message === 'Invalid token') {
        this.$auth.logout().then(res => { this.$router.go('login') })
      } else {
        this.$notify({
          group: 'tickets',
          type: 'error',
          text: err.response.data.message,
          speed: 300
        })
      }
    }
  },
  components: {
    mInputGroup,
    VueCkeditor,
    mLoader
  }
}
</script>
