.ticket {
  margin-top: 20px;
  width: 100%;
  height: 100%;

  &--header {
    padding-left: 20px;

    & button {
      height: 23px;
    }

    & input {
      border-bottom: 1px dashed var(--color-red);
    }
  }

  &--file {
    width: 90%;
    border: 1px solid #d1d1d1;
  }

  &--right {
    width: 10%;
    max-height: 100%;
    overflow-y: scroll;
  }
}

.modal {
  height: 100%;

  &--header {
    color: #fff;
    padding: 0 20px;
    line-height: 3;
    background: var(--color-background)
  }

  &--body {
    padding: 20px;
    flex-grow: 1;
  }
}