<style src="./style.css" module></style>
  <template>
    <div :class="[$style.history]" v-if="!(currentUser !== history.userFrom.id && history.text_one[0].indexOf('пароль') > -1)">
      <div :class="$style.historyDate">
        <a-date modificator="grey" format="L LT" :date="history.created_at"></a-date>
      </div>
      <div :class="$style.historyText">
        <span :class="$style.historyTextBlue">
          {{currentUser === history.userFrom.id ? 'Вы' : history.userFrom.username + ' | ' + history.userFrom.name}}
        </span>
        {{(currentUser === history.userFrom.id) ? history.text_one[0] : history.text_two[0]}} 
        <span>{{history.old_value ? history.old_value : ''}}</span> 
        {{history.text_one[1] ? ((currentUser === history.userFrom.id) ? history.text_one[1] : history.text_two[1]) : ''}}
        <span>{{history.new_value ? history.new_value : ''}}</span>
      </div>
    </div>
  </template>

<script type="text/javascript">
export default {
  name: 'mActionProfile',
  props: {
    history: {
      type: Object
    }
  },
  computed: {
    currentUser () {
      return this.$auth.currentUser().id
    }
  }
}
</script>