.history {
  font-family: inherit;
  font-size: 14px;
  background: #f0f0f0;
  color: var(--color-grey-fifth);
  border: 1px solid var(--color-grey);

  &--title {
    padding: 15px 20px;
    border-bottom: 1px solid var(--color-grey);
    font-size: 15px;
  }

  &--user {
    padding: 10px 15px;
  }

  &--list {
    height: calc(100% - 109px);
    
    &--header {
      color: var(--color-grey-sixth);
      padding: 10px 15px;
    };
  }
}
